<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edit Staff' : 'Create Staff' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article, actions" />

      <v-form
        v-if="!loading"
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            First Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.firstName"
              :rules="formValidate.name"
              placeholder="Input Name"
              hide-details
              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Last Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.lastName"
              :rules="formValidate.lastName"
              placeholder="Input Surname"
              dense
              outlined
              hide-details />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Phone
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.tel"
              :rules="formValidate.tel"
              placeholder="Input Tel"
              hide-spin-buttons
              dense
              type="text"
              outlined
              hide-details />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Email
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.email"
              :rules="formValidate.email"
              placeholder="Input Email"
              dense
              outlined
              hide-details />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Role
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model="form.role"
              :rules="formValidate.role"
              :items="roleEnum"
              placeholder="Select Role"
              outlined
              dense
              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Passcode
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-text-field
              v-model.trim="form.passCode"
              :rules="formValidate.passCode"
              :maxlength="6"
              placeholder="Input Passcode"
              type="number"
              hide-spin-buttons
              dense
              outlined
              hide-details />

            <div class="ml-5">
              Use 6 numbers with out a letters, & symbols
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Staff Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="swicthState"
                class="activeColor">Active</span>
              <span
                v-if="!swicthState"
                class="suspendedColor">Inactive</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="swicthState"
                  dense
                  inset
                  color="#6FCF97"
                  @change="mapSwicth"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              :loading="processing"
              class="mr-3"
              type="submit">
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/staff">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>

import StaffProvider from '@/resources/StaffProvider'

const staffService = new StaffProvider()
export default {
  name: 'UserAddPage',
  data () {
    return {
      loading: false,
      swicthState: true,
      form: {
        firstName: '',
        lastName: '',
        passCode: '',
        role: '',
        tel: '',
        email: '',
        status: ''
      },
      roleEnum: [
        {
          text: 'Manager',
          value: 'MANAGER'
        },
        {
          text: 'Staff',
          value: 'STAFF'
        }
      ],
      processing: false,
      formValid: false,
      formValidate: {
        name: [
          (val) => !!val || 'Required'
        ],
        lastName: [
          (val) => !!val || 'Required'
        ],
        tel: [
          (val) => !!val || 'Required',
          (val) => /^\d{3}[-]?\d{3}[-]?\d{4}$/.test(val) || 'Invalid Phone Number'
        ],
        passCode: [
          (val) => !!val || 'Required',
          (val) => val.length === 6 || '6 character'
        ],
        role: [
          (val) => !!val || 'Required'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }

    }
  },
  computed: {
    staffId () {
      return this.$route?.params?.staffId || null
    },
    isUpdate () {
      return !!this.staffId
    }
  },
  mounted () {
    if (this.isUpdate) {
      this.getStaffInfo()
    }
  },
  methods: {
    mapSwicth () {
      if (this.swicthState) {
        this.form.status = 'active'
      } else {
        this.form.status = 'inactive'
      }
    },
    async submit () {
      try {
        this.processing = true
        this.form.tel = this.form.tel.replace(/-/g, '')
        if (this.isUpdate) {
          await staffService.updateStaff(
            this.staffId,
            this.form
          )
        } else {
          await staffService.createStaff({ ...this.form })
        }
        this.$router.push('/staff')
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.processing = false
      }
    },
    async getStaffInfo () {
      try {
        this.loading = true
        const { data } = await staffService.getStaffById(this.staffId)

        this.form = {
          email: data.email || '',
          firstName: data.firstName || '',
          lastName: data.lastName || '',
          passCode: data.passCode || '',
          role: data.role || '',
          tel: data.tel.replace(/([\d]{3})([\d]{3})([\d]{4})/, '$1-$2-$3') || ''
        }
        // if (data.status === 'active') {
        //   this.swicthState = true
        // } else {
        //   this.swicthState = false
        // }

        this.swicthState = data.status === 'active'
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
