<template>
  <div class="food-image">
    <v-row class="mx-0 my-0">
      <v-col
        cols="6"
        class="pr-1 py-0 justify-end d-flex">
        <img
          src="/png/somtam.png"
          height="130"
          width="130"
          alt="">
      </v-col>
      <v-col
        cols="6"
        class="px-0 py-0 d-flex align-end">
        <img
          src="/png/nam-preak.png"
          height="110"
          width="110"
          alt="">
      </v-col>
    </v-row>
    <v-row class="mx-0 my-0 mt-1">
      <v-col
        cols="6"
        class="pr-1 py-0 justify-end d-flex">
        <img
          src="/png/green-cury.png"
          height="110"
          width="110"
          alt="">
      </v-col>
      <v-col
        cols="6"
        class="px-0 py-0 d-flex align-end">
        <img
          src="/png/tomyum.png"
          height="130"
          width="130"
          alt="">
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
</style>
