<template>
  <div class="text-title">
    <h1 class="text-sm-h2 text-h4 mb-4">
      Welcome To <br> Management
    </h1>
    <p class="sub-title mb-10">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.text-title {
  h1 {
    font-weight: 200;
  }
  p {
    font-weight: 300;
  }
}

@media only screen and (min-width: 1264px) {
  .text-title h1 {
    font-size: 4.75rem !important;
    line-height: 4.75rem;
  }
}
</style>
