<template>
  <div>
    <v-card class="my-card pa-8">
      <div v-if="loading">
        <v-skeleton-loader type="image,list-item,list-item,list-item" />
      </div>
      <div v-else>
        <div>
          <h3>Online Receipt Setting</h3>
        </div>

        <div class="mt-10 px-5">
          <h4>
            Restaurant Logo
          </h4>

          <div
            v-if="!form.restaurantLogoUrl"
            class="mt-2">
            <vue-dropzone
              id="dropzone"
              ref="myVueDropzone"
              :options="dropzoneOptions"
              :use-custom-slot="true"
              @vdropzone-file-added="sendingEvent">
              <div class="dropzone-custom-content">
                <v-icon
                  color="primary"
                  x-large>
                  mdi-cloud-upload-outline
                </v-icon>

                <h3 class="">
                  Drag and drop file here
                </h3>
                <div class="subtitle">
                  ...or click to select a file from your computer
                </div>
              </div>
            </vue-dropzone>
          </div>

          <div
            v-else
            class="d-flex justify-center mt-5">
            <img
              width="150px"
              :src="form.restaurantLogoUrl"
              alt="">
            <div>
              <v-btn
                icon
                color="red"
                @click="form.restaurantLogoUrl = ''">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </div>
          </div>
        </div>

        <div
          class="mt-10 px-5">
          <h4>
            Social Media
          </h4>
          <v-form class="mt-3">
            <v-row class="ma-0 align-center">
              <v-col
                class="d-flex justify-center"
                cols="12"
                sm="2">
                <img
                  height="50"
                  src="@/assets/facebook-logo.png"
                  alt="">
              </v-col>
              <v-col
                cols="12"
                sm="5">
                <v-text-field
                  v-model="form.facebookUrl"
                  dense
                  hide-spin-buttons
                  outlined
                  hide-details />
              </v-col>
            </v-row>
            <v-row class="ma-0 align-center">
              <v-col
                class="d-flex justify-center"
                cols="12"
                sm="2">
                <img
                  height="50"
                  src="@/assets/ig-logo.png"
                  alt="">
              </v-col>
              <v-col
                cols="12"
                sm="5">
                <v-text-field
                  v-model="form.instagramUrl"
                  dense
                  hide-spin-buttons
                  outlined
                  hide-details />
              </v-col>
            </v-row>
            <v-row class="ma-0 align-center">
              <v-col
                class="d-flex justify-center"
                cols="12"
                sm="2">
                <img
                  height="50"
                  src="@/assets/twitter-logo.png"
                  alt="">
              </v-col>
              <v-col
                cols="12"
                sm="5">
                <v-text-field
                  v-model="form.twitterUrl"
                  dense
                  hide-spin-buttons
                  outlined
                  hide-details />
              </v-col>
            </v-row>

            <v-row class="ma-0  align-center">
              <v-col
                cols="12"
                sm="2">
              </v-col>
              <v-col
                cols="12"
                sm="3">
                <v-btn
                  class="text-none mr-2"
                  color="primary"
                  elevation="0"
                  :loading="processing"
                  @click="updateOnlineReceipt">
                  Save
                </v-btn>
                <v-btn
                  outlined
                  color="primary"
                  class="text-none ml-2">
                  Cancel
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import OnlineReceiptProvider from '@/resources/online-recieptProvider'
import UploadProvider from '@/resources/UploadProvider'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

const onlineReceiptService = new OnlineReceiptProvider()
const uploadService = new UploadProvider()
export default {
  components: {
    vueDropzone: vue2Dropzone
  },
  data () {
    return {
      cateringSetting: false,
      form: {
        deposit: 0.00,
        MinimumDeliveryTime: 0,
        restaurantLogoUrl: '',
        facebookUrl: '',
        instagramUrl: '',
        twitterUrl: ''
      },
      dropzoneOptions: {
        url: 'https://httpbin.org/post',
        thumbnailWidth: 150,
        acceptedFiles: 'image/gif, image/jpeg, image/png',
        maxFiles: 1,
        addRemoveLinks: true,
        dictRemoveFile: 'x'
      },
      uploadingImage: false,
      loading: true,
      processing: false
    }
  },
  mounted () {
    this.getOnlineReceipt()
  },
  methods: {
    async updateOnlineReceipt () {
      try {
        this.processing = true
        await onlineReceiptService.updateOnlineReceipt({
          facebookUrl: this.form.facebookUrl,
          instagramUrl: this.form.instagramUrl,
          twitterUrl: this.form.twitterUrl,
          restaurantLogoUrl: this.form.restaurantLogoUrl
        })
        this.$notify.success('Update Success')
        this.getOnlineReceipt()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getOnlineReceipt () {
      try {
        this.loading = true
        const { data } = await onlineReceiptService.getOnlineReceipt()
        this.form = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    validateFile (file) {
      const acceptedFiles = ['image/gif', 'image/jpeg', 'image/png']
      const maxFileSize = 3145728
      if (!acceptedFiles.includes(file.type)) {
        throw new Error('Support only .gif, .jpeg and .png file type.')
      } else if (file.size > maxFileSize) {
        throw new Error('Limit File Size at 3MB.')
      }
    },
    async sendingEvent (file) {
      try {
        this.validateFile(file)
        this.uploadingImage = true
        const { data } = await uploadService.uploadFile(file)

        this.form.restaurantLogoUrl = data.public_url
        this.file = null
      } catch (err) {
        this.$refs.myVueDropzone.removeFile(file)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong'
        })
      } finally {
        this.uploadingImage = false
      }
    }

  }
}
</script>

<style lang="scss">
.dropzone-custom-content {

  text-align: center;
}

.dropzone-custom-title {
  margin-top: 0;
  color: #00b782;
}

.vue-dropzone{
border: #B2CC53 solid 1px;

border-radius: 5px;
}

.subtitle {
  color: #314b5f;
}

.vue-dropzone>.dz-preview .dz-remove {
  margin-left: 0px !important;
  top: 0 !important;
  right: 0 !important;
  border: 0px;
}
</style>
