<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none mx-1"
          text
          small
          color="red"
          v-on="on">
          Edit
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 d-flex justify-space-between">
          <div>
            Customize In-App Text
          </div>

          <div>
            <v-btn
              text
              class="text-none"
              color="red"
              @click="resetText">
              Reset All to Defaults
            </v-btn>
          </div>
        </div>
        <div class="px-5 py-3  ">
          <v-form
            v-model="validForm"
            class="my-5">
            <div class="">
              <div
                class=" grey--text"
                for="">
                PICKUP ORDER INSTRUCTIONS (LABEL)
              </div>
              <div
                class=""
                for="">
                Displayed above the Order Instructions text box on the cart screen.
              </div>

              <v-text-field
                v-model="form.pickUpOrderInstructionsLabel"
                class="mt-2"
                dense
                outlined
                hide-details />
            </div>

            <div class=" mt-5">
              <div
                class=" grey--text"
                for="">
                ORDER INSTRUCTIONS (DESCRIPTION)
              </div>
              <div
                class=""
                for="">
                Displayed below the Order Instructions text box on the cart screen.
              </div>

              <v-textarea
                v-model="form.orderInstructionsDesc"
                class="mt-2"
                height="100"
                dense
                outlined
                hide-details></v-textarea>
            </div>

            <div class="mt-5">
              <div
                class=" grey--text"
                for="">
                DELIVERY ORDER INSTRUCTIONS (LABEL)
              </div>
              <div
                class=""
                for="">
                Displayed above the Delivery Instructions text box on the cart screen.
              </div>

              <v-text-field
                v-model="form.deliveryOrderInstructionsLabel"
                class="mt-2"
                dense
                outlined
                hide-details />
            </div>

            <div class="mt-5">
              <div
                class=" grey--text"
                for="">
                ITEM  INSTRUCTIONS (LABEL)
              </div>
              <div
                class=""
                for="">
                Displayed above the Item Instructions text box on the item detail screen.
              </div>

              <v-text-field
                v-model="form.itemInstructionsLabel"
                class="mt-2"
                dense
                outlined
                hide-details />
            </div>

            <div class="mt-5">
              <div
                class=" grey--text"
                for="">
                ITEM  INSTRUCTIONS (DESCRIPTION)
              </div>
              <div
                class=""
                for="">
                Displayed below the Item Instructions text box on the item detail screen.
              </div>

              <v-textarea
                v-model="form.itemInstructionsDesc"
                class="mt-2"
                dense
                outlined
                hide-details></v-textarea>
            </div>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"
            @click="updateCustomizeInAppText">
            Save Changes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'

const tthaiAppSettingService = new TthaiAppSettingProvider()
export default {
  props: {
    customizeInAppText: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      form: {
        deliveryOrderInstruction: '',
        orderInstructionsDesc: '',
        pickUpOrderInstructionsLabel: '',
        itemInstructionsDesc: '',
        itemInstructionsLabel: ''
      },
      defaultText: {
        deliveryOrderInstructionsLabel: 'All deliveries provided by in-house and third-party drivers.',
        orderInstructionsDesc: 'Please inform us if you have any dietary restrictions.',
        pickUpOrderInstructionsLabel: 'Please come pick up order inside the restuarant.',
        itemInstructionsDesc: '',
        itemInstructionsLabel: 'Special Instructions'
      },
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {
    this.form = this.$clone.clone(this.customizeInAppText)
  },
  methods: {
    resetText () {
      this.form = this.defaultText
    },
    async updateCustomizeInAppText () {
      try {
        this.processing = true
        await tthaiAppSettingService.updateCustomizeAppText({
          customizeInAppText: this.form
        })

        this.$notify.success('Update Success')
        this.$emit('updated')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
