<template>
  <div>
    <section>
      <div class="d-flex justify-space-between">
        <h3>
          Customize In-App Text
        </h3>

        <div>
          <CustomizeAppTextEditModal
            :customize-in-app-text="customizeInAppText"
            @updated="updated" />
        </div>
      </div>

      <div>
        The Text you set here will override the corresponding default text in the mobile app.
      </div>
    </section>

    <section class="mt-5">
      <div>
        <div>
          Pickup Order Instructions (Label) <br>
          Displayed above the Order Instructions text box on the cart screen.
        </div>
        <div class="text-h5 mt-2">
          "{{ customizeInAppText.pickUpOrderInstructionsLabel }}"
        </div>
      </div>

      <div class="mt-3">
        <div>
          Order Instructions (Description) <br>
          Displayed below the Order Instructions text box on the cart screen.
        </div>
        <div class="text-h5 mt-2">
          "{{ customizeInAppText.orderInstructionsDesc }}"
        </div>
      </div>

      <div class="mt-3">
        <div>
          Delivery  Order Instructions (Label) <br>
          Displayed above the delivery Instructions text box on the cart screen.
        </div>
        <div class="text-h5 mt-2">
          "{{ customizeInAppText.deliveryOrderInstructionsLabel }}"
        </div>
      </div>

      <div class="mt-3">
        <div>
          Item Instructions (Label) <br>
          Displayed above the item Instructions text box on the item detail screen.
        </div>
        <div class="text-h5 mt-2">
          "{{ customizeInAppText.itemInstructionsLabel }}"
        </div>
      </div>

      <div class="mt-3">
        <div>
          Item Instructions (Description) <br>
          Displayed below the item Instructions text box on the item detail screen.
        </div>
        <div class="text-h5 mt-2">
          "{{ customizeInAppText.itemInstructionsDesc }}"
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import CustomizeAppTextEditModal from './CustomizeAppTextEditModal.vue'

export default {
  components: {
    CustomizeAppTextEditModal
  },
  props: {
    customizeInAppText: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      form: {
        customizeInAppText: {
          deliveryOrderInstruction: '',
          orderInstruction: '',
          pickUpOrderInstructionsLabel: '',
          itemInstructionsDesc: '',
          itemInstructionsLabel: ''
        }

      }
    }
  },
  mounted () {

  },
  methods: {
    updated () {
      this.$emit('updated')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
