<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          icon
          color="red"
          v-on="on">
          <v-icon small>
            mdi-trash-can-outline
          </v-icon>
        </v-btn>
      </template>

      <v-card>
        <div class="head px-3 py-3">
          Delete Menu Category
        </div>

        <div class="px-3 py-3 text-content">
          You want to delete <span
            class="red--text"
            style="font-size:1.2rem ; font-weight:400"> {{ attributeInfo.name }} ?</span>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary"
            text
            @click="deleteMenuCategory">
            Delete
          </v-btn>
          <v-btn
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import MenuProvider from '../../../resources/MenuProvider'

const menuService = new MenuProvider()
export default {
  props: {
    attributeInfo: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    async deleteMenuCategory () {
      try {
        this.processing = true
        await menuService.deleteMenuCategory(this.attributeInfo.id)
        this.$notify.success('Update Success')
        this.$emit('deleted')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
