<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader type="heading,list-item,list-item,actions" />
    </div>
    <v-card
      v-else
      class="my-card pa-8">
      <div>
        <section>
          <MobileOrdering
            :is-mobile-ordering="form.isMobileOrdering"
            :loading="loading"
            @updated="getTthaiAppSetting" />
        </section>

        <section class="mt-5">
          <PickupHours
            :pickup-hours="form.pickupHours"
            @updated="getTthaiAppSetting" />
        </section>

        <section class="mt-5">
          <WaitTime
            :wait-time="form.waitTime"
            @updated="getTthaiAppSetting" />
        </section>

        <section class="mt-5">
          <SpecialInstruction

            :is-item-special-instructions="form.isItemSpecialInstructions"
            @updated="getTthaiAppSetting" />
        </section>

        <section class="mt-5">
          <CustomizeAppText
            :customize-in-app-text="form.customizeInAppText"
            @updated="getTthaiAppSetting" />
        </section>
      </div>
    </v-card>
  </div>
</template>

<script>
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'
import MobileOrdering from '../components/MobileOrdering.vue'
import PickupHours from '../components/pickupHours/PickupHours.vue'
import WaitTime from '../components/waitTime/WaitTime.vue'
import SpecialInstruction from '../components/SpecialInstruction.vue'
import CustomizeAppText from '../components/customizAppText/CustomizeAppTextIndex.vue'

const tthaiAppSettingService = new TthaiAppSettingProvider()
export default {
  components: {
    MobileOrdering,
    PickupHours,
    WaitTime,
    SpecialInstruction,
    CustomizeAppText
  },
  data () {
    return {
      loading: true,
      form: null
    }
  },
  mounted () {
    this.getTthaiAppSetting()
  },
  methods: {
    async getTthaiAppSetting () {
      try {
        this.loading = true
        const {
          data
        } = await tthaiAppSettingService.getTthaiAppSetting()

        this.form = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">

</style>
