<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          color="primary"
          v-bind="attrs"
          text
          small
          v-on="on">
          <v-icon
            left
            small>
            mdi-plus
          </v-icon> Add Date
        </v-btn>
      </template>

      <v-card>
        <div class="px-3 py-3 text-content">
          <v-form>
            <v-date-picker
              v-model="form.date"
              full-width />
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="addDate">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {

  props: {

  },
  data () {
    return {
      dialog: false,
      form: {
        date: dayjs(new Date()).format('YYYY-MM-DD'),
        period: [],
        isClosed: false
      }
    }
  },
  mounted () {

  },
  methods: {
    addDate () {
      this.$emit('addDate', this.form)

      this.dialog = false
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
