<template>
  <div>
    <v-row class="align-center mt-10">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        <v-divider class=""></v-divider>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
