<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item,list-item,list-item"></v-skeleton-loader>
    </div>
    <v-form
      v-else
      v-model="formValid"
      class="my-10"
      @submit.prevent="submit">
      <v-row class="align-center">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Legal Business Name <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.legalBusinessName"
            :rules="formValidate.required"
            placeholder=""
            hide-details
            dense
            outlined />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          DBA ( if any )
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.dba"
            placeholder=""
            hide-details
            dense
            outlined />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Business Phone <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.businessPhone"
            type="text"
            hide-spin-buttons
            placeholder=""
            :rules="formValidate.phone"
            hide-details
            dense
            outlined />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          EIN <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.ein"
            :rules="formValidate.ein"
            placeholder=""
            hide-spin-buttons
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Address <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.address.address"
            :rules="formValidate.required"
            placeholder=""
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          City <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.address.city"
            :rules="formValidate.required"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          State <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-select
            v-model="form.address.state"
            :items="stateList"
            :rules="formValidate.required"
            dense
            outlined
            hide-details></v-select>
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Zip Code <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.address.zipCode"
            type="number"
            hide-spin-buttons
            :rules="formValidate.zipCode"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Time Zone <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-autocomplete
            v-model="form.timeZone"
            :filter="timeZoneFilter"
            :items="timeZoneList"
            item-text="label"
            item-value="value"
            :rules="formValidate.required"
            dense
            outlined
            hide-details></v-autocomplete>
        </v-col>
      </v-row>

      <v-row
        class="align-center mt-10">
        <v-col
          class="labe-text px-0 py-0"
          cols="12"
          sm="2">
          EIN File
        </v-col>
        <v-col
          class="px-0 py-0 d-flex align-center"
          cols="12"
          sm="7">
          <div class="w-full">
            <v-file-input
              v-model="einFile"
              dense
              hide-details
              label="PDF/JPEG"
              @change="uploadEinFile"></v-file-input>
            <div class="mt-1">
              file path : <span
                class="primary--text my-btn"
                @click="openFilePath(form.einDocument)">{{ form.einDocument }}</span>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row
        class="align-center mt-10">
        <v-col
          class="labe-text px-0 py-0"
          cols="12"
          sm="2">
          Sales Tax Permit
        </v-col>
        <v-col
          class="px-0 py-0 d-flex align-center"
          cols="12"
          sm="7">
          <div class="w-full">
            <v-file-input
              v-model="saleTaxPermitFile"
              dense
              hide-details
              label="PDF/JPEG"
              @change="uploadSaleTaxPermitFile"></v-file-input>
            <div class="mt-1">
              file path : <span
                class="primary--text my-btn"
                @click="openFilePath(form.salesTaxPermitDocument)">{{ form.salesTaxPermitDocument }}</span>
            </div>
          </div>
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Authorized Person Name
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.authorizedPersonName"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Title
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-select
            v-model="form.title"
            outlined
            hide-details
            dense
            color
            :items="ownerTitleOptions"
            filled></v-select>
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Phone <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.phone"
            type="text"
            hide-spin-buttons
            :rules="formValidate.phone"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Email <span class="red--text">*</span>
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.email"
            :rules="formValidate.email"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Referral Code
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            v-model.trim="form.referredBy"
            dense
            outlined
            hide-details />
        </v-col>
      </v-row>

      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="6">
          <v-btn
            :disabled="!formValid"
            elevation="0"
            color="primary"
            :loading="processing"
            class="mr-3"
            type="submit">
            save
          </v-btn>
          <v-btn
            v-if="!processing"
            elevation="0"
            color="primary"
            outlined
            class="ml-3"
            to="/dashboard">
            cancel
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import UsaStateList from '@/plugins/helper/UsaStateList'
import RestaurantProvider from '@/resources/RestaurantProvider'
import UploadProvider from '@/resources/UploadProvider'
import OwnerTitleList from '@/assets/js/owner-title-list'
// import TimeZoneList from '@/assets/js/time-zone-list'

const restaurantService = new RestaurantProvider()
const uploadSerivce = new UploadProvider()
export default {
  data () {
    return {
      timeZoneList: [
        {
          label: 'Hawaii (UTC -10:00)',
          value: 'Etc/GMT+10'
        },
        {
          label: 'Alaska (UTC -09:00)',
          value: 'Etc/GMT+9'
        },
        {
          label: 'Pacific (UTC -08:00)',
          value: 'Etc/GMT+8'
        },
        {
          label: 'Mountain (UTC -07:00)',
          value: 'Etc/GMT+7'
        },
        {
          label: 'Central (UTC -06:00)',
          value: 'Etc/GMT+6'
        },
        {
          label: 'Eastern (UTC -05:00)',
          value: 'Etc/GMT+5'
        },
        {
          label: 'Samoa (UTC -11:00)',
          value: 'Etc/GMT+11'
        },
        {
          label: 'Chamorro (UTC +10:00)',
          value: 'Etc/GMT-10'
        }
      ],
      loading: true,
      stateList: [],
      formValid: false,
      form: { },
      einFile: null,
      saleTaxPermitFile: null,
      processing: false,
      ownerTitleOptions: OwnerTitleList,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ],
        name: [
          (val) => !!val || 'Required'
        ],
        lastName: [
          (val) => !!val || 'Required'
        ],
        phone: [
          (val) => !!val || 'Required',
          (val) => /^\d{3}[-]?\d{3}[-]?\d{4}$/.test(val) || 'Invalid Phone Number'
        ],
        passCode: [
          (val) => !!val || 'Required',
          (val) => val.length === 6 || '6 character'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ],
        ein: [

          (val) => val.length === 9 || '9 character'
        ],
        zipCode: [
          (val) => val.length === 5 || 'Invalid Zip code'
        ]
      }
    }
  },
  mounted () {
    this.mapState()
    this.getRestaurantInfo()
  },
  methods: {
    async submit () {
      try {
        this.processing = true
        this.form.phone = this.form.phone.replace(/-/g, '')
        this.form.businessPhone = this.form.businessPhone.replace(/-/g, '')

        await restaurantService.updateRestaurant({
          ...this.form
        })

        this.$notify.success('Update Success')
        this.getRestaurantInfo()
        this.$store.dispatch('User/setTimeZone', this.form.timeZone)
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async uploadSaleTaxPermitFile () {
      try {
        this.processing = true
        if (this.saleTaxPermitFile) {
          const { data } = await uploadSerivce.uploadFile(this.saleTaxPermitFile)

          this.form.salesTaxPermitDocument = data.public_url
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async uploadEinFile () {
      try {
        this.processing = true
        if (this.einFile) {
          const { data } = await uploadSerivce.uploadFile(this.einFile)

          this.form.einDocument = data.public_url
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    openFilePath (url) {
      window.open(url)
    },
    async getRestaurantInfo () {
      try {
        this.loading = true

        const { data } = await restaurantService.getRestaurantById()

        this.form = data

        this.form.phone = this.form.phone.replace(/([\d]{3})([\d]{3})([\d]{4})/, '$1-$2-$3')
        this.form.businessPhone = this.form.businessPhone.replace(/([\d]{3})([\d]{3})([\d]{4})/, '$1-$2-$3')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    mapState () {
      this.stateList = UsaStateList.map((e) => e.abbreviation)
    },
    timeZoneFilter (item, queryText) {
      const textOne = item.toLowerCase()
      const searchText = queryText.toLowerCase()

      return textOne.indexOf(searchText) > -1
    }
  }
}
</script>

<style lang="scss" scoped>
div :deep(.v-input__slot) {
  background: rgba(0, 0, 0, 0) !important;
}
</style>
