<template>
  <div class="text-center">
    <v-menu offset-y>
      <template #activator="{ on, attrs }">
        <v-btn
          icon
          small
          v-bind="attrs"
          v-on="on">
          <v-icon small>
            mdi-dots-vertical
          </v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item>
          <v-btn
            small
            text
            class="text-none"
            color="primary"
            @click="addPeriod">
            Add Period
          </v-btn>
        </v-list-item>
        <v-list-item>
          <v-btn
            small
            text
            class="text-none"
            color="red"
            @click="removePeriod">
            Remove Period
          </v-btn>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data: () => ({

  }),
  methods: {
    addPeriod () {
      this.$emit('addPeriod')
    },
    removePeriod () {
      this.$emit('removePeriod')
    }
  }
}
</script>
