<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item"></v-skeleton-loader>
    </div>
    <v-row
      v-else
      class=" my-0">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Holiday Hours
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 "
        sm="7">
        <div class="mb-5">
          Holiday Hours <br>
          <span
            class="grey--text"
            style="font-size:0.9rem">
            Confirm holiday hours to let your customers know when you're open for business.
          </span>
        </div>

        <div
          v-for="(day , dayIndex) in holidayHoursList"
          :key="dayIndex"
          class="ma-0">
          <div>
            {{ day.date | toDate }}
            <v-btn
              icon
              color="red"
              @click="removeDate(dayIndex)">
              <v-icon x-small>
                mdi-delete
              </v-icon>
            </v-btn>
          </div>
          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="3">
              <v-checkbox
                v-model="day.isClosed"
                dense
                hide-details
                label="Closed"></v-checkbox>
            </v-col>
            <v-col
              v-if="!day.isClosed"
              cols="12"
              sm="8">
              <div
                v-for="(period , periodIndex ) in day.period"
                :key="periodIndex"
                class="d-flex mb-3">
                <v-text-field
                  v-model="period.opensAt"
                  class="mr-1"
                  outlined
                  label="Opens At"
                  dense
                  hide-details
                  type="time" />
                <v-text-field
                  v-model="period.closesAt"
                  class="ml-1"
                  outlined
                  label="Closes At"
                  dense
                  hide-details
                  type="time" />

                <div
                  class="d-flex align-center">
                  <v-btn
                    x-small
                    text
                    color="red"
                    @click="removePeriod(dayIndex , periodIndex)">
                    <v-icon small>
                      mdi-close
                    </v-icon>
                  </v-btn>
                </div>
              </div>
              <v-btn
                small
                text
                color="primary"
                @click="addPeriod(dayIndex)">
                + Add Period
              </v-btn>
            </v-col>
          </v-row>
        </div>

        <div class="mb-5 d-flex">
          <AddHolidayDateModal @addDate="addDate($event)" />
        </div>

        <div class="d-flex ">
          <v-btn
            color="primary"
            :loading="processing"
            elevation="0"
            class="mr-1"
            @click="updateRestaurantHolidays">
            Save
          </v-btn>
          <v-btn
            class="ml-1"
            elevation="0"
            color="primary"
            outlined>
            Cancel
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import dayjs from 'dayjs'

import RestaurantProvider from '@/resources/RestaurantProvider'
import AddHolidayDateModal from './addHolidayDateModal.vue'

const restaurantService = new RestaurantProvider()

export default {
  components: {

    AddHolidayDateModal
  },
  filters: {
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MMM DD, YYYY')
    }
  },
  data () {
    return {
      loading: true,
      processing: false,
      holidayHoursList: [
        {
          date: '2022-10-14',
          isClosed: false,
          period: [{ opensAt: '09:00', closesAt: '17:00' }]
        }
      ]
    }
  },
  mounted () {
    this.getRestaurantHolidays()
  },
  methods: {
    async updateRestaurantHolidays () {
      try {
        this.processing = true
        await restaurantService.updateRestaurantHolidays({
          holidays: this.holidayHoursList
        })

        this.$notify.success('Update Success')
        this.getRestaurantHolidays()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },

    removeDate (dayIndex) {
      this.holidayHoursList.splice(dayIndex, 1)
    },
    async getRestaurantHolidays () {
      try {
        this.loading = true
        const { data } = await restaurantService.getRestaurantHolidays()

        this.holidayHoursList = data.holidays
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    addDate (data) {
      this.holidayHoursList.push(data)
    },
    addPeriod (dayIndex) {
      this.holidayHoursList[dayIndex].period.push({
        opensAt: '', closesAt: ''
      })
    },
    removePeriod (dayIndex, periodIndex) {
      this.holidayHoursList[dayIndex].period.splice(periodIndex, 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}
</style>
