<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item"></v-skeleton-loader>
    </div>
    <v-row
      v-else
      class=" my-0">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Hours
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 "
        sm="7">
        <div
          v-for="(day , dayIndex) in openHoursList"
          :key="dayIndex"
          class="ma-0">
          <div>
            {{ day.label }}
          </div>
          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="3">
              <v-checkbox
                v-model="day.isClosed"
                dense
                hide-details
                label="Closed"></v-checkbox>
            </v-col>
            <v-col
              v-if="!day.isClosed"
              cols="12"
              sm="8">
              <v-form
                v-for="(period , periodIndex ) in day.period"
                :key="periodIndex"
                v-model="validForm"
                class="d-flex mb-3 align-center">
                <v-text-field
                  v-model="period.opensAt"
                  class="mr-1"
                  outlined
                  label="Opens At"
                  dense
                  :rules="formValidate.required"
                  type="time" />
                <v-text-field
                  v-model="period.closesAt"
                  class="ml-1"
                  outlined
                  label="Closes At"
                  dense
                  :rules="formValidate.required"
                  type="time" />

                <div
                  class="d-flex align-center"
                  @click="removePeriod(dayIndex , periodIndex)">
                  <v-btn
                    icon
                    small
                    color="red">
                    <v-icon small>
                      mdi-close
                    </v-icon>
                  </v-btn>
                </div>
              </v-form>

              <div class="d-flex align-end">
                <v-btn
                  color="primary"
                  text
                  small
                  @click="addPeriod(dayIndex )">
                  + Add Period
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </div>

        <div class="d-flex ">
          <v-btn
            :loading="processing"
            color="primary"
            elevation="0"
            class="mr-1"
            :disabled="!validForm"
            @click="updateRestaurantOPenHours">
            Save
          </v-btn>
          <v-btn
            class="ml-1"
            elevation="0"
            color="primary"
            outlined>
            Cancel
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'

const restaurantService = new RestaurantProvider()
export default {
  data () {
    return {
      processing: false,
      loading: true,
      validForm: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      openHoursList: []
    }
  },
  mounted () {
    this.getRestaurantOpenHours()
  },
  methods: {
    removeAllPeriod (dayIndex) {
      this.openHoursList[dayIndex].period = []
    },
    addPeriod (dayIndex) {
      this.openHoursList[dayIndex].period.push({
        opensAt: '', closesAt: ''
      })
    },
    removePeriod (dayIndex, periodIndex) {
      this.openHoursList[dayIndex].period.splice(periodIndex, 1)
    },
    async updateRestaurantOPenHours () {
      try {
        this.processing = true

        await restaurantService.updateRestaurantOpenHours({
          hours: this.openHoursList
        })

        this.$notify.success('Update Success')
        this.getRestaurantOpenHours()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async  getRestaurantOpenHours () {
      try {
        this.loading = true

        const { data } = await restaurantService.getRestaurantOpenHours()
        this.openHoursList = data.hours
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}
</style>
