<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none mx-1"
          text
          color="primary"
          v-on="on">
          Change
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Create New Password
        </div>
        <div class="px-5 py-3 text-content">
          <div>
            Create a new, strong password that you don't use for other website
          </div>
          <v-form v-model="validForm">
            <v-text-field
              v-model="password"
              :rules="validateForm.password"
              type="password"
              class="mt-1"
              label="Create Password" />

            <v-text-field
              v-model="confirmPassword"
              :rules="validateForm.password"
              type="password"
              class="mt-1"
              label="Confirm Password" />
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :disabled="!validForm"
            @click="updatePassword">
            Change Password
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AccountProvider from '@/resources/AccountProvider'

const accountService = new AccountProvider()
export default {

  props: {

  },
  data () {
    return {
      dialog: false,
      processing: false,
      password: '',
      confirmPassword: '',
      validForm: false,
      validateForm: {
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ]
      }
    }
  },
  mounted () {

  },
  methods: {
    checkValidPassword () {
      if (this.password !== this.confirmPassword) {
        this.$notify.error('Invalid Password')
        return false
      }

      return true
    },
    async updatePassword () {
      try {
        this.processing = true

        const validPassword = this.checkValidPassword()

        if (validPassword) {
          await accountService.updatePassword({
            password: this.password
          })
          this.$notify.success('Update Sucess')
          this.dialog = false
          this.$router.push('/signout')
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
