<template>
  <div>
    <v-row class="align-center">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Username
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        {{ username }}

        <UsernameChangeModal />
      </v-col>
    </v-row>
    <v-row class="align-center">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Password
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        * * * * * *

        <PasswordChangeModal />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import PasswordChangeModal from './passwordChangeModal.vue'
import UsernameChangeModal from './usernameChangeModal.vue'

export default {
  components: {
    PasswordChangeModal,
    UsernameChangeModal
  },
  computed: {
    username () {
      return this.$store.getters['User/username'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
