<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item"></v-skeleton-loader>
    </div>
    <v-row
      v-else
      class="my-0">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Shifts
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0"
        sm="7">
        <v-row
          v-for="(shift, shiftIndex) in shiftsList"
          :key="shiftIndex"
          class="ma-0">
          <v-col
            cols="12"
            sm="3">
            Shift {{ shiftIndex + 1 }}
          </v-col>
          <v-col
            cols="12"
            sm="8">
            <v-form
              v-model="validForm"
              class="d-flex mb-3 align-center">
              <v-text-field
                v-model="shift.startAt"
                class="mr-1"
                outlined
                label="Start At"
                dense
                :rules="formValidate.required"
                type="time" />
              <v-text-field
                v-model="shift.endAt"
                class="ml-1"
                outlined
                label="End At"
                dense
                :rules="formValidate.required"
                type="time" />

              <div
                class="d-flex align-center"
                @click="removeShift(shiftIndex)">
                <v-btn
                  icon
                  small
                  color="red">
                  <v-icon small>
                    mdi-close
                  </v-icon>
                </v-btn>
              </div>
            </v-form>
          </v-col>
        </v-row>
        <div class="mb-5 d-flex align-end">
          <v-btn
            color="primary"
            text
            @click="addShift()">
            + Add Shift
          </v-btn>
        </div>
        <div class="d-flex">
          <v-btn
            :loading="processing"
            color="primary"
            elevation="0"
            class="mr-1"
            :disabled="!validForm"
            @click="updateRestaurantShifts">
            Save
          </v-btn>
          <v-btn
            class="ml-1"
            elevation="0"
            color="primary"
            outlined>
            Cancel
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'

const restaurantService = new RestaurantProvider()
export default {
  data () {
    return {
      processing: false,
      loading: true,
      validForm: false,
      formValidate: {
        required: [(val) => !!val || 'Required']
      },
      shiftsList: []
    }
  },
  mounted () {
    this.getRestaurantShifts()
  },
  methods: {
    removeAllShift () {
      this.shiftsList = []
    },
    addShift () {
      this.shiftsList.push({
        opensAt: '',
        closesAt: ''
      })
    },
    removeShift (shiftIndex) {
      this.shiftsList.splice(shiftIndex, 1)
    },
    async updateRestaurantShifts () {
      try {
        this.processing = true

        await restaurantService.updateRestaurantShifts({
          shifts: this.shiftsList
        })

        this.$notify.success('Update Success')
        this.getRestaurantShifts()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => {
            console.log('close')
          }
        })
      } finally {
        this.processing = false
      }
    },
    async getRestaurantShifts () {
      try {
        this.loading = true

        const { data } = await restaurantService.getRestaurantShifts()
        this.shiftsList = data?.shifts || []
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => {
            console.log('close')
          }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1e2546;
}
</style>
