<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none mx-1"
          text
          color="primary"
          v-on="on">
          Change
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Create New Username
        </div>
        <div class="px-5 py-3 text-content">
          <v-form v-model="validForm">
            <v-text-field
              v-model="username"
              :rules="validateForm.username"
              class="mt-1"
              label="Create Username" />
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :disabled="!validForm"
            @click="updateUsername">
            Change Username
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import AccountProvider from '@/resources/AccountProvider'

const accountService = new AccountProvider()

export default {
  data () {
    return {
      dialog: false,
      processing: false,
      username: '',
      validForm: false,
      validateForm: {
        username: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }
    }
  },
  mounted () {

  },
  methods: {
    async updateUsername () {
      try {
        this.processing = true
        await accountService.updateUsername({
          username: this.username
        })
        this.$notify.success('Update Sucess')
        this.dialog = false
        this.$router.push('/signout')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
