<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edit Table' : 'Create Table' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"></v-skeleton-loader>

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Table No.
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.tableNo"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              type="text"
              placeholder="Input Table No."
              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Table Zone
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.tableZoneId"
              class="text-capitalize"
              :items="tableZoneList"
              :rules="formValidate.required"
              outlined
              dense
              placeholder="Choose Table Type"
              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            People
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div class="mr-3">
              <v-text-field
                v-model.number="form.minSize"
                :rules="formValidate.minSize"
                :max="form.maxSize"
                label="minimum"
                hide-details
                dense
                type="number"
                outlined>
              </v-text-field>
            </div>

            <div>
              <v-text-field
                v-model.number="form.maxSize"
                :rules="formValidate.maxSize"
                :min="form.minSize"
                label="maximum"
                hide-details
                dense
                type="number"
                outlined />
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Table Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.tableStatus"
              :rules="formValidate.required"
              class="text-capitalize"
              :items="tableStatusEnum"
              outlined
              dense
              placeholder="Choose Table Type"
              hide-details></v-select>
          </v-col>
        </v-row>

        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="swicthState"
                class="activeColor">Active</span>
              <span
                v-if="!swicthState"
                class="suspendedColor">Disable</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="swicthState"
                  dense
                  inset
                  color="#6FCF97"
                  @change="mapSwicth"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3"
              :loading="processing"
              type="submit">
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/table">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import TableProvider from '@/resources/TableProvider'
import TableZoneProvider from '@/resources/TableZoneProvider'

const tableService = new TableProvider()
const tableZoneService = new TableZoneProvider()
export default {
  name: 'TableAddPage',
  data () {
    return {
      swicthState: true,
      loading: false,
      form: {
        tableNo: '',
        maxSize: 5,
        minSize: 1,
        tableZoneId: '',
        tableStatus: 'ENABLE'
      },
      tableStatusEnum: ['AVAILABLE', 'RESERVED', 'SEATED', 'DISABLED'],
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ],
        minSize: [
          (val) => !!val || 'Required',
          (val) => val <= this.form.maxSize || 'no'
        ],
        maxSize: [(val) => !!val || 'Required',
          (val) => val >= this.form.minSize || 'no']
      },
      tableZoneList: [],
      processing: false

    }
  },
  computed: {
    tableId () {
      return this.$route?.params?.tableId || null
    },
    isUpdate () {
      return !!this.tableId
    }
  },
  mounted () {
    this.getTableZone()

    if (this.isUpdate) {
      this.getTableInfo()
    }
  },
  methods: {

    mapSwicth () {
      if (this.swicthState) {
        this.form.status = 'active'
      } else {
        this.form.status = 'inactive'
      }
    },
    submit () {
      if (this.isUpdate) {
        return this.updateTable()
      }

      return this.createTable()
    },
    async getTableZone () {
      this.loading = true
      try {
        const {
          data
        } = await tableZoneService.getTableZone({
          page: 1,
          limit: 999
        })

        data.results.map((e) => this.tableZoneList.push({
          text: e.name,
          value: e.id
        }))
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async updateTable () {
      try {
        this.processing = true
        await tableService.updateTable(
          this.tableId,
          this.form
        )

        this.$router.push('/table')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async createTable () {
      try {
        this.processing = true
        await tableService.createTable({ ...this.form })

        this.$router.push('/table')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getTableInfo () {
      try {
        this.loading = true
        const {
          data
        } = await tableService.getTableById(this.tableId)

        this.form = {
          tableNo: data.tableNo || '',
          tableZoneId: data.tableZone.id || '',
          maxSize: data.maxSize || null,
          minSize: data.minSize || null,
          tableStatus: data.tableStatus || ''
        }
        if (data.status === 'active') {
          this.swicthState = true
        } else {
          this.swicthState = false
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
