<template>
  <div class="center-page">
    <v-card
      class="pa-5"
      elevation="1"
      width="600">
      <div class=" d-flex justify-center">
        <img
          src="@/assets/logo2-03.svg"
          alt=""
          width="150">
      </div>

      <div class="">
        <h1>Let's create your account</h1>

        <p>
          Signing up for TThai is fast and free <br>
          No commitments or long-term contracts.
        </p>
      </div>

      <div class="mt-8">
        <v-form v-model="validForm">
          <v-text-field
            v-model="form.email"
            label="Enter your email"
            outlined
            dense
            :rules="formUserValidate.emailRules" />
          <!-- <v-text-field
            v-model="form.confirmEmail"
            label="Confirm your email"
            outlined
            dense
            :rules="formUserValidate.required" /> -->
          <v-text-field
            v-model="form.password"
            :rules="formUserValidate.password"
            label="Create a password"
            outlined
            dense
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'password' : 'text' "
            @click:append="toggleIsPassword()" />

          <v-select
            v-model="form.locale"
            outlined
            dense
            label="Country"
            hide-details
            :rules="formUserValidate.required"
            :items="localeOptions"></v-select>

          <div class="d-flex align-center">
            <v-checkbox :rules="formUserValidate.checkbox">
              <template #label>
                <div>
                  I agree to TThai's <a href="">Terms, Privacy Policy,</a> and <a href="">E-sign Consent</a>
                </div>
              </template>
            </v-checkbox>
          </div>

          <div class="grey--text font-weight-light mt-5">
            This site is protected by reCAPTCHA Enterprise and the Google <a href="">Privacy Policy</a>
            and <a href="">Terms of Service</a> apply
          </div>

          <div class="mt-8">
            <v-btn
              :disabled="!validForm"
              :loading="processing"
              class="text-none"
              color="primary"
              block
              @click="createAccount">
              Submit
            </v-btn>
          </div>
        </v-form>
      </div>
    </v-card>
  </div>
</template>

<script>
import CountriesList from '@/plugins/helper/CountriesList'
import PublicAccountProvider from '@/resources/PublicAccount'

const publicAccountService = new PublicAccountProvider()
export default {
  data () {
    return {
      validForm: false,
      showPassword: true,
      conutriesList: CountriesList,
      localeOptions: [],
      processing: false,
      form: {
        email: '',
        password: '',
        confirmEmail: '',
        locale: ''
      },
      formUserValidate: {
        required: [
          (val) => !!val || 'Required'

        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Minimum 6 characters'
        ],
        checkbox: [
          (val) => !!val || 'Your have to read and agree "Terms, Privacy Policy and E-sign Consent"'
        ],
        emailRules: [
          (val) => !val || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(val) || 'E-mail must be valid'
        ]
      }
    }
  },
  mounted () {
    this.conutriesList.map((e) => this.localeOptions.push({
      text: e.name,
      value: e.name
    }))
    this.form.locale = this.localeOptions[0].value
  },
  methods: {
    async createAccount () {
      try {
        this.processing = true
        // const validEmail = await this.checkConfirmEmail()

        // if (validEmail) {
        await publicAccountService.createPublicAccount({
          email: this.form.email,
          locale: this.form.locale,
          password: this.form.password,
          username: this.form.email
        })

        this.$router.push('/')
        // } else {
        //   console.error('invalid email')
        // }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    // checkConfirmEmail () {
    //   return this.form.confirmEmail === this.form.email
    // },
    toggleIsPassword () {
      this.showPassword = !this.showPassword
    }
  }
}
</script>

<style lang="scss" scoped>
.center-page{
display: flex;
align-items: center;
min-height: 100vh;
justify-content: center;
padding: 2%;
}
</style>
