<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="300">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none mx-1"
          text
          small
          color="red"
          v-on="on">
          Edit
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Wait Time
        </div>
        <div class="px-5 py-3 text-content ">
          <v-form
            v-model="validForm"
            class="my-5">
            <div class="">
              <label
                class="font-weight-bold primary--text"
                for="baseTimeInput">BASE TIME (MINS)</label>

              <v-select
                v-model="form.baseTime"
                dense
                outlined
                hide-details
                :items="baseTimeItems"></v-select>
            </div>

            <div class="mt-5">
              <label
                class="font-weight-bold primary--text"
                for="baseTimeInput">PER ORDER TIME (MINS)</label>

              <v-select
                v-model="form.perOrderTime"
                dense
                outlined
                hide-details
                :items="baseTimeItems"></v-select>
            </div>

            <div class="mt-5">
              <label
                class="font-weight-bold primary--text"
                for="baseTimeInput">PER ITEM TIME (MINS)</label>

              <v-select
                v-model="form.perItemTime"
                dense
                outlined
                hide-details
                :items="baseTimeItems"></v-select>
            </div>

            <div class="mt-5">
              <label
                class="font-weight-bold primary--text"
                for="baseTimeInput">MAX TIME (MINS)</label>

              <v-select
                v-model="form.maxTime"
                dense
                outlined
                hide-details
                :items="baseTimeItems"></v-select>
            </div>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"
            @click="handleSaveBtn">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'

const tthaiAppSettingService = new TthaiAppSettingProvider()
export default {
  props: {
    waitTime: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      baseTimeItems: [],
      processing: false,
      form: {
        baseTime: 0,
        perOrderTime: 0,
        perItemTime: 0,
        maxTime: 60
      },
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {
    for (let i = 0; i <= 60; i++) {
      this.baseTimeItems.push(+i)
    }

    this.form = this.$clone.clone(this.waitTime)
  },
  methods: {
    handleSaveBtn () {
      this.updateWaitTime()
    },
    async updateWaitTime () {
      try {
        this.processing = true
        await tthaiAppSettingService.updateWaitTime({
          waitTime: this.form
        })

        this.$notify.success('Update Success')
        this.$emit('updated')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
