<template>
  <div>
    <section>
      <div class="d-flex justify-space-between">
        <h3>
          Wait Time
        </h3>

        <div>
          <WaitTimEditModal
            :wait-time="waitTime"
            @updated="updated" />
        </div>
      </div>

      <div>
        Wait time is the estimated number of minutes a customer is told their order will take to prepare.
        This wait time quation will determine how a customer's estimated wait time is calculated.
      </div>
    </section>

    <section class="mt-5">
      <h4 class="font-weight-regular">
        Wait Time Formula
      </h4>

      <div class="text-h6 mt-2">
        {{ waitTime?.baseTime }} mins + {{ waitTime?.perOrderTime }} mins per order already in queue + {{ waitTime?.perItemTime }}
        mins per item already in queue and in cart <span class="font-italic">(Max {{ waitTime?.maxTime }} mins)</span>
      </div>
    </section>
  </div>
</template>

<script>
import WaitTimEditModal from './ModalWaitTimeEdit.vue'

export default {
  components: {
    WaitTimEditModal
  },
  props: {
    waitTime: {
      type: Object,
      default: null
    }
  },
  methods: {
    updated () {
      this.$emit('updated')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
