<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> Add Subscription </span>
      </div>
      <SubscriptionForm
        :package-id="form.packageId"
        :payment-plan="form.paymentPlan"
        :quantity="form.quantity"
        :package-list="packageList"
        :submitting="submitting"
        @update:input="updateInput($event)"
        @submit="createSubscription()" />
    </v-card>
  </div>
</template>

<script>
import SubscriptionProvider from '@/resources/SubscriptionProvider'
import PackageProvider from '@/resources/PackageProvider'
import SubscriptionForm from '../components/SubscriptionForm.vue'

export default {
  name: 'SubscriptionAddPage',
  components: {
    SubscriptionForm
  },
  data () {
    return {
      submitting: false,
      form: {
        packageId: '',
        paymentPlan: '',
        quantity: ''
      },
      packageList: []
    }
  },
  mounted () {
    this.getPackageList()
  },
  methods: {
    updateInput (event) {
      this.form[event.name] = event.value
    },
    async getPackageList () {
      try {
        const { data } = await PackageProvider.getPackage()
        this.packageList = data
      } catch (err) {
        console.error('[ERROR] get package list', err)
      }
    },
    async createSubscription () {
      try {
        this.submitting = true
        await SubscriptionProvider.createSubscription({
          packageId: this.form.packageId,
          paymentPlan: this.packageList.find((p) => p.id === this.form.packageId).isFree ? 'FREE' : this.form.paymentPlan,
          quantity: Number(this.form.quantity)
        })
        this.$router.push('/subscription')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong'
        })
      } finally {
        this.submitting = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
