<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="search"
              placeholder="Search"
              hide-details
              dense
              @keydown.enter="getSubscription()" />
          </div>
          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getSubscription()">
              Search
            </v-btn>
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="6">
          <div
            style="width: 100%;"
            class="d-flex justify-end">
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              to="/subscription/add">
              <v-icon
                small
                left>
                mdi-plus-circle-outline
              </v-icon>
              Add Subscription
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="my-card table-card mt-4">
      <v-data-table
        :loading="loading"
        :page.sync="page"
        :items-per-page.sync="limit"
        :headers="headers"
        :items="items"
        @update:page="getSubscription()"
        @update:items-per-page="getSubscription()">
        <template #[`item.price`]="{ item }">
          $ {{ item.price.toFixed(2) | separator }}
        </template>
        <template #[`item.autoRenewAt`]="{ item }">
          {{ item.autoRenewAt | toDate }}
        </template>
        <!-- <template #[`item.action`]="{item}">
          <div class="d-flex">
            <UnsubscriptionModal :info="item" />
          </div>
        </template> -->
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import SubscriptionProvider from '@/resources/SubscriptionProvider'
// import AddNewSubscriptionModal from '../components/user/addNewSubscription.vue'
// import UnsubscriptionModal from '../components/user/unSubscription.vue'

export default {
  name: 'SubscriptionListPage',
  components: {
    // AddNewSubscriptionModal
    // UnsubscriptionModal
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'
      return dayjs(val).format('MM-DD-YYYY')
    }
  },
  data () {
    return {
      loading: false,
      page: 1,
      limit: 10,
      search: '',
      headers: [
        {
          text: 'Current Subscription',
          value: 'name'
        },
        {
          text: 'Subscription Plan',
          value: 'paymentPlan'
        },
        {
          text: 'Quantity',
          value: 'quantity'
        },
        {
          text: 'Subscription Price',
          value: 'price'
        },
        {
          text: 'Auto Renew',
          value: 'autoRenewAt'
        },
        {
          text: 'Status',
          value: 'subscriptionStatus'
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getSubscription()
  },
  methods: {
    // statusColor (status) {
    //   if (status === 'ACTIVE') {
    //     return 'activeColor'
    //   }
    //   if (status === 'INACTIVE') {
    //     return 'suspendedColor'
    //   }
    //   return 'suspendedColor'
    // },
    async getSubscription () {
      try {
        this.loading = true
        const { data } = await SubscriptionProvider.getSubscription({
          page: this.page,
          limit: this.limit,
          search: this.search
        })
        this.items = data.results
      } catch (error) {
        console.error('[ERROR] get subscription', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
