<template>
  <div class="card-loader d-flex justify-center">
    <v-skeleton-loader
      class="loader my-auto"
      type="card, list-item, list-item, actions" />
  </div>
</template>

<script>
export default {
  name: 'DirectAdmin',
  components: {

  },
  mounted () {
    this.$store.dispatch('User/resetUser')
    this.$store.dispatch('Restaurant/resetAvailable')
    this.directLogin()
    // setTimeout(() => {
    //   this.$router.push('/')
    // }, 1000)
  },
  methods: {
    async directLogin () {
      try {
        await this.$store.dispatch('User/directAdmin', {
          id: this.$route.params.id,
          username: '',
          password: '',
          isRemember: false
        })

        this.$notify.success('Sign in success.')

        const role = this.$store.getters['User/role']
        if (role === 'super-admin') {
          this.$router.push('/signout')
        } else { this.$router.push('/dashboard') }
      } catch (error) {
        this.setAlert('Something went wrong', 5000)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.loader{
width: 100% !important;
max-width: 600px;

}

.card-loader{
height: 100vh;

}
</style>
