<template>
  <section id="login-page">
    <v-container class="container">
      <v-row
        class="ma-0"
        align="center"
        justify="center">
        <v-col
          cols="12"
          md="8"
          class="py-0">
          <img
            height="200"
            src="@/assets/logo2-03.svg"
            alt="">
        </v-col>
      </v-row>
      <v-row
        align="center"
        justify="center"
        class="ma-0 mt-n4">
        <v-col
          class="col col-form py-0"
          :cols="12"
          :md="4">
          <div
            class="d-flex  justify-center px-sm-6 pt-sm-12 pb-sm-2 py-12 ">
            <div class="w-full">
              <div
                v-if="alert.visible"
                class="alert-block mb-5">
                <div class="d-flex justify-space-between">
                  <div class="title">
                    Please try again
                  </div>
                  <div>
                    <v-btn
                      icon
                      small
                      @click="alert.visible = false">
                      <v-icon small>
                        mdi-close
                      </v-icon>
                    </v-btn>
                  </div>
                </div>
                <div>
                  {{ alert.msg }}
                </div>
              </div>

              <v-form
                v-model="formUserValid"
                @submit.prevent="signin()">
                <div class="from-group">
                  <label for="Username">Email</label>
                  <v-text-field
                    id="Username"
                    v-model="formUesrData.username"
                    :rules="formUserValidate.username"
                    name="username"

                    outlined
                    dense />
                </div>
                <div class="from-group">
                  <label for="UserPassword">Password</label>
                  <v-text-field
                    id="UserPassword"
                    v-model="formUesrData.password"
                    :rules="formUserValidate.password"
                    :type="isPassword ? 'password' : 'text' "
                    :append-icon="isPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    name="password"
                    maxlength="24"
                    outlined
                    dense
                    @click:append="toggleIsPassword()" />
                </div>
                <v-checkbox
                  v-model="isRemember"
                  :ripple="false"
                  class="mb-4"
                  hide-details
                  dense>
                  <template #label>
                    <span class="text-caption">Remember me</span>
                  </template>
                </v-checkbox>
                <v-btn
                  :ripple="false"
                  :disabled="!formUserValid"
                  :loading="isProcessing"
                  type="submit"
                  color="primary"
                  elevation="0"
                  block>
                  login
                </v-btn>
                <v-btn
                  class="mt-4"
                  :ripple="false"
                  color="secondary"
                  elevation="0"
                  block
                  @click="routeToSignup()">
                  sign up
                </v-btn>
              </v-form>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import store from '@/store'
import { getAccessToken } from '@/utils/auth'
// import LoginTitle from '../components/LoginTitle.vue'
// import FoodImage from '../components/FoodImage.vue'
// import LoginBackgroud from '../components/LoginBackgroud.vue'

export default {
  name: 'LoginPage',
  components: {
    // LoginTitle
    // FoodImage
    // LoginBackgroud
  },
  data () {
    return {
      formUesrData: {
        username: '',
        password: ''
      },
      formUserValidate: {
        username: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ]
      },
      formUserValid: false,
      isPassword: true,
      isRemember: false,
      isProcessing: false,
      alert: {
        visible: false,
        msg: 'Something went wrong'
      }
    }
  },
  created () {
    const accessToken = getAccessToken()
    if (accessToken) {
      this.$router.push('/dashboard')
    }
  },
  mounted () {
    this.initPage()
  },
  methods: {
    setAlert (msg, time) {
      this.alert.visible = true
      this.alert.msg = msg

      setTimeout(() => {
        this.alert.visible = false
      }, time)
    },
    initPage () {
      const { username, password } = this.$store.getters['User/remember']
      if (username && password) {
        this.formUesrData.username = username
        this.formUesrData.password = password
        this.isRemember = true
      }
    },
    toggleIsPassword () {
      this.isPassword = !this.isPassword
    },
    async signin () {
      try {
        this.isProcessing = true
        await this.$store.dispatch('User/signin', {
          username: this.formUesrData.username,
          password: this.formUesrData.password,
          isRemember: this.isRemember
        })

        this.$notify.success('Sign in success.')

        const role = store.getters['User/role']
        if (role === 'super-admin') {
          this.$router.push('/signout')
        } else { this.$router.push('/dashboard') }
      } catch (error) {
        if (error.statusCode === 401) {
          this.setAlert('Invalid Username or Password', 5000)
        } else {
          this.setAlert('Something went wrong', 5000)
        }
      } finally {
        this.isProcessing = false
      }
    },
    routeToSignup () {
      this.$router.push('/signup')
    }
  }
}
</script>

<style lang="scss" scoped>
.alert-block{
  border-radius:5px ;

  background-color: #F1D5D4;
  width: 100%;
  padding: 10px;
  color: #944B47;

  .title{
    font-size: 1.1rem;
    font-weight: 500;
  }

}

#login-page {
  background-color: white;
  height: 100vh;
  .container {
    position: relative;
    z-index: 2;
    top: 60%;
    transform: translateY(-50%);

    .col {
      max-width: 530px;
    }
    .col-form {
      height: 90vh;
      max-height: 750px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .col {
        max-width: 80%;
      }
      .col-form {
        max-height: unset;
      }
    }
  }
}
</style>
