<template>
  <section id="login-page">
    <v-container class="container">
      <v-row
        align="center"
        justify="center"
        class="bg-red">
        <v-col
          class="col col-form"
          :cols="12"
          :md="8">
          <v-card class="d-flex flex-column justify-sm-space-between px-sm-6 pt-sm-12 pb-sm-2 py-12 overflow-auto">
            <v-card-text>
              <img
                height="100"
                src="@/assets/logo.png"
                alt="">
              <div

                class="text-sm-h6 font-weight-light text-center mb-4"
                style="color:red">
                {{ alert.msg }}
              </div>
              <v-form
                v-model="formUserValid"
                @submit.prevent="signin()">
                <div class="from-group">
                  <label for="Username">User ID</label>
                  <v-text-field
                    id="Username"
                    v-model="formUesrData.username"
                    :rules="formUserValidate.username"
                    name="username"

                    outlined
                    dense />
                </div>
                <div class="from-group">
                  <label for="UserPassword">Password</label>
                  <v-text-field
                    id="UserPassword"
                    v-model="formUesrData.password"
                    :rules="formUserValidate.password"
                    :type="isPassword ? 'password' : 'text' "
                    :append-icon="isPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    name="password"
                    maxlength="24"
                    outlined
                    dense
                    @click:append="toggleIsPassword()" />
                </div>
                <v-checkbox
                  v-model="isRemember"
                  :ripple="false"
                  class="mb-4"
                  hide-details
                  dense>
                  <template #label>
                    <span class="text-caption">Remember me</span>
                  </template>
                </v-checkbox>
                <v-btn
                  :ripple="false"
                  :disabled="!formUserValid"
                  :loading="isProcessing"
                  type="submit"
                  color="primary"
                  elevation="0"
                  block>
                  login
                </v-btn>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import store from '@/store'
// import LoginTitle from '../components/LoginTitle.vue'
// import FoodImage from '../components/FoodImage.vue'
// import LoginBackgroud from '../components/LoginBackgroud.vue'

export default {
  name: 'LoginPage',
  components: {
    // LoginTitle
    // FoodImage
    // LoginBackgroud
  },
  data () {
    return {
      formUesrData: {
        username: '',
        password: ''
      },
      formUserValidate: {
        username: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ]
      },
      formUserValid: false,
      isPassword: true,
      isRemember: false,
      isProcessing: false,
      alert: {
        visible: false,
        msg: 'Something went wrong'
      }
    }
  },
  mounted () {
    this.initPage()
  },
  methods: {
    setAlert (msg, time) {
      this.alert.visible = true
      this.alert.msg = msg

      setTimeout(() => {
        this.alert.visible = false
      }, time)
    },
    initPage () {
      const { username, password } = this.$store.getters['User/remember']
      if (username && password) {
        this.formUesrData.username = username
        this.formUesrData.password = password
        this.isRemember = true
      }
    },
    toggleIsPassword () {
      this.isPassword = !this.isPassword
    },
    async signin () {
      try {
        this.isProcessing = true
        await this.$store.dispatch('User/signin', {
          username: this.formUesrData.username,
          password: this.formUesrData.password,
          isRemember: this.isRemember
        })

        this.$notify.success('Sign in success.')

        const role = store.getters['User/role']
        if (role === 'super-admin') {
          this.$router.push('/signout')
        } else { this.$router.push('/') }
      } catch (error) {
        if (error.statusCode === 401) {
          this.setAlert('Invalid Username or Password', 5000)
        } else {
          this.setAlert('Something went wrong', 5000)
        }
      } finally {
        this.isProcessing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
#login-page {
  height: 100vh;
  .container {
    position: relative;
    z-index: 2;
    top: 60%;
    transform: translateY(-50%);

    .col {
      max-width: 530px;
    }
    .col-form {
      height: 90vh;
      max-height: 750px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .col {
        max-width: 80%;
      }
      .col-form {
        max-height: unset;
      }
    }
  }
}
</style>
