<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          color="primary"
          elevation="0"
          v-on="on">
          {{ isNewAccount ? 'Change Account' : '+ Add Account' }}
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 ">
          <div>
            New Bank Account
          </div>
        </div>
        <div class="px-5 py-3  ">
          <v-form
            v-model="validForm"
            class="my-5">
            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Account Number <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.accountNumber"
                  :rules="validateForm.accountNumber"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Account Type <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-select
                  v-model="form.accountType"
                  :rules="validateForm.required"
                  :items="accountTypeList"
                  outlined
                  hide-details
                  dense></v-select>
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.name"
                  :rules="validateForm.required"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Print Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.printName"
                  :rules="validateForm.required"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Routing Number <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.routingNumber"
                  :rules="validateForm.routingNumber"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Signature <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.signature"
                  :rules="validateForm.required"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Title <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.title"
                  :rules="validateForm.required"
                  outlined
                  hide-details
                  dense />
              </v-col>
            </v-row>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="py-3">
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :disabled="!validForm"
            :loading="processing"
            @click="createNewAccount">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import BankProvider from '@/resources/BankProvider'

const bankService = new BankProvider()
export default {
  props: {
    isNewAccount: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      accountTypeList: [{
        text: 'Checking',
        value: 'CHECKING'
      },
      {
        text: 'Saving',
        value: 'SAVING'
      }],
      dialog: false,
      processing: false,
      loading: true,
      tableZone: [],
      form: {
        accountNumber: '',
        accountType: 'SAVING',
        printName: '',
        routingNumber: '',
        signature: '',
        title: '',
        name: '',
        date: new Date()
      },
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ],
        accountNumber: [
          // (val) => val.length >= 14 || 'Invalid Account Number',
          (val) => !!val || 'Required'
        ],
        routingNumber: [
          (val) => val.length === 9 || 'Invalid Account Number',
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {

  },
  methods: {
    async createNewAccount () {
      try {
        this.processing = true
        await bankService.createNewBankAccount({
          ...this.form
        })

        this.$notify.success('Update Success')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
