<template>
  <div>
    <v-card
      class="px-8 py-3 my-card"
      elevation="1">
      <div class="d-flex align-center">
        <h3>
          Bank Account
        </h3>

        <v-spacer></v-spacer>

        <!-- <div>
          <BankChangeAccount :is-new-account="!!bankAccountData" />
        </div> -->

        <v-btn
          v-if="!isEditing && isHaveAccount"
          color="primary"
          class="text-none"
          @click="setEdit()">
          Change Account
        </v-btn>
        <v-btn
          v-if="!isEditing && !isHaveAccount"
          color="primary"
          class="text-none"
          @click="setEdit()">
          Add New Account
        </v-btn>
        <v-btn
          v-if="isEditing"
          class="text-none mx-2"
          @click="cancelEdit">
          Cancel
        </v-btn>
        <v-btn
          v-if="isEditing"
          :disabled="!validForm"
          :loading="processing"
          color="primary"
          class="text-none"
          @click="createNewAccount()">
          Save
        </v-btn>
      </div>

      <v-form
        v-if="!loading"
        ref="form"
        v-model="validForm"
        :disabled="!isEditing">
        <div
          class="mt-10 font-weight-bold">
          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Account Name :
            </v-col>

            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-model="form.name"
                :rules="validateForm.required"
                hide-details
                dense />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Account Type :
            </v-col>

            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-select
                v-model="form.accountType"

                :rules="validateForm.required"
                hide-details
                :items="accountTypeList"
                dense />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Account Number :
            </v-col>

            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-model="form.accountNumber"
                :rules="validateForm.accountNumber"
                hide-details
                dense />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Routing Number :
            </v-col>

            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-model="form.routingNumber"
                :rules="validateForm.routingNumber"
                hide-details
                dense />
            </v-col>
          </v-row>
        </div>

        <p class="mt-10">
          I authorize T Thai LLC hereinafter named COMPANY to initiate recurring ACH/electronic debit to the bank account on record on
          monthly debits for billing subscription. I agree that ACH transactions I authorize comply with all applicable law.
          I understand that this authorization will remain in full force and effect until I notify COMPANY in writing to PO Box 160493,
          Boiling Springs, SC 29316 that I wish to revoke this authorization. I understand that COMPANY requires at least 30 days prior
          notice in order to cancel this authorization. Payments made after 6:00 P.M eastern time will be applied as of the next business day.
          To complete the payment process, click the “authorize” button. Once payment is authorized, there cannot be any changes or corrections.
          It is recommended that you print a copy of this authorization and maintain it for your records.
        </p>

        <p>
          I guarantee and warrant that I am an authorized user of this bank account and that I am legally authorized to enter into this
          billing agreement with the COMPANY. I certify that I will not dispute this scheduled transaction (s) with my bank so long as the
          transactions correspond to the terms indicated in this authorization form.
        </p>

        <div

          class="mt-10 font-weight-bold">
          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Signature :
            </v-col>
            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-model="form.signature"
                :rules="validateForm.required"
                hide-details
                dense />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Print Name :
            </v-col>
            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-model="form.printName"
                :rules="validateForm.required"
                hide-details
                dense />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Title :
            </v-col>
            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                v-if="!isEditing"
                v-model="ownerTile"
                :rules="validateForm.required"
                hide-details
                dense />
              <v-select
                v-else
                v-model="form.title"
                :rules="validateForm.required"
                outlined
                hide-details
                dense
                color
                :items="ownerTitleOptions"
                filled></v-select>
            </v-col>
          </v-row>

          <v-row
            v-if="!isEditing"
            class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2"
              class="px-0">
              Date :
            </v-col>
            <v-col
              cols="12"
              sm="4"
              class="px-0">
              <v-text-field
                :value="$dayjs(form.date).format('MM-DD-YYYY')"
                :rules="validateForm.required"
                hide-details
                dense />
            </v-col>
          </v-row>
        </div>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import BankProvider from '@/resources/BankProvider'
import OwnerTitleList from '@/assets/js/owner-title-list'
import ownerDisplay from '@/plugins/helper/OwnerDisplay'
import RestaurantProvider from '@/resources/RestaurantProvider'
// import BankChangeAccount from './BankChangeAccount.vue'

const bankService = new BankProvider()
const restaurantService = new RestaurantProvider()

export default {
  components: {
    // BankChangeAccount
  },
  data () {
    return {
      processing: false,
      validForm: false,
      isEditing: false,
      ownerTitleOptions: OwnerTitleList,
      form: {
        accountNumber: '',
        accountType: 'SAVING',
        printName: '',
        routingNumber: '',
        signature: '',
        title: '',
        name: '',
        date: new Date()
      },
      bankAccountData: null,
      loading: true,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ],
        accountNumber: [
          // (val) => val.length >= 14 || 'Invalid Account Number',
          (val) => !!val || 'Required'
        ],
        routingNumber: [
          (val) => val.length === 9 || 'Invalid Account Number',
          (val) => !!val || 'Required'
        ]
      },
      accountTypeList: [{
        text: 'Checking',
        value: 'CHECKING'
      },
      {
        text: 'Saving',
        value: 'SAVING'
      }],
      ownerDisplay
    }
  },
  computed: {
    isHaveAccount () {
      return !!this.bankAccountData
    },
    ownerTile: {
      get () {
        return this.ownerDisplay(this.form.title)
      },
      set (val) {
        this.form.title = val
      }
    }
  },
  mounted () {
    this.getBankAccount()
  },
  methods: {
    setEdit () {
      this.form = {
        accountNumber: '',
        accountType: 'SAVING',
        printName: '',
        routingNumber: '',
        signature: '',
        title: '',
        name: '',
        date: new Date()
      }
      this.isEditing = true
      this.$refs.form.resetValidation()
    },
    cancelEdit () {
      this.isEditing = false
      this.getBankAccount()
    },
    async createNewAccount () {
      try {
        this.processing = true
        this.form.date = new Date()
        await bankService.createNewBankAccount({
          ...this.form
        })

        this.$notify.success('Update Success')
        this.cancelEdit()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
        await this.getAvailableInfo()
      }
    },
    async getBankAccount () {
      try {
        this.loading = true
        const { data } = await bankService.getBankAccount()
        this.bankAccountData = data
        this.form = {
          accountNumber: data?.accountNumber || '',
          accountType: data?.accountType || 'SAVING',
          printName: data?.printName || '',
          routingNumber: data?.routingNumber || '',
          signature: data?.signature || '',
          title: data?.title || '',
          name: data?.name || '',
          date: data?.date ? new Date(data?.date) : new Date()
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async getAvailableInfo () {
      const { data } = await restaurantService.getInfoAvailable()
      if (data) {
        this.$store.dispatch('Restaurant/setAvailable', data)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
div :deep(.v-input__slot) {
  background: rgba(0, 0, 0, 0) !important;
}
</style>
