<template>
  <div>
    <v-card class="px-10 py-5 my-card">
      <section>
        <CashierList />
      </section>

      <section class="mt-5">
        <OtherDeviceList :device-list="deviceList" />
      </section>
    </v-card>
  </div>
</template>

<script>
import OtherDeviceProvider from '@/resources/OtherDeviceProvider'
import CashierList from '../components/cashierList.vue'
import OtherDeviceList from '../components/otherDeviceList.vue'

const OtherDeviceService = new OtherDeviceProvider()
export default {
  components: {
    CashierList,
    OtherDeviceList
  },
  data () {
    return {
      loading: false,
      deviceList: []
    }
  },
  mounted () {
    this.getOtherDeviceList()
  },
  methods: {
    async getOtherDeviceList () {
      try {
        this.loading = true
        const { data } = await OtherDeviceService.getOtherDevice()

        this.deviceList = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">
.border-card{
  border: 1px gray solid;
}
</style>
