<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details
              dense
              placeholder="Search"
              @keydown.enter="getClientsList" />
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card mt-4">
      <div class="px-3 mt-5 mb-2 font-weight-bold">
        Balance : <span
          class="primary--text mx-3"
          style="font-size:1.2rem">80</span>  point
      </div>

      <v-data-table
        :headers="referralHeader"
        :items="referralData">
        <template #[`item.date`]="{item}">
          {{ item.date | toDate }}
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  components: {

  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }

  },
  data () {
    return {
      loading: true,
      seacrhText: '',
      referralHeader: [
        {
          text: 'Date',
          value: 'date'
        },
        {
          text: 'Referral Code',
          value: 'referralCode'
        },

        {
          text: 'Award Point',
          value: 'awardPoint'
        }

      ],
      referralData: [{
        date: '2022-08-01',
        referralCode: 'THAIYA',
        awardPoint: 20
      },
      {
        date: '2022-09-01',
        referralCode: 'THAIMI',
        awardPoint: -100
      }
      ]

    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
