<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details
              dense
              placeholder="Search"
              @keydown.enter="getClientsList" />
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          class="d-flex"
          cols="12"
          sm="6">
          <v-text-field
            dense
            hide-details
            outlined
            class="mr-1"
            label="Monthly"
            type="month" />
          <v-select
            class="ml-1"
            dense
            :items="yearList"
            hide-details
            outlined
            label="Year"
            type="year"></v-select>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="px-8 py-3 my-card table-card">
      <h3>
        POS Processing Fee
      </h3>

      <div class=" font-weight-bold pa-3">
        <v-row class="ma-0">
          <v-col
            cols="8"
            sm="2">
            Credit Card Sales :
          </v-col>
          <v-col
            class="primary--text mx-5"
            style="font-size:1.2rem">
            0.25 %
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col
            cols="8"
            sm="2">
            Debit Card Sales :
          </v-col>
          <v-col

            class="primary--text mx-5"
            style="font-size:1.2rem">
            0.50 %
          </v-col>
        </v-row>
      </div>
    </v-card>

    <v-card class="my-card table-card mt-4">
      <div class="px-4 mt-4">
        <div class="font-weight-bold">
          Amount Due : <span
            class="primary--text mx-3"
            style="font-size:1.1rem">$ 190.00 </span>
        </div>

        <div class="font-weight-bold">
          Paid by ACH Debit ending <span
            class="primary--text mx-3"
            style="font-size:1.1rem">1234 </span>  on  <span
              class="primary--text mx-3"
              style="font-size:1.1rem">7/3/2022</span>
        </div>

        <div class="font-weight-bold">
          Auth Code :  <span
            class="primary--text mx-3"
            style="font-size:1.1rem">VPJSP5</span>
        </div>
      </div>
      <v-data-table
        class="mt-1"
        :headers="billHeader"
        :items="billData">
        <template #[`item.amount`]="{item}">
          $ {{ item.amount.toFixed(2) | separator }}
        </template>

        <template #[`item.quantity`]="{item}">
          {{ item.quantity | separator }}
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  components: {

  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }

  },
  data () {
    return {
      yearList: [],
      loading: true,
      seacrhText: '',
      billHeader: [
        {
          text: 'Description',
          value: 'description'
        },
        {
          text: 'Quantity',
          value: 'quantity'
        },

        {
          text: 'Amount',
          value: 'amount'
        }

      ],
      billData: [{
        description: 'Credit Card Sales',
        quantity: 26000,
        amount: 65
      },
      {
        description: 'Debit Card Sales',
        quantity: 10500,
        amount: 52.50
      },
      {
        description: 'EatsZaab',
        quantity: 250,
        amount: 12.50
      },
      {
        description: 'iPad',
        quantity: 1,
        amount: 20
      }
      ]

    }
  },
  mounted () {
    for (let i = 0; i <= 10; i++) {
      this.yearList.push(`${2022 + i}`)
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>

</style>
