<template>
  <div>
    <v-card
      class="px-8 py-3 my-card "
      elevation="1">
      <div>
        <v-row>
          <v-col
            cols="12"
            sm="6"
            class="d-flex align-center ">
            <div class="d-flex align-center my-search-input mr-2 ">
              <v-text-field
                v-model="searchText"
                hide-details
                dense
                placeholder="Search ( Restaurant Name , Billing ID ) "
                @keydown.enter="getClientsList" />
            </div>
            <div class="d-flex align-center ml-2">
              <v-btn
                elevation="0"
                dark
                height="40px"
                color="#1E2546"
                class="text-none font-weight-light rounded-lg"
                @click="getClientsList">
                Search
              </v-btn>
            </div>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            class="d-flex justify-end align-center">
            <div class="mr-5">
              Date Filter
            </div>
            <v-btn
              color="primary"
              outlined>
              Export
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-card>

    <v-card
      class=" my-card table-card"
      elevation="1">
      <div>
        <v-data-table
          :headers="billHeader"
          :items="billData">
          <template #[`item.transferredDate`]="{item}">
            {{ item.transferredDate | toDate }}
          </template>

          <template #[`item.billingDate`]="{item}">
            {{ item.billingDate | toDate }}
          </template>

          <template #[`item.receipt`]="{item}">
            <div class="d-flex">
              <v-btn
                v-if="item.receipt"
                text
                small
                color="primary"
                @click="printReceipt(item.id)">
                Download
              </v-btn>

              <div
                v-else
                class="grey--text">
                Waiting for billing
              </div>
            </div>
          </template>
        </v-data-table>
      </div>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  name: 'SuperAdminBillList',
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }
  },
  data () {
    return {
      searchText: '',
      dates: ['2019-09-10', '2019-09-20'],
      showDatePicker: false,
      billHeader: [
        {
          text: 'Restaurant Name',
          value: 'name'
        },
        {
          text: 'Billing ID',
          value: 'id'
        }, {
          text: 'Billing Date',
          value: 'billingDate'
        }, {
          text: 'Transferred Date',
          value: 'transferredDate'
        }, {
          text: 'Receipt',
          value: 'receipt'
        }
      ],
      billData: [
        {
          name: 'ABC',
          id: 'B0010313142',
          billingDate: '2022-01-11',
          transferredDate: '2022-03-11',
          receipt: 'www.google.com'
        },
        {
          name: 'DFG',
          id: 'B0010313145',
          billingDate: '2022-01-12',
          transferredDate: '2022-03-12',
          receipt: null
        }
      ]
    }
  },
  mounted () {

  },
  methods: {
    printReceipt (id) {
      window.open(`/print/receipt/${id}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  height: 600px;
  overflow: auto;
}
</style>
