<template>
  <div class="text-center">
    <v-dialog
      v-if="!loading"
      v-model="dialog"
      fullscreen>
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none"
          outlined
          color="primary"
          v-on="on">
          Apply For Merchant Account
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 d-flex">
          <div>
            Apply For Merchant Account
          </div>
          <v-spacer></v-spacer>
          <div>
            <v-btn
              icon
              @click="dialog = false">
              <v-icon>
                mdi-close
              </v-icon>
            </v-btn>
          </div>
        </div>
        <div class="px-5 py-3 text-content">
          <v-form v-model="validForm">
            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Business Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.akaBusinessName"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  outlined
                  color />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                DBA Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.dbaName"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  outlined
                  color />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Legal Business Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.legalBusinessName"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  outlined
                  color />
              </v-col>
            </v-row>

            <v-row class="ma-0 ">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Bank Detail <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <div>
                  <div class="my-title">
                    Deposit Bank
                  </div>
                  <div class="mt-2">
                    <v-text-field
                      v-model.trim="form.bankDetail.depositBank.bankAcctNum"
                      label="Bank Account Number *"
                      type="number"
                      hide-spin-buttons
                      :rules="formValidate.bankAcctNum"
                      dense
                      hide-details
                      outlined
                      color />
                    <v-select
                      v-model="form.bankDetail.depositBank.bankAcctTypeCd"
                      class="mt-3"
                      :rules="formValidate.required"
                      outlined
                      hide-details
                      dense
                      color
                      :items="bankAcctTypeCdItems"
                      filled
                      label="Bank Account Type *"></v-select>
                    <v-text-field
                      v-model="form.bankDetail.depositBank.bankName"
                      class="mt-3"
                      label="Bank Name *"
                      :rules="formValidate.required"
                      dense
                      hide-details
                      outlined
                      color />
                    <v-text-field
                      v-model="form.bankDetail.depositBank.bankRoutingNum"
                      class="mt-3"
                      label="Bank Routing Number *"
                      type="number"
                      hide-spin-buttons
                      :rules="formValidate.bankRoutingNum"
                      dense
                      hide-details
                      outlined
                      color />
                  </div>
                </div>
                <div class="mt-5">
                  <div class="my-title">
                    Withdrawal Bank
                  </div>
                  <div class="mt-2">
                    <v-text-field
                      v-model.trim="form.bankDetail.withdrawalBank.bankAcctNum"
                      label="Bank Account Number *"
                      type="number"
                      hide-spin-buttons
                      :rules="formValidate.bankAcctNum"
                      dense
                      hide-details
                      outlined
                      color />
                    <v-select
                      v-model="form.bankDetail.withdrawalBank.bankAcctTypeCd"
                      class="mt-3"
                      :rules="formValidate.required"
                      outlined
                      hide-details
                      dense
                      color
                      :items="bankAcctTypeCdItems"
                      filled
                      label="Bank Account Type *"></v-select>
                    <v-text-field
                      v-model="form.bankDetail.withdrawalBank.bankName"
                      class="mt-3"
                      label="Bank Name *"
                      :rules="formValidate.required"
                      dense
                      hide-details
                      outlined
                      color />
                    <v-text-field
                      v-model="form.bankDetail.withdrawalBank.bankRoutingNum"
                      class="mt-3"
                      label="Bank Routing Number *"
                      type="number"
                      hide-spin-buttons
                      :rules="formValidate.bankRoutingNum"
                      dense
                      hide-details
                      outlined
                      color />
                  </div>
                </div>
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Address <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.demographic.businessAddress.address1"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  outlined
                  color />
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                City <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.demographic.businessAddress.city"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  outlined
                  color />
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                State <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-select
                  v-model="form.demographic.businessAddress.stateCd"
                  dense
                  :rules="formValidate.required"
                  hide-details
                  color
                  :items="stateList"
                  outlined
                  label=""></v-select>
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-divider></v-divider>
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Owner Name <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.ownership.owner.ownerName"
                  dense
                  :rules="formValidate.required"
                  hide-details
                  color
                  outlined
                  label="" />
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Owner Title <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-select
                  v-model="form.ownership.owner.ownerTitle"
                  class="mt-3"
                  :rules="formValidate.required"
                  outlined
                  hide-details
                  dense
                  color
                  :items="ownerTitleOptions"
                  filled></v-select>
                <!-- <v-text-field
                  v-model="form.ownership.owner.ownerTitle"
                  dense
                  :rules="formValidate.required"
                  hide-details
                  color
                  outlined
                  label="" /> -->
              </v-col>
            </v-row>

            <v-row class="align-center ma-0">
              <v-col
                cols="12"
                sm="3"
                class="my-title d-sm-flex justify-end">
                Owner Email <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model="form.ownership.owner.ownerEmail"
                  dense
                  :rules="formValidate.required"
                  hide-details
                  color
                  outlined
                  label="" />
              </v-col>
            </v-row>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :disabled="!validForm"
            :loading="processing"
            @click="createMerchantCoPilot">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import StateList from '@/plugins/helper/UsaStateList'
import PaymentGatewayProvider from '@/resources/PaymentGateway'
import RestaurantProvider from '@/resources/RestaurantProvider'
import OwnerTitleList from '@/assets/js/owner-title-list'

const RestaurantService = new RestaurantProvider()
// eslint-disable-next-line no-unused-vars
const paymentGatewayService = new PaymentGatewayProvider()
export default {
  data () {
    return {
      validForm: false,
      dialog: false,
      processing: false,
      loading: true,
      ownerTitleOptions: OwnerTitleList,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ],
        bankAcctNum: [
          (val) => !!val || 'Required',
          (val) => /\d/g.test(val) || 'invalid acc num'
        ],
        bankRoutingNum: [
          (val) => !!val || 'Required',
          (val) => val.length === 9 || 'invalid routing num'
        ]
      },
      form: {
        akaBusinessName: '',
        bankDetail: {
          depositBank: {
            bankAcctNum: '',
            bankRoutingNum: '',
            bankAcctTypeCd: '',
            bankName: ''
          },
          withdrawalBank: {
            bankAcctNum: '',
            bankRoutingNum: '',
            bankAcctTypeCd: '',
            bankName: ''
          }
        },
        dbaName: '',
        demographic: {
          businessAddress: {
            address1: this.$store.getters['User/restaurantData'].address.address || '',
            city: this.$store.getters['User/restaurantData'].address.city || '',
            zip: this.$store.getters['User/restaurantData'].address.zipCode || '',
            stateCd: this.$store.getters['User/restaurantData'].address.state || ''
          }
        },
        legalBusinessName: this.$store.getters['User/restaurantData'].name || null,
        ownership: {
          owner: {
            ownerEmail: '',
            ownerName: '',
            ownerTitle: ''
          }
        }
      },
      bankAcctTypeCdItems: [{
        text: 'Checking', value: 'BIZ'
      },
      // {
      //   text: 'GL', value: 'GL'
      // },
      {
        text: 'Savings', value: 'SAVINGS'
      }]

    }
  },
  computed: {
    restaurantData () {
      return this.$store.getters['User/restaurantData'] || null
    },
    stateList () {
      const states = []
      for (const e of StateList) {
        states.push(e.abbreviation)
      }
      return states
    }
  },
  async mounted () {
    await this.getRestaurantInfo()
  },
  methods: {
    async createMerchantCoPilot () {
      try {
        this.processing = true
        const { data } = await paymentGatewayService.createMerchantCoPilot({
          ...this.form
        })
        this.dialog = false
        window.open(data.signatureUrl, '_blank')
        this.$emit('refresh')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getRestaurantInfo () {
      try {
        this.loading = true
        const { data } = await RestaurantService.getRestaurantById()
        this.form = {
          ...this.form,
          akaBusinessName: data?.dba,
          dbaName: data?.dba,
          legalBusinessName: data?.legalBusinessName,
          ownership: {
            owner: {
              ownerEmail: data?.email,
              ownerName: data?.authorizedPersonName,
              ownerTitle: data?.title
            }
          },
          demographic: {
            businessAddress: {
              address1: data?.address?.address,
              city: data?.address?.city,
              zip: data?.address?.zipCode,
              stateCd: data?.address?.state
            }
          }
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}

.my-title{
  font-weight: 500;
  color: black;
}

.title{
  color: black;
}
</style>
