<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <v-row class="head-title my-0">
        <span> {{ isUpdate ? 'Edit Modifier' : 'Create Modifier' }} </span>
      </v-row>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"></v-skeleton-loader>

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit()">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Modifier Name <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.label"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons

              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Modifier Abbreviation <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field

              v-model.trim="form.abbreviation"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons

              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10  ">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Modify Type <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.type"
              :items="typeOptions"
              menu-props="bottom, overflowY"
              class="text-capitalize"
              placeholder="Choose Modify Type"
              outlined
              dense

              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Maximum Selected <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div>
              <v-text-field
                v-model.number="form.maxSelected"
                type="number"
                :rules="formValidate.required"
                hide-details
                hide-spin-buttons
                placeholder="Maximum Selected"
                dense
                outlined />
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Position
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div>
              <v-text-field
                v-model.number="form.position"
                type="number"
                :rules="formValidate.position"
                hide-details
                hide-spin-buttons
                dense
                outlined />
            </div>
          </v-col>
        </v-row>

        <v-divider class="my-10"></v-divider>

        <v-row class="mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Options
          </v-col>
          <v-col
            cols="12"
            sm="10"
            class="px-0 py-0 d-flex">
            <div>
              <div
                v-for="(item ,i) in form.items"
                :key="i"
                class="d-flex mb-2">
                <v-text-field
                  v-model.trim="item.name"
                  class="mr-1"
                  label="Option Name"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details />
                <v-text-field
                  v-model.trim="item.nativeName"
                  class="mx-1"
                  label="Option Native Name"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details />
                <v-text-field
                  v-model.number="item.price"
                  :rules="formValidate.numberRequired"
                  type="number"
                  prefix="$"
                  hide-spin-buttons
                  class="ml-1"
                  label="Option Price"
                  outlined
                  dense
                  hide-details />

                <BtnIcon
                  icon-name="mdi-delete"
                  icon-hover="mdi-delete-empty"
                  @click="removeOption(i)" />
              </div>
              <div>
                <v-btn
                  text
                  color="primary"
                  class="text-none px-0 py-0"
                  @click="addOptionField()">
                  <v-icon small>
                    mdi-plus
                  </v-icon>
                  add option
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-divider class="my-10 "></v-divider>
        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="form.state"
                class="activeColor">Active</span>
              <span
                v-if="!form.state"
                class="suspendedColor">Disable</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="form.state"
                  dense
                  inset
                  color="#6FCF97"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-8 pb-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              type="submit"
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/menu')">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          v-bind="attrs"
          small
          text
          @click="alert.visible = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>

import ModifierProvider from '@/resources/ModifierProvider'

const modifierService = new ModifierProvider()

export default {
  name: 'MenuAddPage',
  data () {
    return {
      file: null,
      loading: false,
      uploadingImage: false,
      typeOptions: [{
        text: 'REQUIRED',
        value: 'REQUIRED'
      },
      {
        text: 'OPTIONAL',
        value: 'OPTIONAL'
      }],
      form: {
        label: '',
        type: 'OPTIONAL',
        items: [],
        maxSelected: null,
        abbreviation: '',
        position: null
      },
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ],
        numberRequired: [
          (val) => val !== null || 'Required',
          (val) => val !== undefined || 'Required',
          (val) => val >= 0 || 'Not less than 0'
        ],
        numberFormat: [
          (val) => /\d/g.test(val) || 'Only Number'
        ]
      },
      menuCategoryList: [],
      processing: false,
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      }
    }
  },
  computed: {
    modifierId () {
      return this.$route?.params?.modifierId || null
    },
    isUpdate () {
      return !!this.modifierId
    }
  },
  mounted () {
    // this.getMenuCategoryList()

    if (this.isUpdate) {
      this.getMenuModifier()
    }
  },
  methods: {
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },

    removeOption (index) {
      this.form.items.splice(index, 1)
    },
    addOptionField () {
      this.form.items.push({
        name: '',
        nativeName: '',
        price: ''
      })
    },
    submit () {
      if (this.isUpdate) {
        return this.updateMenuModifier()
      }
      return this.createMenuModifier()
    },
    async getMenuCategoryList () {
      try {
        this.loading = true
        const { data: { results } } = await modifierService.getMenuCategory({
          limit: 999
        })

        this.menuCategoryList = results.map((item) => ({
          text: item.name,
          value: item.id
        }))
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    },
    async updateMenuModifier () {
      try {
        this.processing = true
        await modifierService.updateModifier(
          `${this.modifierId}`,
          { ...this.form }
        )

        this.$router.push('/modify')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async createMenuModifier () {
      try {
        this.processing = true
        if (this.form.items.length > 0) {
          await modifierService.createModifier(this.form)
          this.$router.push('/modify')
        }
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: 'Options are required.'
        })
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async getMenuModifier () {
      try {
        this.loading = true
        const {
          data
        } = await modifierService.getModifierById(this.modifierId)

        this.form = {
          label: data.label || '',
          type: data.type || '',
          abbreviation: data.abbreviation || '',
          maxSelected: data.maxSelected || null,
          items: data.items || [],
          position: data.position || null
        }
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu-image{
  width: 126px;
height: 126px;

border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
}

.my-file-input{
  background: #FFFFFF;
border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input-loading{
  background: #FFFFFF;
border: 1px solid #d1d1d1;
color:#d1d1d1 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input:hover{
  cursor: pointer;
  background-color: #B2CC53;
  color: white !important;
  transition-duration: 500ms;

  .my-icon{
    color: white !important;
    transition-duration: 500ms;
  }

}

</style>
