<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          block
          color="primary"
          elevation="0"
          large

          v-on="on">
          <v-icon left>
            mdi-plus-circle
          </v-icon> reservation
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 ">
          <div>
            Reserve Table
          </div>
        </div>
        <div class="px-5 py-3  ">
          <v-form
            v-model="validForm"
            class="my-5">
            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Full Name
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <div class="d-flex">
                  <v-text-field
                    label="First Name"
                    hide-details
                    dense
                    outlined
                    color
                    class="mr-1" />
                  <v-text-field
                    label="Last Name"
                    hide-details
                    dense
                    class="ml-1"
                    outlined
                    color />
                </div>
              </v-col>
            </v-row>

            <v-row class="ma-0 mt-4 align-center">
              <v-col
                cols="12"
                sm="3">
                Email
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <v-text-field
                  placeholder="ex : myname@example.com"
                  hide-details
                  dense
                  outlined
                  color
                  class="" />
                <div class="ma-1 grey--text">
                  example@example.com
                </div>
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
                Phone
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <v-text-field
                  type="number"
                  hide-spin-buttons
                  hide-details
                  dense
                  outlined
                  color
                  class="" />
              </v-col>
            </v-row>

            <v-row class="ma-0 mt-4 align-center">
              <v-col
                cols="12"
                sm="3">
                #of Guests
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <v-text-field
                  type="number"
                  hide-spin-buttons
                  hide-details
                  dense
                  outlined
                  color
                  class="" />
              </v-col>
            </v-row>

            <div
              style=""
              class="mt-4">
              Reservation
            </div>

            <v-row class="ma-0">
              <v-col
                cols="12"
                sm="6"
                class="">
                <v-date-picker
                  v-model="form.date"
                  full-width></v-date-picker>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <div class="d-flex align-center justify-space-between">
                  <div>
                    {{ $todate.ddddmmmmdd(form.date) }}
                  </div>
                  <div>
                    <v-btn
                      fab
                      class="mr-2"
                      x-small
                      elevation="0"
                      @click="previousDay">
                      <v-icon>mdi-chevron-left</v-icon>
                    </v-btn>
                    <v-btn
                      class="ml-2"
                      fab
                      x-small
                      elevation="0"
                      @click="nextDay">
                      <v-icon>mdi-chevron-right</v-icon>
                    </v-btn>
                  </div>
                </div>

                <div class="mt-3">
                  <v-row class="ma-0">
                    <v-col
                      v-for="time in reservationTimeSlot"
                      :key="time"
                      cols="6"
                      class="pa-1">
                      <v-btn
                        large
                        :outlined="!reservationTimeSelected.includes(time)"
                        block
                        color="primary"
                        @click="selectedTime(time)">
                        {{ $todate.stdTime(time) }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>

            <v-row class="ma-0 mt-4 align-center">
              <v-col
                cols="12"
                sm="3">
                Reservation Type
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <v-text-field
                  type="number"
                  hide-spin-buttons
                  hide-details
                  placeholder="Lunch / Dinner"
                  dense
                  outlined
                  color
                  class="" />
              </v-col>
            </v-row>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="py-3">
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing">
            Reserve
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  props: {
    customizeInAppText: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      form: {
        date: dayjs(new Date()).format('YYYY-MM-DD')
      },
      reservationTimeSelected: [],
      reservationTimeSlot: [
        '9:00', '11:00', '13:00', '15:00', '17:00', '19:00'
      ],
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {

  },
  methods: {
    selectedTime (time) {
      const isSelected = this.reservationTimeSelected.includes(time)

      if (isSelected) {
        const timeIndex = this.reservationTimeSelected.findIndex((e) => e === time)
        this.reservationTimeSelected.splice(timeIndex, 1)
      } else {
        this.reservationTimeSelected.push(time)
      }
    },
    nextDay () {
      const nextDay = dayjs(this.form.date).add(1, 'day')
      this.form.date = nextDay
    },
    previousDay () {
      const previousDay = dayjs(this.form.date).add(-1, 'day')
      this.form.date = previousDay
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
