<template>
  <div>
    <v-row class="ma-0 align-center">
      <v-col
        class="pa-0"
        cols="12"
        sm="4">
        <v-text-field
          v-model="searchText"
          prepend-inner-icon="mdi-magnify"
          hide-details
          placeholder="Search for something"
          dense
          outlined
          color />
      </v-col>

      <v-col
        class="pa-0 mx-2 d-flex">
        <v-chip
          color="primary"
          :outlined="chipFilter === 'seated' ? false : true "
          class="my-btn"
          @click="chipFilter = 'seated'">
          Seated
        </v-chip>
        <v-chip
          color="primary"
          :outlined="chipFilter === 'upcoming' ? false : true "
          class="my-btn mx-2"
          @click="chipFilter = 'upcoming'">
          Upcoming
        </v-chip>
        <v-chip
          color="primary"
          class="my-btn ">
          <v-select
            dark
            dense
            placeholder="Reservation time"
            hide-details>
          </v-select>
        </v-chip>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data () {
    return {
      searchText: '',
      chipFilter: 'seated'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
