<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          color="primary"
          elevation="0"
          v-on="on">
          Time Setting
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 ">
          <div>
            Reserve Time Setting
          </div>
        </div>
        <div class="px-5 py-3  ">
          <v-form
            v-model="validForm"
            class="my-5">
            <v-row class="ma-0 ">
              <v-col
                cols="12"
                sm="3">
                Time Interval
              </v-col>
              <v-col
                cols="12"
                sm="9">
                <div class="">
                  15 minutes / 30 minutes / 45 minutes / 60 minutes /
                </div>
                <div
                  v-for="(timeInterval , timeIntervalIndex ) in form.timeInterval"
                  :key="timeIntervalIndex"
                  class="d-flex mt-3 align-center">
                  <v-text-field
                    v-model="timeInterval.opensAt"
                    label="Opens at"
                    hide-details
                    type="time"
                    outlined
                    color
                    class="mr-1" />
                  <v-text-field
                    v-model="timeInterval.closesAt"
                    label="Closes at"
                    hide-details
                    type="time"
                    class="ml-1"
                    outlined
                    color />
                  <v-btn
                    icon
                    color="red"
                    @click="removeTimeInterval(timeIntervalIndex)">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </div>

                <div class="mt-2">
                  <v-btn
                    class="text-none"
                    color="primary"
                    text
                    @click="addTimeInterval">
                    + Add Time Interval
                  </v-btn>
                </div>
              </v-col>
            </v-row>

            <v-row class="ma-0 mt-4 align-center">
              <v-col
                cols="12"
                sm="3">
                Zones
              </v-col>

              <v-col
                cols="12"
                sm="9">
                <div v-if="loading">
                  loading...
                </div>
                <div v-else>
                  <v-checkbox
                    v-for="zone in tableZone"
                    :key="zone.id"
                    v-model="form.zoneSelected"
                    hide-details
                    :value="zone.name"
                    dense
                    :label="zone.name">
                  </v-checkbox>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="py-3">
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TableZoneProvider from '@/resources/TableZoneProvider'

const tableZoneService = new TableZoneProvider()
export default {
  props: {

  },
  data () {
    return {
      dialog: false,
      processing: false,
      loading: true,
      tableZone: [],
      form: {
        timeInterval: [
          {
            opensAt: '09:00',
            closesAt: '17:00'
          }
        ],
        zoneSelected: []
      },
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {
    this.getTableZone()
  },
  methods: {
    async getTableZone () {
      try {
        this.loading = true
        const { data } = await tableZoneService.getTableZone({
          limit: 999,
          search: this.searchText
        })
        this.tableZone = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    removeTimeInterval (timeIntervalIndex) {
      this.form.timeInterval.splice(timeIntervalIndex, 1)
    },
    addTimeInterval () {
      this.form.timeInterval.push({
        opensAt: '',
        closesAt: ''
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
