<template>
  <div>
    <div class="ma-0 table d-flex">
      <v-col
        v-for="(time , timeIndex) in reservationItems"
        :key="timeIndex"

        cols="12"
        sm="4"
        class="time-table pa-0">
        <div class="text-center time-label pa-2">
          {{ time.time }}
        </div>

        <div class="bold-border-btn pa-2 d-flex justify-end ">
          <v-chip small>
            8/20
          </v-chip>
        </div>

        <section>
          <div
            v-for="(period , periodIndex) in time.period"
            :key="periodIndex"
            class="  ">
            <div class="d-flex light-border-btn">
              <v-col
                class=" d-flex align-center pa-0 text-center light-border-right  justify-center text-lg"
                cols="3">
                {{ period.time }}
              </v-col>
              <v-col
                class="h-full pa-0 d-flex align-center  "
                cols="9">
                <div class="w-full">
                  <div
                    v-if="period.reservation.length === 0"
                    class="grey--text period-box d-flex align-center px-3">
                    No reservation
                  </div>
                  <div
                    v-for="(reservation , reservationIndex) in period.reservation"
                    v-else
                    :key="reservationIndex"
                    class="d-flex align-center justify-space-between reservation-box light-border-btn period-box pa-5">
                    <div class="">
                      <div class="text-lg">
                        {{ reservation.name }}
                      </div>

                      <div class="d-flex grey--text">
                        <div>
                          Table: {{ reservation.table }}
                        </div>
                        <div class="mx-3">
                          Covers: {{ reservation.covers }}
                        </div>
                      </div>
                    </div>

                    <div class="">
                      <v-btn
                        color="primary"
                        fab
                        x-small
                        elevation="0">
                        <v-icon small>
                          mdi-silverware
                        </v-icon>
                      </v-btn>
                    </div>
                  </div>
                </div>
              </v-col>
            </div>

            <div class="d-flex  period-box   bold-border-btn">
              <v-col
                class=" d-flex align-center pa-0 text-center light-border-right  justify-center text-lg"
                cols="3">
                <div class="primary--text">
                  {{ period.in }}/{{ period.max }}
                </div>
              </v-col>
              <v-col
                class="h-full pa-0 d-flex align-center  "
                cols="9">
                <div class=" w-full px-3">
                  <ReserveTableModal />
                </div>
              </v-col>
            </div>
          </div>
        </section>
      </v-col>
    </div>
  </div>
</template>

<script>
import ReserveTableModal from './reserveTableModal.vue'

export default {
  components: {
    ReserveTableModal
  },
  data () {
    return {
      reservationItems: [{
        time: '08:00PM',
        period: [{
          time: '8:00PM',
          in: 4,
          max: 5,
          reservation: [{
            name: 'hello',
            amount: 3,
            table: 3,
            covers: 2
          },
          {
            name: 'hello2',
            amount: 3,
            table: 3,
            covers: 2
          }]
        },
        {
          time: '8:15PM',
          in: 0,
          max: 5,
          reservation: []
        }
        ]

      },
      {
        time: '09:00PM',
        period: [{
          time: '9:00PM',
          in: 0,
          max: 5,
          reservation: [
          ]
        },
        {
          time: '9:15PM',
          in: 4,
          max: 5,
          reservation: [
            {
              name: 'Monthon',
              amount: 3,
              table: 6,
              covers: 4
            }
          ]
        }, {
          time: '9:30PM',
          in: 0,
          max: 5,
          reservation: [
          ]
        }
        ]

      },
      {
        time: '10:00PM',
        period: [{
          time: '8:00PM',
          in: 4,
          max: 5,
          reservation: [{
            name: 'hello',
            amount: 3,
            table: 3,
            covers: 2
          },
          {
            name: 'hello2',
            amount: 3,
            table: 3,
            covers: 2
          }]
        }
        ]

      }, {
        time: '11:00PM',
        period: [{
          time: '8:00PM',
          in: 4,
          max: 5,
          reservation: [{
            name: 'hello',
            amount: 3,
            table: 3,
            covers: 2
          },
          {
            name: 'hello2',
            amount: 3,
            table: 3,
            covers: 2
          }]
        }
        ]

      }]
    }
  }
}
</script>

<style lang="scss" scoped>
.time-table{
  border: 1px solid rgb(212, 212, 212);
  min-height: 70vh;

}

.time-label{
  border-bottom: 1px solid rgb(212, 212, 212);
}

.bold-border-btn{
   border-bottom: 3px solid rgb(212, 212, 212);
}

.light-border-btn{
   border-bottom: 1px solid rgb(212, 212, 212);
}

.light-border-right{
   border-right: 1px solid rgb(212, 212, 212);
}

.table{
  overflow-x: auto;
}

.period-box{
  height: 80px;

}

.text-lg{
  font-size: 1.2rem;
  font-weight: 500;
}

.reservation-box:last-child{
 border: none
}
</style>
