<template>
  <div>
    <section>
      <div class="d-flex justify-space-between align-center">
        <h3>
          Pickup Hours
        </h3>

        <PickupHoursEditModal
          :pickup-hours="pickupHours"
          @updated="updated" />
      </div>

      <div>
        Customers will only be able to place orders for immediate
        pickup when their order would be ready within these set hours.
      </div>
    </section>

    <section>
      <v-row class="ma-0 font-weight-bold">
        <v-col
          class=""
          cols="3">
          Day
        </v-col>
        <v-col
          class=""
          cols="6">
          Hours
        </v-col>
      </v-row>

      <v-row
        v-for="day in pickupHours"
        :key="day.label"
        class="ma-0">
        <v-col
          class=""
          cols="3">
          {{ day.label }}
        </v-col>
        <v-col
          class=""
          cols="6">
          <div v-if="!day.isClosed">
            <div
              v-for="(hour, index) in day.period"
              :key="`hour-${index}`">
              <div v-if="hour.isSelected">
                {{ $todate.stdTime(hour.opensAt) }} - {{ $todate.stdTime(hour.closesAt) }}
              </div>
            </div>
          </div>

          <div v-else>
            Closed
          </div>
        </v-col>
      </v-row>
    </section>
  </div>
</template>

<script>

import PickupHoursEditModal from './pickupHoursEditModal.vue'

export default {
  components: {
    PickupHoursEditModal
  },

  props: {
    pickupHours: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {

    }
  },
  mounted () {

  },
  methods: {
    updated () {
      this.$emit('updated')
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
