<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none mx-1"
          text
          small
          color="red"
          v-on="on">
          Edit
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Hours
        </div>
        <div class="px-5 py-3 text-content">
          <v-col
            cols="12"
            class="d-flex py-0 justify-end">
            <v-btn
              color="primary"
              text
              class="text-none pa-0 mr-2"
              @click="selectedAllHours()">
              Select All
            </v-btn>
            <v-btn
              text
              class="text-none text-content pa-0"
              @click="clearAllHours()">
              Clear All
            </v-btn>
          </v-col>
          <div
            v-for="(day , dayIndex) in form.pickupHours"
            :key="dayIndex">
            <v-row
              class="ma-0 align-start">
              <v-col
                cols="12"
                sm="4">
                {{ day.label }} <span :class="day.isClosed ? 'text-close' : 'text-open'">({{ day.isClosed ? 'Closed' : 'Open' }})</span>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="pt-1">
                <v-row
                  v-for="(hour , hourIndex) in day.period"
                  :key="hourIndex"
                  class="ma-0 mt-2">
                  <v-switch
                    v-model="hour.isSelected"
                    class="ma-0"
                    hide-details></v-switch>
                  <div class="mt-1">
                    {{ $formatTime(hour.opensAt) }} - {{ $formatTime(hour.closesAt) }}
                  </div>
                </v-row>
              </v-col>
            </v-row>
            <v-divider></v-divider>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"

            @click="handleApplyBtn">
            Apply
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'

const tthaiAppSettingService = new TthaiAppSettingProvider()

export default {
  props: {
    pickupHours: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      form: {
        pickupHours: []
      },
      validForm: false,
      validateForm: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  watch: {

  },
  mounted () {
    this.mapData()
  },
  methods: {
    handleApplyBtn () {
      this.updatePickupHours()
    },
    async updatePickupHours () {
      try {
        this.processing = true
        const mappedData = this.mapDataBeforeUpdate()
        await tthaiAppSettingService.updatePickupHours({
          period: mappedData
        })

        this.$notify.success('Update Success')
        this.$emit('updated')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    mapDataBeforeUpdate () {
      const data = this.form.pickupHours
      console.log(data)
      let mappedData = []
      for (const item of data) {
        const { period } = item
        mappedData = [...mappedData, ...period.filter((hour) => hour.isSelected).map((e) => e.id)]
      }

      return mappedData
    },
    mapData () {
      const data = _.cloneDeep(this.pickupHours)
      const mappedData = []
      data.map((e) => mappedData.push({
        ...e
      }))

      this.form.pickupHours = mappedData
    },
    selectedAllHours () {
      const newValue = []
      for (let i = 0; i < this.form.pickupHours.length; i++) {
        newValue.push({
          ...this.form.pickupHours[i],
          period: this.form.pickupHours[i].period.map((e) => ({
            ...e,
            isSelected: true
          }))
        })
      }
      this.form.pickupHours = [...newValue]
    },
    clearAllHours () {
      const newValue = []
      for (let i = 0; i < this.form.pickupHours.length; i++) {
        newValue.push({
          ...this.form.pickupHours[i],
          period: this.form.pickupHours[i].period.map((e) => ({
            ...e,
            isSelected: false
          }))
        })
      }
      this.form.pickupHours = [...newValue]
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
.text-open {
  color: #B2CC53;
}
.text-close {
  color: #dc5151;
}
</style>
