<template>
  <div>
    <v-card
      class="my-card pa-8 "
      style="min-height:85vh">
      <div
        v-if="!loading"
        class="ma-0 d-sm-flex justify-space-between">
        <v-col

          class="d-sm-flex pa-0"
          sm="9"
          cols="12">
          <v-col
            class="py-0 px-1"
            sm="3"
            cols="12">
            <div class="">
              <v-text-field
                v-model="endDate"
                :min="minimumEndDate"
                :max="currentDate"
                outlined
                dense
                hide-details
                type="date">
              </v-text-field>
            </div>
          </v-col>

          <v-col
            class="py-0 px-1"
            sm="3"
            cols="12">
            <v-menu
              v-model="timeMenu"
              :close-on-content-click="false"
              :nudge-width="300"
              offset-y>
              <template #activator="{ on, attrs }">
                <div class="d-flex  justify-center ">
                  <v-btn
                    height="40"
                    block
                    style="border: 1px solid #9E9E9E;"
                    class="text-none"
                    outlined
                    color="black"
                    dark
                    v-bind="attrs"
                    v-on="on">
                    {{ time.startTime === '00:00' &&
                      time.endTime === "23:59" ?
                        'All Day' : `${ $todate.stdTime(time.startTime)} - ${ $todate.stdTime(time.endTime)}` }}
                  </v-btn>
                </div>
              </template>
              <v-card class="pa-5 ">
                <div class="d-flex align-center">
                  <div class="w-full ">
                    <v-text-field
                      v-model="time.startTime"
                      type="time" />
                  </div>
                  <div class="mx-4">
                    To
                  </div>
                  <div class="w-full ">
                    <v-text-field
                      v-model="time.endTime"
                      type="time" />
                  </div>
                </div>

                <v-divider class="my-2"></v-divider>

                <div class="d-flex justify-space-between">
                  <v-btn
                    text
                    class="text-none"
                    @click="setTimeToAll">
                    All Day
                  </v-btn>

                  <v-btn
                    :disabled="validTime"
                    color="primary"
                    text
                    class="text-none"
                    @click="setTime">
                    Search
                  </v-btn>
                </div>
              </v-card>
            </v-menu>
          </v-col>

          <v-col
            class="py-0 px-1"
            sm="4"
            cols="12">
            <div class="">
              <v-select
                v-model="paymentMethod"
                outlined
                dense
                hide-details
                :items="paymentMethodsList"></v-select>
            </div>
          </v-col>

          <v-col
            class="py-0 px-1"
            sm="2"
            cols="12">
            <div class="">
              <v-select
                v-model="orderType"
                outlined
                dense
                :items="OrderTypes"
                hide-details></v-select>
            </div>
          </v-col>
        </v-col>

        <v-col
          cols="12"
          sm="3"
          class="py-0 px-1">
          <div class="">
            <v-text-field
              v-model="cardLastFour"
              prefix="Card #"
              placeholder="Fillter by card (last 4)"
              dense
              outlined
              hide-details
              @keydown="getTransaction" />
          </div>
        </v-col>
      </div>
      <div
        v-if="!loading"
        class="d-flex justify-end pt-4">
        <CloseOfDayModal
          :close-batch-summary="closeBatchSummary"
          :date="formatDateTime(endDate ,endDate)"
          @refresh="refresh"
          @get-summary="getCloseBatchSummaryModal" />
      </div>
      <section class="mt-10">
        <SummaryTransaction :transaction-summary="tansactionSummary" />
      </section>

      <section class="mt-10">
        <TransactionTable
          :date="endDate"
          :loading="loading"
          :data-items="transactionsList"
          :tansaction-summary="tansactionSummary"
          :page.sync="page"
          :per-page.sync="perPage"
          :total-data="totalData"
          @refunded="refunded"
          @detail="setModal" />
      </section>
    </v-card>
    <v-navigation-drawer
      v-model="drawer"
      class="pa-5"
      width="500"
      right
      fixed
      temporary>
      <v-row class="ma-0">
        <v-btn
          outlined
          color="primary"
          class="text-none mx-1">
          Send Receipt
        </v-btn>

        <div>
          <RefundModal
            v-if="transactionInfo.transactionStatus ==='CLOSED' && !['REFUNDED', 'VOID'].includes(transactionInfo.paymentStatus)"
            :item-info="transactionInfo"
            @refunded="refunded" />
          <v-btn
            v-else-if="transactionInfo.transactionStatus ==='OPEN' && transactionInfo.paymentStatus !== 'VOID'"
            outlined
            color="primary"
            class="text-none mx-1"
            @click="voidModal = true">
            Void Transaction
          </v-btn>
          <v-dialog
            v-model="voidModal"
            width="500">
            <v-card class="">
              <div class="head pa-3 d-flex text-center">
                Are you want to void this transaction #{{ transactionInfo.txn }}
              </div>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  class="text-none"
                  :loading="voidLoading"
                  color="primary"
                  text
                  @click="voidTransaction(transactionInfo.id)">
                  Void
                </v-btn>
                <v-btn
                  :loading="voidLoading"
                  class="text-none"
                  color="#D1D1D1"
                  text
                  @click="voidModal = false">
                  Cancel
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </v-row>

      <section class="receipt-view mt-5">
        <section>
          <div>
            <h2>  $ {{ transactionInfo.totalPaid.toFixed(2,0) | separator }} Payment</h2>
          </div>

          <div class="mt-3 font-weight-bold grey--text">
            {{ transactionInfo.openDate | toDateTime }}
          </div>

          <div class="mt-5 font-weight-light">
            <div>
              Order# {{ transactionInfo.orderId }}
            </div>

            <div>
              Payment Method : {{ transactionInfo.cardType || transactionInfo.paymentMethod }}
            </div>
          </div>

          <div class="grey--text mt-2">
            Paid by : <span class="primary--text">{{ transactionInfo.paidBy || 'GUEST' }}</span>
          </div>
        </section>

        <v-divider class="my-5"></v-divider>

        <section v-if="transactionInfo?.summaryItems?.length > 0">
          <div
            v-for="item in transactionInfo?.summaryItems"
            :key="`${item?.menuId}`"
            class="d-flex justify-space-between">
            <div class="font-weight-bold">
              {{ item.name || '' }}
            </div>

            <div>
              $ {{ item.amount.toFixed(2,0) | separator }}
            </div>
          </div>

          <div v-if="item?.modifiers?.length > 0">
            <div
              v-for="modifier in item?.modifiers"
              :key="`${modifier.name}`"
              class="mt-1 font-weight-medium grey--text">
              {{ modifier.name || '' }}
            </div>
          </div>
        </section>

        <v-divider class="my-5"></v-divider>

        <section>
          <div class="d-flex justify-space-between font-weight-bold">
            <div>TOTAL</div>

            <div>
              $ {{ transactionInfo.totalPaid.toFixed(2,0) | separator }}
            </div>
          </div>

          <div class="mt-5 d-flex justify-space-between font-weight-medium grey2--text">
            <div>{{ transactionInfo.cardType ? `${transactionInfo.cardType} ${transactionInfo.cardLastFour}` : transactionInfo.paymentMethod }}</div>

            <div>
              $ {{ transactionInfo.totalPaid.toFixed(2,0) | separator }}
            </div>
          </div>

          <div class="mt-1 font-weight-medium grey--text">
            {{ transactionInfo.openDate | toDateTime }}
          </div>

          <div class="mt-3 primary--text">
            Receipt# {{ transactionInfo.orderId }}
          </div>
        </section>
      </section>

      <div class="d-flex justify-end mt-3">
        <v-btn
          class="text-none"
          outlined
          color="primary"
          @click="drawer = false">
          Done
        </v-btn>
      </div>
    </v-navigation-drawer>
  </div>
</template>

<script>
import store from '@/store'
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import TransactionProvider from '@/resources/TransactionProvider'
import SummaryTransaction from '../components/TransactionSummary.vue'
import TransactionTable from '../components/TransactionTable.vue'
import RefundModal from '../components/RefundModal.vue'
import CloseOfDayModal from '../components/CloseOfDayModal.vue'

dayjs.extend(utc)
dayjs.extend(timezone)

const timeZone = store.getters['User/timeZone']

const transactionService = new TransactionProvider()

export default {
  filters: {
    toDateTime (val) {
      if (!val) return '-'
      return dayjs(val).tz(timeZone).format('MMM. D, YYYY hh:mmA')
    },
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  components: {
    SummaryTransaction,
    TransactionTable,
    RefundModal,
    CloseOfDayModal
  },

  data () {
    return {
      timeZone: store.getters['User/timeZone'],
      drawer: false,
      voidModal: false,
      voidLoading: false,
      loading: true,
      endDate: this.$dayjs().format('YYYY-MM-DD'),
      transactionInfo: {
        paymentMethod: '',
        totalPaid: 0,
        cardType: '',
        cardLastFour: '',
        openDate: '',
        orderId: ''
      },
      closeBatchSummary: null,
      paymentMethodsList: [
        {
          text: 'All Payment Methods',
          value: ''
        },
        {
          text: 'Credit',
          value: 'CREDIT'
        },
        {
          text: 'Debit',
          value: 'DEBIT'
        },
        {
          text: 'Cash',
          value: 'CASH'
        },
        {
          text: 'Gift card',
          value: 'GIFT_CARD'
        },
        {
          text: 'Third Party',
          value: 'THIRD_PARTY'
        },
        {
          text: 'Check',
          value: 'CHECK'
        }

      ],
      timeMenu: false,
      time: {
        startTime: '00:00',
        endTime: '23:59'
      },
      OrderTypes: [
        {
          text: 'All Types',
          value: ''
        },
        {
          text: 'Dine In',
          value: 'DINE_IN'
        },
        {
          text: 'To Go',
          value: 'TO_GO'
        },
        {
          text: 'Online',
          value: 'ONLINE'
        },
        {
          text: 'EatsZaab',
          value: 'TTHAI_APP'
        }
      ],

      paymentMethod: '',
      orderType: '',
      cardLastFour: '',
      tansactionSummary: {
        transactions: 0,
        totalCollected: 0,
        netSales: 0
      },
      transactionsList: [],
      form: {

      },
      pageData: 1,
      perPageData: 10,
      totalData: 0
    }
  },
  computed: {
    page: {
      get () {
        return this.pageData
      },
      set (val) {
        this.pageData = val
        this.getTransaction()
      }
    },
    perPage: {
      get () {
        return this.perPageData
      },
      set (val) {
        this.perPageData = val
        this.getTransaction()
      }
    },
    currentDate () {
      return this.$dayjs().tz(this.timeZone).format('YYYY-MM-DD')
    },
    minimumEndDate () {
      return this.$dayjs().tz(this.timeZone).subtract(1, 'year').format('YYYY-MM-DD')
    },
    validTime () {
      if (!this.time.startTime || !this.time.endTime) {
        return true
      }

      if (this.time.endTime < this.time.startTime) {
        return true
      }

      return false
    },
    totalNet () {
      let total = 0
      for (const transaction of this.transactionsList) {
        total += transaction.total
      }
      return total
    }
  },
  watch: {
    paymentMethod () {
      return this.getTransaction()
    },
    orderType () {
      return this.getTransaction()
    },
    endDate () {
      return this.getTransaction()
    }
  },
  mounted () {
    this.endDate = this.$dayjs().tz(this.timeZone).format('YYYY-MM-DD')
    this.getTransaction()
    this.getCloseBatchSummary()
  },
  methods: {
    refresh () {
      this.getTransaction()
      this.getCloseBatchSummary()
    },
    setModal (val) {
      this.transactionInfo = {
        ...val
      }
      this.drawer = true
    },
    async closeOfDay () {
      try {
        await transactionService.CloseBatchPayment()
        this.getTransaction()
      } catch (error) {
        console.error(error)
      }
    },
    refunded () {
      this.getTransaction()
    },
    setTime () {
      this.timeMenu = false
      this.getTransaction()
    },
    setTimeToAll () {
      this.time.startTime = '00:00'
      this.time.endTime = '23:59'

      this.timeMenu = false
      this.getTransaction()
    },
    formatDateTime (startDate, endDate) {
      const [startYear, startMonth, startDay] = startDate.split('-')
      const [endYear, endMonth, endDay] = endDate.split('-')
      const newStartDate = this.$dayjs(startDate).tz(this.timeZone).startOf('day')
        .date(+startDay)
        .month((+startMonth) - 1)
        .year(+startYear)
        .toDate()
        .toISOString()
      const newEndDate = this.$dayjs(endDate).tz(this.timeZone).endOf('day')
        .date(+endDay)
        .month((+endMonth) - 1)
        .year(+endYear)
        .second(59)
        .millisecond(999)
        .toDate()
        .toISOString()
      return { newStartDate, newEndDate }
    },
    formatDateTimeForGet (startDate, endDate) {
      const [startYear, startMonth, startDay] = startDate.split('-')
      const [endYear, endMonth, endDay] = endDate.split('-')
      const [startHours, startMinutes] = this.time.startTime.split(':')
      const [endHours, endMinutes] = this.time.endTime.split(':')
      const newStartDate = this.$dayjs(startDate).tz(this.timeZone)
        .date(+startDay)
        .month((+startMonth) - 1)
        .year(+startYear)
        .hour(+startHours)
        .minute(+startMinutes)
        .second(0)
        .millisecond(0)
        .toDate()
        .toISOString()
      const newEndDate = this.$dayjs(endDate).tz(this.timeZone)
        .date(+endDay)
        .month((+endMonth) - 1)
        .year(+endYear)
        .hour(+endHours)
        .minute(+endMinutes)
        .second(59)
        .millisecond(999)
        .toDate()
        .toISOString()
      return { newStartDate, newEndDate }
    },
    async getTransaction () {
      try {
        this.loading = true
        const date = this.formatDateTimeForGet(this.endDate, this.endDate)

        const { data } = await transactionService.getTransactions({
          endDate: date.newEndDate,
          startDate: date.newStartDate,
          paymentMethod: this.paymentMethod,
          orderType: this.orderType,
          search: this.cardLastFour,
          page: this.pageData,
          limit: this.perPageData
        })

        this.totalData = data.total

        this.tansactionSummary = {
          transactions: data.total,
          totalCollected: data.totalCollected,
          netSales: data.netSales
        }
        this.transactionsList = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async getCloseBatchSummary () {
      try {
        this.loading = true
        const date = this.formatDateTime(this.endDate, this.endDate)
        const { data } = await transactionService.getCloseBatchSummary({
          endDate: date.newEndDate,
          startDate: date.newStartDate
        })
        this.closeBatchSummary = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async getCloseBatchSummaryModal () {
      try {
        const date = this.formatDateTime(this.endDate, this.endDate)
        const { data } = await transactionService.getCloseBatchSummary({
          endDate: date.newEndDate,
          startDate: date.newStartDate
        })
        this.closeBatchSummary = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      }
    },
    async voidTransaction (transactionId) {
      try {
        this.voidLoading = true
        const payload = {
          transactionId
        }

        await transactionService.voidTransaction(payload)
        this.$notify.success('Void Successfully')
        this.voidModal = false
        this.getTransaction()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.voidLoading = false
        this.drawer = false
      }
    }
  }
}
</script>

<style lang="scss">

</style>
