<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-card
          v-bind="attrs"
          height="200"
          elevation="0"
          class="pa-5 d-flex justify-center align-center my-btn"
          outlined
          v-on="on">
          <div class="btn-text">
            <div class="text-center">
              <img
                src="@/assets/svg/plus-icon.svg"
                alt="">
            </div>

            <h3 class="text-center primary--text ">
              Add Device
            </h3>
          </div>
        </v-card>
      </template>

      <v-card>
        <section>
          <div class="head px-3 py-3 d-flex">
            <div>
              New Device
            </div>

            <v-spacer></v-spacer>
            <div>
              <v-btn
                icon
                color="white"
                @click="dialog = false">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </div>
          </div>

          <div class="px-3 py-5 text-content">
            <v-form v-model="validForm">
              <v-text-field
                v-model="form.name"
                label="Device Name"
                :rules="formValidate.required"
                dense
                outlined>
              </v-text-field>
              <v-text-field
                v-model="form.description"
                :rules="formValidate.required"
                dense
                label="Description"
                outlined>
              </v-text-field>
            </v-form>
          </div>

          <div class="mt-n5 py-3 d-flex justify-end">
            <v-btn
              color="#D1D1D1"
              text
              @click="handleCancel">
              cancel
            </v-btn>
            <v-btn
              color="primary"
              :loading="processing"
              :disabled="!validForm"
              text
              @click="createDevice">
              Save
            </v-btn>
          </div>
        </section>
        <v-divider
          v-if="activationCode"
          class="mx-3"></v-divider>
        <section
          v-if="activationCode"
          class="px-3 py-5">
          <div
            style="font-weight:600"
            class="text-uppercase">
            sign in using this code
          </div>
          <div
            style="font-size:0.9rem"
            class="grey--text mt-2">
            Use this device code to sign in to your TThai Pos app within {{ nextTwoDay }}.
          </div>

          <div class="code-view d-flex justify-center align-center text-center mt-5">
            {{ activationCode }}
          </div>
        </section>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DeviceProvider from '@/resources/DevicePovider'
import dayjs from 'dayjs'

const deviceService = new DeviceProvider()
export default {
  props: {

  },
  data () {
    return {
      validForm: false,
      form: {
        name: '',
        description: ''
      },
      formValidate: {
        required: [
          (val) => !!val || 'required'
        ]
      },
      dialog: false,
      activationCode: '',
      processing: false
    }
  },
  computed: {
    nextTwoDay () {
      return dayjs(new Date()).add(2, 'day').format('MMM DD, YYYY')
    }
  },
  methods: {
    handleCancel () {
      this.dialog = false
    },
    async createDevice () {
      try {
        this.processing = true
        await deviceService.createDevice({
          ...this.form
        })

        this.form.name = ''
        this.form.description = ''
        this.$notify.success('Create Success !!')
        this.$emit('reload')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}

.code-view{
  background-color: #686767;
  height: 70px;
  color: white;
  font-size: 1.5rem;
}
</style>
