<template>
  <div>
    <div class="d-flex ">
      <h3>
        Cashiers
      </h3>

      <div
        class="text-none mx-3"
        :class="limitCapacity < deviceList.length ? 'error--text' : 'primary--text'">
        {{ deviceList.length }}/{{ limitCapacity }}
      </div>
    </div>

    <div class="bg-grey mt-5 rounded-sm">
      <v-row class="ma-0 pa-3">
        <v-col
          cols="6"
          sm="4">
          <AddDeviceModal @reload="getDeviceList" />
        </v-col>
        <v-col
          v-for="(device, index) in deviceList"
          :key="`${device.name}-${index}`"
          cols="6"
          sm="4">
          <v-card
            height="200"
            elevation="0"
            color="white"
            class="pa-5">
            <div class="d-flex justify-end mt-n3">
              <v-menu offset-y>
                <template #activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    small
                    icon
                    color="primary"
                    v-on="on">
                    <v-icon>mdi-dots-horizontal</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item>
                    <EditDeviceModal
                      :item-info="device"
                      @reload="getDeviceList" />
                  </v-list-item>
                  <v-list-item>
                    <DeleteDeviceModal
                      :item-info="device"
                      @reload="getDeviceList" />
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
            <div class="d-flex justify-center mt-n1">
              <div>
                <div class="text-center">
                  <img
                    height="70"
                    src="@/assets/svg/tablet.svg"
                    alt="">
                </div>

                <div class="text-center mt-2">
                  <h3 class="primary--text">
                    {{ device.name }}
                  </h3>
                  <p class="mt-1">
                    {{ device.description }}
                  </p>
                </div>
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import DeviceProvider from '@/resources/DevicePovider'
import AddDeviceModal from './addDeviceModal.vue'
import EditDeviceModal from './editDeivceModal.vue'
import DeleteDeviceModal from './deleteDeviceModal.vue'

const deviceService = new DeviceProvider()
export default {
  components: {
    AddDeviceModal,
    EditDeviceModal,
    DeleteDeviceModal
  },
  data () {
    return {
      loading: true,
      limitCapacity: 1,
      deviceList: []
    }
  },
  mounted () {
    this.getDeviceList()
  },
  methods: {
    async getDeviceList () {
      try {
        this.loading = true
        const { data } = await deviceService.getDevice()
        const { data: limitData } = await deviceService.getLimitDevice()

        this.deviceList = data
        this.limitCapacity = limitData.limitCapacity
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" >
.bg-grey {
  background-color: rgb(228, 225, 225);
}

.my-btn {
  transition-duration: 5000ms;
}

.my-btn:hover {
  cursor: pointer;
  background-color: #f7ffdb;
  transition-duration: 5000ms;

  .btn-text {
    transform: translate(0px ,-10px);
    transition-duration: 500ms;

  }

}
</style>
