<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          text
          small
          color="red"
          class="text-none"
          v-on="on">
          Delete
        </v-btn>
      </template>

      <v-card>
        <section>
          <div class="head px-3 py-3 d-flex">
            <div>
              Delete Device
            </div>

            <v-spacer></v-spacer>
            <div>
              <v-btn
                icon
                color="white"
                @click="dialog = false">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </div>
          </div>

          <div class="px-3 py-5 text-content text-center">
            You want to delete ?
          </div>

          <v-divider class="mx-3"></v-divider>

          <div class="py-3 d-flex justify-end">
            <v-btn
              color="#D1D1D1"
              text
              @click="dialog = false">
              cancel
            </v-btn>
            <v-btn
              color="primary"
              text
              :loading="processing"
              @click="DeleteDevice">
              delete
            </v-btn>
          </div>
        </section>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DeviceProvider from '@/resources/DevicePovider'

const deviceService = new DeviceProvider()
export default {
  props: {
    itemInfo: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      processing: false,
      dialog: false

    }
  },
  methods: {
    async DeleteDevice () {
      try {
        this.processing = true
        await deviceService.deleteDevice(this.itemInfo.id)

        this.$emit('reload')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}

.code-view{
  background-color: #686767;
  height: 70px;
  color: white;
  font-size: 1.5rem;
}
</style>
