<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          text
          small
          color="primary"
          class="text-none"
          v-on="on">
          Detail / Edit
        </v-btn>
      </template>

      <v-card>
        <section>
          <div class="head px-3 py-3 d-flex">
            <div>
              Edit Device
            </div>

            <v-spacer></v-spacer>
            <div>
              <v-btn
                icon
                color="white"
                @click="dialog = false">
                <v-icon>
                  mdi-close
                </v-icon>
              </v-btn>
            </div>
          </div>

          <div class="px-3 py-5 text-content">
            <v-form v-model="validForm">
              <v-text-field
                v-model="form.name"
                label="Device Name"
                :rules="formValidate.required"
                outlined>
              </v-text-field>
              <v-text-field
                v-model="form.description"
                :rules="formValidate.required"
                label="Description"
                outlined>
              </v-text-field>
            </v-form>
          </div>

          <div class="mt-n5 py-3 d-flex justify-end">
            <v-btn
              color="#D1D1D1"
              text
              @click="dialog = false">
              cancel
            </v-btn>
            <v-btn
              color="primary"
              text
              :loading="processing"
              :disabled="!validForm"
              @click="updateDevice">
              Save
            </v-btn>
          </div>
        </section>

        <v-divider
          v-if="form.activationCode"
          class="mx-3"></v-divider>
        <section
          v-if="form.activationCode"
          class="px-3 py-5">
          <div
            style="font-weight:600"
            class="text-uppercase">
            sign in using this code
          </div>
          <div
            style="font-size:0.9rem"
            class="grey--text mt-2">
            Use this device code to sign in to your TThai Pos app within {{ nextTwoDay }}.
          </div>

          <div class="code-view d-flex justify-center align-center text-center mt-5">
            {{ form.activationCode }}
          </div>
        </section>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DeviceProvider from '@/resources/DevicePovider'
import _ from 'lodash'
import dayjs from 'dayjs'

const deviceService = new DeviceProvider()
export default {
  props: {
    itemInfo: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      form: {
        name: '',
        description: ''
      },
      formValidate: {
        required: [
          (val) => !!val || 'required'
        ]
      },
      validForm: false,
      dialog: false,
      processing: false

    }
  },
  computed: {
    nextTwoDay () {
      return dayjs(new Date()).add(2, 'day').format('MMM DD, YYYY')
    }
  },
  mounted () {
    this.form = _.cloneDeep(this.itemInfo)
  },
  methods: {
    async updateDevice () {
      try {
        this.processing = true
        await deviceService.updateDevice(this.itemInfo.id, {
          name: this.form.name,
          description: this.form.description
        })

        this.$emit('reload')
        this.$notify.success('Update Success')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}

.code-view{
  background-color: #686767;
  height: 70px;
  color: white;
  font-size: 1.5rem;
}
</style>
