<template>
  <div>
    <h3>
      Other Devices
    </h3>

    <div class="mt-5 rounded-sm">
      <v-row class="ma-0 pa-3">
        <v-col
          v-for="(device, index) in deviceList"
          :key="`${device.name}-${index}`"
          cols="6"
          sm="4">
          <v-card
            height="200"
            elevation="0"
            class="pa-5"
            outlined>
            <!-- <div class="d-flex justify-end mt-n3">
              <v-menu offset-y>
                <template #activator="{ on, attrs }">
                  <v-btn
                    v-bind="attrs"
                    small
                    icon
                    color="primary"
                    v-on="on">
                    <v-icon>mdi-dots-horizontal</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item>
                    <EditDeviceModal :item-info="device" />
                  </v-list-item>
                  <v-list-item>
                    <DeleteDeviceModal />
                  </v-list-item>
                </v-list>
              </v-menu>
            </div> -->
            <div class="d-flex justify-center mt-n1">
              <div>
                <div class="text-center">
                  <img
                    height="70"
                    src="@/assets/svg/tablet.svg"
                    alt="">
                </div>

                <div class="text-center mt-2">
                  <h3 class="primary--text">
                    {{ device.name }}
                  </h3>
                  <p class="mt-1">
                    {{ device.description }}
                  </p>
                </div>
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
// import EditDeviceModal from './editDeivceModal.vue'
// import DeleteDeviceModal from './deleteDeviceModal.vue'

export default {
  // components: {
  //   EditDeviceModal,
  //   DeleteDeviceModal
  // },
  props: {
    deviceList: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      // deviceList: [{
      //   name: 'Back POS',
      //   description: 'Bright Color Clothing Inc'
      // },
      // {
      //   name: 'Cashier 3',
      //   description: 'Bright Color Clothing Inc'
      // }

      // ]
    }
  }
}
</script>

<style lang="scss" scoped>
.bg-grey {
  background-color: rgb(228, 225, 225);
}

.my-btn {
  transition-duration: 5000ms;
}

.my-btn:hover {
  cursor: pointer;
  background-color: #f7ffdb;
  transition-duration: 5000ms;

  .btn-text {
    transform: translate(0px ,-10px);
    transition-duration: 500ms;

  }

}
</style>
