<template>
  <v-dialog
    v-model="innerValue"
    v-bind="$attrs">
    <v-card :class="cardClass">
      <v-card-title :class="titleClass">
        <slot name="title"></slot>
      </v-card-title>
      <v-card-text :class="bodyClass">
        <slot name="body"></slot>
      </v-card-text>
      <v-card-actions :class="actionClass">
        <slot name="action"></slot>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'CustomModal',
  model: {
    prop: 'value',
    event: 'update:value'
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    cardClass: {
      type: String,
      default: ''
    },
    titleClass: {
      type: String,
      default: ''
    },
    bodyClass: {
      type: String,
      default: ''
    },
    actionClass: {
      type: String,
      default: ''
    }
  },
  computed: {
    innerValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('update:value', val)
      }
    }
  }
}
</script>
