<template>
  <v-navigation-drawer
    v-model="openDrawer"
    :mini-variant.sync="mini"
    app>
    <v-list-item class="px-4 ">
      <img
        src="@/assets/logo2-03.svg"
        width="70" />
      <!-- <v-spacer /> -->
      <!-- <v-app-bar-nav-icon
        class="white--text d-none d-flex-sm"
        @click="toggleMini()" /> -->
    </v-list-item>

    <v-divider></v-divider>

    <v-list
      dense
      nav>
      <div v-if="role !== 'super-admin'">
        <div
          v-if="!mini"
          class="list-title pa-2">
          Team Management
        </div>

        <v-list-item
          v-for="item in staffItems"
          :key="item.link"
          :to="item.link"
          class="menu-list"
          link>
          <div class="d-flex align-center">
            <v-list-item-icon class="">
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>

      <div v-if="role !== 'super-admin'">
        <div
          v-if="!mini"
          class="list-title pa-2">
          Table Management
        </div>

        <v-list-item
          v-for="item in tableItems"
          :key="item.link"
          :to="item.link"
          class="menu-list"
          link>
          <div class="d-flex align-center">
            <v-list-item-icon>
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>

      <div v-if="role !== 'super-admin'">
        <div
          v-if="!mini"
          class="list-title pa-2">
          Menu Management
        </div>

        <v-list-item
          v-for="item in menuItems"
          :key="item.link"
          class="menu-list"
          :to="item.link"
          link>
          <div class="d-flex align-center">
            <v-list-item-icon>
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>

      <div v-if="role !== 'super-admin'">
        <div
          v-if="!mini"
          class="list-title pa-2">
          Transaction
        </div>

        <v-list-item
          v-for="item in TransactionItems"
          :key="item.link"
          class="menu-list"
          :to="item.link"
          link>
          <div class="d-flex align-center">
            <v-list-item-icon>
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>

      <div>
        <div
          v-if="!mini"
          class="list-title pa-2">
          Setting
        </div>

        <div
          v-for="item in settingItems"
          :key="item.link">
          <v-list-item
            v-if="item.isAvailable"
            class="menu-list"
            :to="item.link"
            link>
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>

          <v-list-item
            v-else
            class="menu-list-inactive">
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="menu-text-inactive">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text menu-text-inactive">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>
      </div>

      <div>
        <div
          v-if="!mini"
          class="list-title pa-2">
          Billing
        </div>

        <div
          v-for="item in BillItems"
          :key="item.link">
          <v-list-item
            v-if="item.isAvailable"
            class="menu-list"
            :to="item.link"
            link>
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>

          <v-list-item
            v-else
            class="menu-list-inactive">
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="menu-text-inactive">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text menu-text-inactive">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>
      </div>

      <div>
        <div
          v-if="!mini"
          class="list-title pa-2">
          Report
        </div>
        <v-list-item
          v-for="item in reportItems"
          :key="item.link"
          color="primary"
          :to="item.link"
          link>
          <v-list-item-icon>
            <v-icon color="primary">
              {{ item.icon }}
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="menu-text">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </div>

      <div>
        <div
          v-if="!mini"
          class="list-title pa-2">
          CWAccounting
        </div>

        <div
          v-for="item in CWAccountItems"
          :key="item.link">
          <v-list-item
            v-if="item.isAvailable"
            class="menu-list"
            color="primary"
            :to="item.link"
            link>
            <v-list-item-icon>
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            v-else
            class="menu-list-inactive">
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="menu-text-inactive">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text menu-text-inactive">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>
      </div>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import store from '@/store'

export default {
  props: {
    open: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      mini: false,
      staffItems: [
        {
          title: 'Staffs',
          icon: 'mdi-account-outline',
          link: '/staff'
        }
      ],

      tableItems: [
        {
          title: 'Table Zone',
          icon: 'mdi-table-column',
          link: '/table-zone'
        },
        {
          title: 'Table',
          icon: 'mdi-stool',
          link: '/table'
        }
        // {
        //   title: 'Reservation',
        //   icon: 'mdi-timetable',
        //   link: '/reservation'
        // }

      ],
      menuItems: [
        {
          title: 'Categories',
          icon: 'mdi-book-open-variant',
          link: '/menu-category'
        },
        {
          title: 'Modifiers',
          icon: 'mdi-apple-keyboard-option',
          link: '/modify'
        },
        {
          title: 'Menu',
          icon: 'mdi-silverware-fork-knife',
          link: '/menu'
        }
      ],
      TransactionItems: [
        {
          title: 'Transaction',
          icon: 'mdi-swap-horizontal',
          link: '/transaction'
        },
        {
          title: 'Cash Drawer',
          icon: 'mdi-cash-fast',
          link: '/cash-drawer'
        }
      ],
      reportItems: [
        {
          title: 'Sales Report',
          icon: 'mdi-chart-pie',
          link: '/dashboard'
        }
      ],
      items: [],
      right: null
    }
  },
  computed: {

    role () {
      return store.getters['User/role'] || null
    },
    openDrawer: {
      get () {
        return this.open
      },
      set (val) {
        return this.$emit('update:open', val)
      }
    },
    availableFeature () {
      return store.getters['Restaurant/availableFeature'] || {
        isBankAccount: false,
        isPaymentGateway: false,
        isWebsite: false,
        isCatering: false,
        isDelivery: false,
        isReservation: false,
        isAccounting: false
      }
    },
    settingItems () {
      return [
        {
          title: 'Device',
          icon: 'mdi-devices',
          link: '/device',
          isAvailable: this.availableFeature.isBankAccount
        },
        {
          title: 'Restaurant',
          icon: 'mdi-domain',
          link: '/restaurant/setting',
          isAvailable: true
        },
        {
          title: 'Tax',
          icon: 'mdi-ticket-percent',
          link: '/tax',
          isAvailable: true
        },
        {
          title: 'Receipt',
          icon: 'mdi-receipt-text-outline',
          link: '/receipt',
          isAvailable: this.availableFeature.isBankAccount
        },
        {
          title: 'Payment Gateway',
          icon: 'mdi-account-credit-card-outline',
          link: '/payment',
          isAvailable: true
        },
        {
          title: 'EatsZaab',
          icon: 'mdi-star-shooting',
          link: '/eats-zaab',
          isAvailable: this.availableFeature.isBankAccount
        },
        {
          title: 'Third Party Delivery',
          icon: 'mdi-golf-cart',
          link: '/delivery',
          isAvailable: this.availableFeature.isDelivery
        },
        {
          title: 'Website',
          icon: 'mdi-web',
          link: '/website',
          isAvailable: this.availableFeature.isWebsite
        },
        {
          title: 'Catering',
          icon: 'mdi-food-drumstick',
          link: '/catering',
          isAvailable: this.availableFeature.isCatering
        }
      ]
    },
    BillItems () {
      return [
        // {
        //   title: 'Bill',
        //   icon: 'mdi-receipt',
        //   link: '/bill'
        // },
        {
          title: 'Bank Account',
          icon: 'mdi-bank',
          link: '/bank/setting',
          isAvailable: true
        },
        {
          title: 'Subscription',
          icon: 'mdi-pin',
          link: '/subscription',
          isAvailable: this.availableFeature.isBankAccount
        }
        // {
        //   title: 'Referral',
        //   icon: 'mdi-code-equal',
        //   link: '/referral'
        // }
      ]
    },
    CWAccountItems () {
      return [
        {
          title: 'Login',
          icon: 'mdi-book-account-outline',
          link: '/cw-account',
          isAvailable: this.availableFeature.isAccounting
        }
      ]
    }
  },
  methods: {
    toggleMini () {
      this.mini = !this.mini
    }
  }
}
</script>

<style lang="scss" scoped>
.list-title {
  color: #d1d1d1;
}

.menu-list {
  height: 60px;
  color: #b2cc53;
}

.menu-list-inactive {
  height: 60px;
  color: #b2cc53;
  cursor: not-allowed;
}

.menu-list-active {
  background-color: #b2cc53;
  color: white;
}

.menu-text {
  font-size: 1rem !important;
  color: #b2cc53;
}

.menu-text-inactive {
  color: #d1d1d1;
}
</style>
