<template>
  <div
    ref="draggable"
    class="draggable">
    <draggable
      v-bind="dragOptions"
      :list="items"
      :class="{ 'list-vertical': vertical }"
      class="list-group"
      ghost-class="ghost"
      @start="setDragging(true)"
      @end="setDragging(false)">
      <transition-group
        type="transition"
        :name="!dragging ? 'flip-list' : null"
        tag="div">
        <div
          v-for="(item, index) in items"
          :key="`draggable-${item.name}-${index}`"
          class="list-group-item">
          <picture
            v-if="image"
            class="item-image">
            <img
              :src="item.image"
              @error="imageError($event)">
          </picture>
          <p class="item-name mb-0">
            {{ index + 1 }}. {{ item.name }}
          </p>
        </div>
      </transition-group>
    </draggable>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'PositionBox',
  components: {
    draggable
  },
  props: {
    items: {
      type: Array,
      default: () => ([
        // {
        //   id: string | number (*require)
        //   name: string (*require)
        //   image: string (*require when prop image = true)
        // }
      ])
    },
    image: {
      type: Boolean,
      default: false
    },
    vertical: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      dragging: false
    }
  },
  computed: {
    dragOptions () {
      return {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost'
      }
    }
  },
  mounted () {
    this.$refs.draggable.addEventListener('scroll', (event) => this.handleScroll(event))
  },
  beforeDestroy () {
    this.$refs.draggable.removeEventListener('scroll', (event) => this.handleScroll(event))
  },
  methods: {
    imageError (event) {
      const eventTarget = event.target
      eventTarget.src = '/jpg/no_image_available.jpg'
    },
    setDragging (value = false) {
      this.dragging = value || false
    },
    handleScroll (event) {
      const eventTarget = event.target
      const { scrollHeight, scrollTop, clientHeight } = eventTarget
      const scroll = scrollHeight - clientHeight
      if (scrollTop > (scroll * 0.75)) {
        this.$emit('fetch')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.draggable {
  padding: 12px 0;
  height: 100%;
  overflow-y: scroll;
}
.list-group > div {
  display: grid;
  grid-template-rows: repeat(1, minmax(0,1fr));
  grid-template-columns: repeat(2, minmax(0,1fr));
  gap: 12px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0,1fr));
  }
  &.list-vertical {
    grid-template-columns: repeat(1, minmax(0,1fr));
    .list-group-item {
      display: flex;
      gap: 12px;
      .item-image {
        padding: 0;
        width: 100px;
        height: 100px;
      }
    }
  }
}
.list-group-item {
  padding: 12px;
  border: 1px solid #000;
  background-color: #ffffff;
  cursor: move;
}
.item-image {
  display: block;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 8px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.list-group-item {
  cursor: move;
}
.list-group-item div {
  cursor: pointer;
}
.ghost {
  opacity: 0.5;
  background-color: #c8ebfb;
}
</style>
