<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar
          dark
          color="primary">
          <v-toolbar-title>Proflie Settings</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn
              dark
              text
              to="/signout">
              Sign Out
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <div class="pa-5">
          <v-form
            v-model="validForm"
            @submit.prevent="submit()">
            <h2>
              Bussiness Profile
            </h2>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-md-flex  justify-end"
                cols="12"
                sm="3">
                Legal Business Name
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="4">
                <v-text-field
                  v-model="form.legalBusinessName"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                DBA ( if any )
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.dba"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                EIN
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.ein"
                  :rules="formValidate.ein"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Address
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-textarea
                  v-model="form.address.address"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details></v-textarea>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                City
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.address.city"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                State
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-select
                  v-model="form.address.state"
                  :rules="formValidate.required"
                  :items="stateOptions"
                  outlined
                  dense
                  hide-details></v-select>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Zip Code
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.address.zipCode"
                  :rules="formValidate.required"
                  type="number"
                  hide-spin-buttons
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Time Zone
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-autocomplete
                  v-model="form.timeZone"
                  :filter="timeZoneFilter"
                  :items="timeZoneList"
                  item-text="label"
                  item-value="value"
                  :rules="formValidate.required"
                  dense
                  outlined
                  hide-details></v-autocomplete>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Business Phone
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.businessPhone"
                  :rules="formValidate.tel"
                  hide-spin-buttons
                  type="text"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-10">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-divider class=""></v-divider>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-10">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                EIN File
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-file-input
                  v-model="einFile"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  label="PDF/JPEG"></v-file-input>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Sales Tax Permit
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-file-input
                  v-model="salesTaxPermitFile"
                  :rules="formValidate.required"
                  dense
                  hide-details
                  label="PDF/JPEG"></v-file-input>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-10">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-divider class=""></v-divider>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-10">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Authorized Person Name
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.authorizedPersonName"

                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Title
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-select
                  v-model="form.title"
                  outlined
                  hide-details
                  dense
                  color
                  :items="ownerTitleOptions"
                  filled></v-select>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Phone
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.phone"
                  :rules="formValidate.tel"
                  hide-spin-buttons
                  type="text"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Email
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.email"
                  :rules="formValidate.email"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
                Referral Code
              </v-col>
              <v-col
                class="py-0"
                cols="12"
                sm="6"
                md="4">
                <v-text-field
                  v-model="form.referredBy"
                  outlined
                  dense
                  hide-details />
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-10">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
              </v-col>
              <v-col
                class="py-0 "
                cols="12"
                sm="6"
                md="4">
                <v-divider></v-divider>
              </v-col>
            </v-row>

            <v-row
              class="ma-0 align-center mt-5">
              <v-col
                class="py-0 d-sm-flex justify-end"
                cols="12"
                sm="3">
              </v-col>
              <v-col
                class="py-0 d-flex justify-end"
                cols="12"
                sm="6"
                md="4">
                <v-btn
                  :disabled="!validForm"
                  :loading="processing"
                  color="primary"
                  type="submit">
                  submit
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import OwnerTitleList from '@/assets/js/owner-title-list'
// import TimeZoneList from '@/assets/js/time-zone-list'
import RestaurantProvider from '../resources/RestaurantProvider'
import UsaStateList from '../plugins/helper/UsaStateList'

const restaurantService = new RestaurantProvider()
export default {
  props: {
    showRegister: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      processing: false,
      validForm: false,
      notifications: false,
      sound: true,
      widgets: false,
      einFile: 'test',
      salesTaxPermitFile: 'test',
      stateOptions: [],
      timeZoneList: [
        {
          label: 'Hawaii (UTC -10:00)',
          value: 'Etc/GMT+10'
        },
        {
          label: 'Alaska (UTC -09:00)',
          value: 'Etc/GMT+9'
        },
        {
          label: 'Pacific (UTC -08:00)',
          value: 'Etc/GMT+8'
        },
        {
          label: 'Mountain (UTC -07:00)',
          value: 'Etc/GMT+7'
        },
        {
          label: 'Central (UTC -06:00)',
          value: 'Etc/GMT+6'
        },
        {
          label: 'Eastern (UTC -05:00)',
          value: 'Etc/GMT+5'
        },
        {
          label: 'Samoa (UTC -11:00)',
          value: 'Etc/GMT+11'
        },
        {
          label: 'Chamorro (UTC +10:00)',
          value: 'Etc/GMT-10'
        }
      ],
      ownerTitleOptions: OwnerTitleList,
      form: {
        address: {
          address: '',
          city: '',
          note: '',
          state: '',
          zipCode: ''
        },
        ein: '',
        legalBusinessName: '',
        authorizedPersonName: '',
        businessPhone: '',
        dba: '',
        einDocument: 'test',
        email: '',
        phone: '',
        referredBy: '',
        salesTaxPermitDocument: 'test',
        title: '',
        timeZone: 'Etc/UTC'
      },
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ],
        ein: [
          (val) => !!val || 'Required',
          (val) => (val && val.length === 9) || 'Invalid EIN'
        ],
        username: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        tel: [
          (val) => /^\d{3}[-]?\d{3}[-]?\d{4}$/.test(val) || 'Invalid Phone Number'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }
    }
  },
  computed: {
    dialog () {
      return this.showRegister
    }
  },
  mounted () {
    const stateList = UsaStateList

    this.stateOptions = stateList.map((e) => e.abbreviation)
  },
  methods: {
    async submit () {
      try {
        this.processing = true
        this.form.businessPhone = this.form.businessPhone.replace(/-/g, '')
        this.form.phone = this.form.phone.replace(/-/g, '')
        const res = await restaurantService.createRestaurantProfile({ ...this.form })
        this.$store.dispatch('User/registerRestaurant', { ...res.data,
          accessToken: res.accessToken })

        this.$notify.success('Welcome to TThai POS')
        window.location.reload()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    timeZoneFilter (item, queryText) {
      const textOne = item.toLowerCase()
      const searchText = queryText.toLowerCase()

      return textOne.indexOf(searchText) > -1
    }
  }
}
</script>

<style lang="scss" scoped>
div :deep(.v-input__slot) {
  background: rgba(0, 0, 0, 0) !important;
}
</style>
