<template>
  <div>
    <v-card class="my-card rounded-lg table-card mt-0 pa-4">
      {{ dataInfo.datasets.data }}
      <v-row>
        <v-col cols="auto">
          <div class="filter-input">
            <v-select
              v-model="filter"
              :items="filterEnum"
              dense
              hide-details
              outlined></v-select>
          </div>
        </v-col>
        <v-col cols="auto">
          <div class="filter-input">
            <v-select
              v-model="filterShift"
              :items="filterShiftList"
              dense
              hide-details
              outlined
              @change="getSaleReport()"></v-select>
          </div>
        </v-col>
        <v-col
          class=""
          cols="12"
          sm="8">
          <div class=" d-flex justify-end">
            <ReportInput
              :filter="filter"
              @dateChange="dateChange($event)" />
          </div>
        </v-col>
      </v-row>
      <div class="px-1 py-4 font-weight-medium">
        {{ filter === 'TODAY' ? $todate.dddmmddyyyy(dateShow) : dateShow }}
      </div>
      <v-divider class="mb-2"></v-divider>
      <h2 class="font-weight-medium mb-2">
        Sales Report
      </h2>
      <v-row>
        <v-col
          cols="12"
          sm="6">
          <div class="chart">
            <chart
              :is-chart-update="isChartUpdate"
              :datasets="dataInfo.datasets"
              :labels="dataInfo.labels"
              :data-info="dataInfo"
              @chartUpdated="chartUpdated" />
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          class="">
          <ReportTableSumary
            class="w-full "
            :summary-info="reportInfo.summary"
            :loading="loading"
            :report-type="filter" />
        </v-col>
      </v-row>

      <section>
        <v-row class="mt-2">
          <v-col
            cols="12"
            sm="6">
            <h3 class="font-weight-medium mb-n1">
              Transaction Type
            </h3>
            <TransactionType
              :loading="loading"
              :order-summary="reportInfo.transactionType" />
          </v-col>
          <v-col
            cols="12"
            sm="6">
            <h3 class="font-weight-medium mb-n1">
              Ordering Type
            </h3>

            <OrderingType
              :loading="loading"
              :payment-summary="reportInfo.orderingType" />
          </v-col>
        </v-row>

        <v-row class="mt-2">
          <!-- <v-col
            cols="12"
            sm="6">
            <div>
              <h3 class="font-weight-medium mb-n1">
                Payout Card Settlement
              </h3>
              <PayoutCardSettlement
                :loading="loading"
                :order-summary="reportInfo.payoutCardSettlement" />
            </div>
          </v-col> -->
          <v-col
            cols="12"
            sm="6">
            <div class="mt-5">
              <h3 class="font-weight-medium mb-n1">
                Third Party
              </h3>
              <ThirdPartyReport
                :loading="loading"
                :order-summary="reportInfo.thirdPartyReport" />
            </div>
          </v-col>
          <v-col
            cols="12"
            sm="6">
            <div class="mt-5">
              <h3 class="font-weight-medium mb-n1">
                Void Order
              </h3>
              <OrderAmountTaxReport
                :loading="loading"
                :orders="reportInfo?.voidOrderSummary?.orders || 0"
                :amount="reportInfo?.voidOrderSummary?.amount || 0"
                :tax="reportInfo?.voidOrderSummary?.salesTax || 0"
                :total="reportInfo?.voidOrderSummary?.total || 0" />
            </div>
          </v-col>
          <v-col
            cols="12"
            sm="6">
            <div class="mt-5">
              <h3 class="font-weight-medium mb-n1">
                Fringe Benefit
              </h3>
              <OrderAmountTaxReport
                :loading="loading"
                :orders="reportInfo?.deMinimisSummary?.orders || 0"
                :amount="reportInfo?.deMinimisSummary?.amount || 0"
                :tax="reportInfo?.deMinimisSummary?.salesTax || 0"
                :total="reportInfo?.deMinimisSummary?.total || 0" />
            </div>
          </v-col>
        </v-row>
      </section>
    </v-card>
  </div>
</template>

<script>
import ReportProvider from '@/resources/ReportProvider'
import store from '@/store'
import RestaurantProvider from '@/resources/RestaurantProvider'
import ReportInput from '../components/ReportInput.vue'
import ReportTableSumary from '../components/RportTableSumary.vue'
import TransactionType from '../components/TransactionType.vue'
import OrderingType from '../components/OrderingType.vue'
// import PayoutCardSettlement from '../components/PayoutCardSettlement.vue'
import ThirdPartyReport from '../components/ThirdPartyReport.vue'
import chart from '../components/ReportChart.vue'
import OrderAmountTaxReport from '../components/OrderAmountTaxReport.vue'

const reportService = new ReportProvider()
const restaurantService = new RestaurantProvider()

export default {
  name: 'ReportHome',
  components: {
    chart,
    ReportInput,
    ReportTableSumary,
    TransactionType,
    OrderingType,
    // PayoutCardSettlement,
    ThirdPartyReport,
    OrderAmountTaxReport
  },
  data () {
    return {
      loading: true,
      filterEnum: [{
        text: 'Today',
        value: 'TODAY'
      },
      {
        text: 'This Week',
        value: 'WEEKLY'
      },
      {
        text: 'This Month',
        value: 'MONTHLY'
      },
      {
        text: 'This Year',
        value: 'YEARLY'
      },
      {
        text: 'Date range',
        value: 'RANGE'
      }
      ],
      filter: 'TODAY',
      date: {
        startDate: this.$dayjs().format('YYYY-MM-DD'),
        endDate: this.$dayjs().format('YYYY-MM-DD')
      },
      dataInfo: {
        labels: [],
        datasets: [{
          label: 'Gross Sales ( $ )',
          backgroundColor: '#B2CC53',
          borderColor: 'rgb(255, 99, 132)',
          data: [1, 2, 3, 4]
        }]
      },
      monthLabels: [
        'January', 'February', 'March', 'April', 'May', 'June', 'July',
        'August', 'September', 'October', 'November', 'December'
      ],
      isChartUpdate: false,
      reportInfo: {},
      filterShift: '',
      shiftsList: []
    }
  },
  computed: {
    filterShiftList () {
      const mappedShiftList = this.shiftsList.map((item, index) => ({
        text: `Shift ${index + 1}: ${item.startAt} - ${item.endAt}`,
        value: index
      }))
      return [
        {
          text: 'All Shift',
          value: ''
        },
        ...mappedShiftList
      ]
    },
    dateShow () {
      const now = this.$dayjs().tz(this.timeZone)
      if (this.filter === 'YEARLY') {
        return `${now.startOf('year').format('MMM YYYY')} - ${now.endOf('year').format('MMM YYYY')}`
      }

      if (this.filter === 'WEEKLY') {
        return `${now.startOf('week').format('DD MMM YYYY')} - ${now.endOf('week').format('DD MMM YYYY')}`
      }

      if (this.filter === 'TODAY') {
        return now
      }

      return `${this.$dayjs(this.date.startDate).format('DD MMM YYYY')} - ${this.$dayjs(this.date.endDate).format('DD MMM YYYY')}`
    },
    isShowRegisteredProfile () {
      const restaurantData = store.getters['User/restaurantData']

      return !!restaurantData.id
    },
    timeZone () {
      return this.$store.getters['User/timeZone']
    }
  },
  watch: {
    filter () {
      if (this.filter === 'YEARLY') {
        this.getSaleReport()
        this.dataInfo.labels = this.monthLabels
        this.isChartUpdate = true
      }

      return null
    }
  },
  mounted () {
    this.dataInfo.labels = this.timeLabels()
    this.getRestaurantShifts()
    if (this.isShowRegisteredProfile) {
      this.getSaleReport()
    }
  },
  methods: {
    getOffset (timeZone) {
      const timeZoneName = Intl.DateTimeFormat('ia', {
        timeZoneName: 'short',
        timeZone
      })
        .formatToParts()
        .find((i) => i.type === 'timeZoneName').value
      const offset = timeZoneName.slice(3)
      if (!offset) return 0

      const matchData = offset.match(/([+-])(\d+)(?::(\d+))?/)
      // eslint-disable-next-line no-throw-literal
      if (!matchData) throw `cannot parse timezone name: ${timeZoneName}`

      const [, sign, hour, minute] = matchData
      let result = parseInt(hour) * 60
      if (sign === '+') result *= -1
      if (minute) result += parseInt(minute)

      return result
    },
    chartUpdated () {
      this.isChartUpdate = false
    },
    getDateForFilter () {
      if (this.filter === 'TODAY') {
        const startDate = this.$dayjs().tz(this.timeZone).startOf('day').toISOString()
        const endDate = this.$dayjs().tz(this.timeZone).endOf('day').toISOString()

        return { startDate, endDate }
      }

      if (this.filter === 'WEEKLY') {
        const startDate = this.$dayjs().tz(this.timeZone).startOf('week').toISOString()
        const endDate = this.$dayjs().tz(this.timeZone).endOf('week').toISOString()

        return { startDate, endDate }
      }

      if (this.filter === 'MONTHLY') {
        const startDate = this.$dayjs().tz(this.timeZone).startOf('month').toISOString()
        const endDate = this.$dayjs().tz(this.timeZone).endOf('month').toISOString()

        return { startDate, endDate }
      }

      if (this.filter === 'YEARLY') {
        const startDate = this.$dayjs().tz(this.timeZone).startOf('year').toISOString()
        const endDate = this.$dayjs().tz(this.timeZone).endOf('year').toISOString()

        return { startDate, endDate }
      }

      const [startYear, startMonth, startDay] = this.date.startDate.split('-')
      const [endYear, endMonth, endDay] = this.date.endDate.split('-')

      const startDate = this.$dayjs().tz(this.timeZone).startOf('day')
        .year(+startYear)
        .month((+startMonth) - 1)
        .date(+startDay)
        .toDate()
        .toISOString()
      const endDate = this.$dayjs().tz(this.timeZone).endOf('day')
        .year(+endYear)
        .month((+endMonth) - 1)
        .date(+endDay)
        .toDate()
        .toISOString()

      return { startDate, endDate }
    },
    async getSaleReport () {
      try {
        this.loading = true
        const dateFilter = await this.getDateForFilter()
        console.log('this.filterShift ', this.filterShift)
        const selectedShift = (this.filterShift !== '') ? this.shiftsList[this.filterShift] : ''

        let startAtHour = selectedShift ? selectedShift.startAt.split(':')[0] : ''
        let startAtMin = selectedShift ? selectedShift.startAt.split(':')[1] : ''
        let endAtHour = selectedShift ? selectedShift.endAt.split(':')[0] : ''
        let endAtMin = selectedShift ? selectedShift.endAt.split(':')[1] : ''
        if (selectedShift) {
          const offset = this.getOffset(this.timeZone)
          startAtHour = Number(startAtHour) + parseInt(offset / 60)
          if (startAtHour > 23) {
            startAtHour -= 24
          }
          startAtMin = Number(startAtMin) + (offset % 60)
          endAtHour = Number(endAtHour) + parseInt(offset / 60)
          if (endAtHour > 23) {
            endAtHour -= 24
          }
          endAtMin = Number(endAtMin) + (offset % 60)
        }
        const {
          data
        } = await reportService.getSellingReport({
          ...dateFilter,
          reportType: this.filter.toUpperCase(),
          shiftStartAt: selectedShift ? `${startAtHour}:${startAtMin}` : '',
          shiftEndAt: selectedShift ? `${endAtHour}:${endAtMin}` : ''
        })

        this.reportInfo = data
        this.dataInfo.datasets[0].data = data.datasets
        this.isChartUpdate = true
        return data
      } catch (err) {
        return this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    timeLabels () {
      const labels = []
      for (let i = 0; i <= 23; i++) {
        const time = this.$formatTime(`${i.toString().padStart(2, '0')}:00`)
        labels.push(time)
      }

      return labels
    },
    async dateChange (val) {
      console.log('val', val)
      if (this.filter === 'RANGE') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        await this.getSaleReport()
        this.isChartUpdate = true
      }

      if (this.filter === 'WEEKLY') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }

        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        await this.getSaleReport()
        this.isChartUpdate = true
      }

      if (this.filter === 'MONTHLY') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        await this.getSaleReport()

        this.isChartUpdate = true
      }

      if (this.filter === 'TODAY') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.timeLabels()
        this.dataInfo.labels = labels
        await this.getSaleReport()
        this.isChartUpdate = true
      }

      return null
    },
    getDatesInRange (d1, d2) {
      const startDate = this.$dayjs(d1).toDate()
      const endDate = this.$dayjs(d2).toDate()

      const date = new Date(startDate.getTime())

      const dates = []

      while (date <= endDate) {
        dates.push(this.$dayjs(date).format('YYYY-MM-DD'))
        date.setDate(date.getDate() + 1)
      }

      return dates
    },
    async getRestaurantShifts () {
      try {
        this.loading = true

        const { data } = await restaurantService.getRestaurantShifts()
        this.shiftsList = data?.shifts || []
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => {
            console.log('close')
          }
        })
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped></style>
