<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader type="image" />
    </div>

    <v-form
      v-else
      @submit.prevent="updateTax">
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="4">
          <v-card class="my-card px-8 py-5  d-flex card-tax ">
            <div class=" w-full">
              <div class="d-flex">
                <h3>
                  Sales Tax
                </h3>

                <v-spacer></v-spacer>
                <div>
                  <v-btn
                    v-if="!isEditingTax"
                    color="primary"
                    text
                    small
                    class="text-none"
                    @click="isEditingTax = true">
                    Edit
                  </v-btn>
                  <div v-else>
                    <v-btn
                      :disabled="processing"
                      color="grey"
                      text
                      small
                      class="text-none"
                      @click="handleCancelTax">
                      Cancel
                    </v-btn>
                    <v-btn
                      type="submit"
                      :loading="processing"
                      color="primary"
                      text
                      small
                      class="text-none"
                      @click="updateTax">
                      Save
                    </v-btn>
                  </div>
                </div>
              </div>

              <v-divider class="mt-2"></v-divider>

              <div class="d-flex justify-center text-percent mt-5 ">
                <div
                  v-if="!isEditingTax"
                  class="">
                  {{ form.tax }} %
                </div>
                <div v-else>
                  <v-text-field
                    v-model.number="form.tax"
                    hide-spin-buttons
                    type="number"
                    suffix="%"
                    outlined
                    @change="displayTax" />
                </div>
              </div>
            </div>
          </v-card>
        </v-col>

        <v-col
          cols="12"
          sm="4">
          <v-card class="my-card px-8 py-5 d-flex card-tax">
            <div class=" w-full">
              <div class="d-flex ">
                <div class="d-flex ">
                  <h3>
                    Alcohol Tax
                  </h3>
                  <v-switch
                    v-model="form.isAlcoholTaxActive"
                    class="ma-0 mx-5"
                    hide-details
                    @change="updateTax"></v-switch>
                </div>

                <v-spacer></v-spacer>
                <div>
                  <v-btn
                    v-if="!isEditingAlcoholTax"
                    color="primary"
                    text
                    small
                    class="text-none"
                    @click="isEditingAlcoholTax = true">
                    Edit
                  </v-btn>
                  <div v-else>
                    <v-btn
                      :disabled="processing"
                      color="grey"
                      text
                      small
                      class="text-none"
                      @click="handleCancelAlcoholTax">
                      Cancel
                    </v-btn>
                    <v-btn
                      type="submit"
                      :loading="processing"
                      color="primary"
                      text
                      small
                      class="text-none"
                      @click="updateTax">
                      Save
                    </v-btn>
                  </div>
                </div>
              </div>
              <v-divider class="mt-2"></v-divider>
              <div class="d-flex justify-center text-percent mt-5 ">
                <div v-if="!isEditingAlcoholTax">
                  {{ form.alcoholTax }} %
                </div>
                <div v-else>
                  <v-text-field
                    v-model.number="form.alcoholTax"
                    hide-spin-buttons
                    type="number"
                    suffix="%"
                    outlined
                    @change="displayAlcoholTax" />
                </div>
              </div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>

import TaxProvider from '@/resources/TaxProvider'

const taxService = new TaxProvider()
export default {
  name: 'UserListPage',
  components: {

  },
  filters: {
    toRole (val) {
      if (!val) return 'Waiter'

      return val
    },
    toStatus (val) {
      if (!val) return '-'

      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      isEditingTax: false,
      isEditingAlcoholTax: false,
      loading: false,
      processing: false,
      form: {
        tax: 0,
        alcoholTax: 0,
        isAlcoholTaxActive: false
      },
      formValidate: {
        requierd: [
          (val) => !!val || 'Required'
        ]

      }
    }
  },

  mounted () {
    this.getTax()
  },
  methods: {
    displayAlcoholTax () {
      if (!this.form.alcoholTax) {
        this.form.alcoholTax = 0
      }

      this.form.alcoholTax = this.form.alcoholTax.toFixed(2, 0)
    },
    displayTax () {
      if (!this.form.tax) {
        this.form.tax = 0
      }

      this.form.tax = this.form.tax.toFixed(2, 0)
    },
    async getTax () {
      try {
        this.loading = true
        const { data } = await taxService.getTax()

        this.form = data.taxRate
        this.displayTax()
        this.displayAlcoholTax()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    handleCancelAlcoholTax () {
      this.isEditingAlcoholTax = false
    },
    handleCancelTax () {
      this.isEditingTax = false
    },
    async updateTax () {
      try {
        this.processing = true
        await taxService.updateTax({
          alcoholTax: +this.form.alcoholTax,
          tax: +this.form.tax,
          isAlcoholTaxActive: this.form.isAlcoholTaxActive
        })

        this.isEditingTax = false
        this.isEditingAlcoholTax = false
        this.$notify.success('Update Success !!')
        this.getTax()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }

  }
}
</script>

<style lang="scss" scoped>

.my-card {
  border-radius: 8px;
}

.text-percent{
  font-size: 2rem;

}

.card-tax{
  height: 150px;
}
</style>
