<template>
  <div>
    <v-row class="ma-0 ">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Customize
      </v-col>
      <v-col
        cols="12"
        sm="4"
        style="font-weight:500; font-size:0.9rem">
        <div>
          Main Color
          <div>
            <v-color-picker
              v-model="form.mainColor"
              mode="hexa"
              class="ma-2"></v-color-picker>
          </div>
        </div>
        <v-divider class="my-1"></v-divider>
        <div>
          Hover Color
          <div>
            <v-color-picker
              v-model="form.hoverColor"
              class="ma-2"
              mode="hexa"></v-color-picker>
          </div>
        </div>
        <v-divider class="my-1"></v-divider>
        <div>
          Contrast Color
          <div>
            <v-color-picker
              v-model="form.contrastColor"
              class="ma-2"
              mode="hexa"></v-color-picker>
          </div>
        </div>
        <v-divider class="my-1"></v-divider>
        <div class="d-flex justify-end">
          <v-btn
            text
            class="text-none"
            @click="resetColor">
            reset
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"
            @click="handleSaveBtn">
            Save
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    info: {
      type: Object,
      default: null
    },
    processing: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      form: {
        hoverColor: '',
        mainColor: '',
        contrastColor: ''
      }
    }
  },
  mounted () {
    this.form = _.cloneDeep(this.info)
  },
  methods: {
    resetColor () {
      this.form = _.cloneDeep({
        ...this.info,
        hoverColor: '',
        mainColor: '',
        contrastColor: ''
      })
    },
    handleSaveBtn () {
      const { hoverColor, mainColor, contrastColor } = this.form
      this.$emit('updateColor', {
        isOnlineOrdering: this.form.isOnlineOrdering,
        isReservation: this.form.isReservation,
        hoverColor: typeof hoverColor === 'string' ? hoverColor : hoverColor?.hexa,
        mainColor: typeof mainColor === 'string' ? mainColor : mainColor?.hexa,
        contrastColor: typeof contrastColor === 'string' ? contrastColor : contrastColor?.hexa
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
