<template>
  <div>
    <v-row class="ma-0 align-center">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Online Ordering
      </v-col>
      <v-col
        cols="12"
        sm="4">
        <v-switch
          v-model="form.isOnlineOrdering"
          hide-details
          class="ma-0"
          @change="handleSwicthChange"></v-switch>
      </v-col>
    </v-row>

    <v-row
      v-show="isReservation"
      class="ma-0 align-center">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Reservation
      </v-col>
      <v-col
        cols="12"
        sm="4">
        <v-switch
          v-model="form.isReservation"
          hide-details
          class="ma-0"
          @change="handleSwicthChange"></v-switch>
      </v-col>
    </v-row>

    <v-row class="ma-0 align-center">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Domain
      </v-col>
      <v-col
        cols="12"
        sm="4">
        <v-text-field
          v-model="form.domain"
          dense
          :disabled="!isEditing"
          hide-details
          outlined />
      </v-col>
      <v-col
        cols="12"
        sm="2">
        <v-btn
          text
          class="text-none"
          @click="hadelEditBtn">
          {{ isEditing ? 'Cancel' : 'Edit' }}
        </v-btn>
        <v-btn
          class="text-none"
          color="primary"
          text
          :loading="processing"
          @click="handleSaveBtn">
          Save
        </v-btn>
      </v-col>
    </v-row>
    <!-- <v-row class="ma-0 align-center">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Sub Domain
      </v-col>
      <v-col
        cols="12"
        sm="4">
        <v-text-field
          v-model="form.subDomain"
          dense
          :disabled="!isEditing"
          suffix=".co"
          hide-details
          outlined />
      </v-col>
      <v-col
        cols="12"
        sm="2">
        <v-btn
          text
          class="text-none"
          @click="hadelEditBtn">
          {{ isEditing ? 'Cancel' : 'Edit' }}
        </v-btn>
        <v-btn
          class="text-none"
          color="primary"
          text
          :loading="processing"
          @click="handleSaveBtn">
          Save
        </v-btn>
      </v-col>
    </v-row> -->
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    info: {
      type: Object,
      default: null
    },
    processing: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isEditing: false,
      form: {
        domain: ''
      }
    }
  },
  computed: {
    isReservation () {
      return this.$store.getters['Restaurant/isReservation']
    }
  },
  mounted () {
    this.form = _.cloneDeep(this.info)
  },
  methods: {
    hadelEditBtn () {
      if (this.isEditing) {
        this.form.domain = this.info.domain
      }
      this.isEditing = !this.isEditing
    },
    handleSaveBtn () {
      this.$emit('updateDomain', this.form)
    },
    handleSwicthChange () {
      this.$emit('updateOnlineOrderingAndReservation', {
        isOnlineOrdering: this.form.isOnlineOrdering,
        isReservation: this.form.isReservation
      })
    }
  }

}
</script>

<style lang="scss" scoped>

</style>
