<template>
  <div>
    <v-row class="ma-0 ">
      <v-col
        cols="12"
        sm="2"
        style="font-weight:600">
        Image Setting
      </v-col>
      <v-col
        cols="12"
        sm="4"
        style="font-weight:500; font-size:0.9rem">
        <div>
          Restaurant Logo
          <div
            v-if="form.logoUrl"
            class="d-flex mr-2">
            <div>
              <img
                class="menu-image"
                :src="form.logoUrl"
                width="126px"
                height="126px"
                alt="menu image">
            </div>
            <div class="d-flex align-end">
              <BtnIcon
                color="red"
                icon-name="mdi-delete"
                icon-hover="mdi-delete-empty"
                small
                @click="removeImage('logo')" />
            </div>
          </div>
          <div v-else>
            <v-file-input
              id="file-input"
              v-model="logoFile"
              class="d-none"
              truncate-length="15"
              @change="upload('logo')" />
            <label
              v-if="!uploadingImage.logo"
              for="file-input">
              <div class="d-flex my-file-input align-center pa-3 text-center">
                <div>
                  <div>
                    <v-icon
                      class="my-icon"
                      color="primary">mdi-plus-circle-outline</v-icon>
                  </div>
                  <div>
                    Add Menu Photo
                  </div>
                </div>
              </div>
            </label>
            <div
              v-else
              class="d-flex my-file-input-loading align-center pa-3 text-center">
              <div>
                <div>
                  Adding Menu Photo ...
                </div>
              </div>
            </div>
          </div>
        </div>
        <v-divider class="my-1"></v-divider>
        <div>
          Banner Image
          <div
            v-if="form.bannerImageUrl"
            class="d-flex mr-2">
            <div>
              <img
                class="menu-image"
                :src="form.bannerImageUrl"
                width="126px"
                height="126px"
                alt="menu image">
            </div>
            <div class="d-flex align-end">
              <BtnIcon
                color="red"
                icon-name="mdi-delete"
                icon-hover="mdi-delete-empty"
                small
                @click="removeImage('banner')" />
            </div>
          </div>
          <div v-else>
            <v-file-input
              id="file-input-banner"
              v-model="bannerFile"
              class="d-none"
              truncate-length="15"
              @change="upload('banner')" />
            <label
              v-if="!uploadingImage.banner"
              for="file-input-banner">
              <div class="d-flex my-file-input align-center pa-3 text-center">
                <div>
                  <div>
                    <v-icon
                      class="my-icon"
                      color="primary">mdi-plus-circle-outline</v-icon>
                  </div>
                  <div>
                    Add Menu Photo
                  </div>
                </div>
              </div>
            </label>
            <div
              v-else
              class="d-flex my-file-input-loading align-center pa-3 text-center">
              <div>
                <div>
                  Adding Menu Photo ...
                </div>
              </div>
            </div>
          </div>
        </div>
        <v-divider class="my-1"></v-divider>
        <div class="d-flex justify-end">
          <v-btn
            text
            class="text-none"
            @click="resetColor">
            reset
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"
            @click="handleSaveBtn">
            Save
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import UploadProvider from '@/resources/UploadProvider'
import _ from 'lodash'

const uploadService = new UploadProvider()
export default {
  props: {
    info: {
      type: Object,
      default: null
    },
    processing: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      uploadingImage: {
        logo: false,
        banner: false
      },
      logoFile: null,
      bannerFile: null,
      form: {
        logoUrl: '',
        bannerImageUrl: ''
      }
    }
  },
  mounted () {
    this.form = _.cloneDeep(this.info)
  },
  methods: {
    resetColor () {
      this.form = _.cloneDeep({
        ...this.info,
        logoUrl: '',
        bannerImageUrl: ''
      })
    },
    handleSaveBtn () {
      this.$emit('update-image', {
        logoUrl: this.form.logoUrl,
        bannerImageUrl: this.form.bannerImageUrl
      })
    },
    removeImage (filePath) {
      if (filePath === 'logo') {
        this.form.logoUrl = ''
      } else if (filePath === 'banner') {
        this.form.bannerImageUrl = ''
      }
    },
    async upload (filePath) {
      try {
        this.uploadingImage[filePath] = true
        if (filePath === 'logo') {
          const { data } = await uploadService.uploadFile(this.logoFile)
          this.form.logoUrl = data.public_url
          this.logoFile = null
        } else if (filePath === 'banner') {
          const { data } = await uploadService.uploadFile(this.bannerFile)
          this.form.bannerImageUrl = data.public_url
          this.bannerFile = null
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.uploadingImage[filePath] = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.my-file-input{
  background: #FFFFFF;
  border: 1px solid #B2CC53;
  color:#B2CC53 ;
  border-radius: 14px;
  width: 126px;
  height: 126px;
  font-size: 0.8rem;
}

.my-file-input-loading{
  background: #FFFFFF;
  border: 1px solid #d1d1d1;
  color:#d1d1d1 ;
  border-radius: 14px;
  width: 126px;
  height: 126px;
  font-size: 0.8rem;
}

.my-file-input:hover{
  cursor: pointer;
  background-color: #B2CC53;
  color: white !important;
  transition-duration: 500ms;

  .my-icon{
    color: white !important;
    transition-duration: 500ms;
  }
}
</style>
