<template>
  <div class="box">
    <div class="paper">
      <div class="text-center">
        <h2>RECEIPT</h2>
      </div>

      <div class="mt-5 font-weight-medium">
        T Thai LLC  <br>
        PO Box 160493 <br>
        Boiling Springs, SC 29316
      </div>

      <v-divider class="mt-3"></v-divider>

      <div class="mt-5">
        <span class="font-weight-medium">Period :</span>  6/1/2022 - 6/30/2022  <br>
        <span class="font-weight-medium">Invoice Date :</span>      7/1/2022 <br>
        <span class="font-weight-medium">Due Date :</span>    7/3/2022
      </div>
      <v-divider class="mt-3"></v-divider>

      <div class="mt-5">
        <span class="font-weight-medium"> BILL TO : </span>
        <div class="px-3 mt-1">
          {{ info.billTo.name }} <br>
          {{ info.billTo.address }}
        </div>
      </div>

      <div class="mt-5">
        <v-row class="font-weight-medium">
          <v-col cols="6">
            Service Description
          </v-col>
          <v-col cols="3">
            Quantity
          </v-col>
          <v-col cols="3">
            Amount
          </v-col>
        </v-row>

        <v-row
          v-for="list in info.billingLists"
          :key="list.descirption"
          class="ma-0 py-1 font-weight-light">
          <v-col
            cols="6"
            class="py-0">
            {{ list.descirption }}
          </v-col>
          <v-col
            cols="3"
            class="py-0">
            {{ list.quantity | separator }}
          </v-col>
          <v-col
            cols="3"
            class="py-0">
            $ {{ list.amount.toFixed(2) | separator }}
          </v-col>
        </v-row>
      </div>
      <v-divider class="mt-3"></v-divider>
      <div class="mt-5">
        <v-row class="ma-0">
          <v-col
            cols="6"
            class="font-weight-medium">
            Amount Due
          </v-col>
          <v-col
            cols="6"
            class="d-flex justify-end">
            $ 175.00
          </v-col>
        </v-row>
      </div>
      <v-divider class="mt-3"></v-divider>

      <div class="mt-5">
        Paid by ACH Debit ending 1234 on 7/3/2022 <br>
        <span class="font-weight-medium">  Auth Code :</span>  VPJSP5
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ReceiptPrinting',
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  data () {
    return {
      info: {
        billTo: {
          name: 'May Thai Kitchen',
          address: '1319 Park Street Alameda, CA 94501'
        },
        billingLists: [
          {
            descirption: 'Credit Card Sales',
            quantity: 26000,
            amount: 65.00
          },
          {
            descirption: 'Debit Card Sales',
            quantity: 10500,
            amount: 52.50
          },
          {
            descirption: 'iPad Free',
            quantity: 1,
            amount: 0
          },
          {
            descirption: 'iPad',
            quantity: 1,
            amount: 20
          }, {
            descirption: 'Website',
            quantity: 1,
            amount: 40
          }

        ]
      }
    }
  },
  mounted () {
    setTimeout(() => {
      window.print()
    }, 2000)
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
@page {
  size: letter;
  margin: 0;
}
@media print {
  html, body {
    width: 8.5in;
    height: 11in;
  }
  /* ... the rest of the rules ... */
}

.box{
  display: flex;
  justify-content: center;

}

.paper{
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 5mm;
}
</style>
