<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          text
          small
          color="red"
          v-on="on">
          Unsubscription
        </v-btn>
      </template>

      <v-card>
        <div class="head px-3 py-3">
          Unsubscription
        </div>

        <div class="px-3 py-3 text-content">
          You want to Unsubscription <span
            class="red--text"
            style="font-size:1.2rem ; font-weight:400">{{ info.name }}</span> ?
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="deleteClient">
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
// import ClientProvider from '../../../resources/ClientProvider'

// const clientService = new ClientProvider()
export default {
  props: {
    info: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    // async deleteClient () {
    //   try {
    //     this.processing = true
    //     await clientService.deleteClient(this.clientInfo.id)
    //     this.$emit('deleted')
    //     this.dialog = false
    //   } catch (err) {
    //     console.error(err)
    //   } finally {
    //     this.processing = false
    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
