<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        Restaurant Setting
      </div>
    </v-card>

    <v-skeleton-loader
      v-if="loading"
      class="mt-10"
      type="article, actions" />

    <div v-else>
      <v-card class="my-2 px-12 py-5 my-card">
        <section>
          <GeneralSetting />
        </section>
      </v-card>

      <v-card class="my-2 px-12 py-5 my-card">
        <section class="my-10">
          <PasswordSetting />
        </section>
      </v-card>

      <v-card class="my-2 px-12 py-5 my-card">
        <section class="my-10">
          <OpenHourForm />
        </section>
      </v-card>

      <v-card class="my-2 px-12 py-5 my-card">
        <section class="my-10">
          <HolidayHourForm />
        </section>
      </v-card>
      <v-card class="my-2 px-12 py-5 my-card">
        <section class="my-10">
          <ShiftFrom />
        </section>
      </v-card>
    </div>
  </div>
</template>

<script>
import ClientProvider from '@/resources/ClientProvider'
import PasswordSetting from '../components/passwordAndUsernameSetting.vue'
// import ColDivider from '../components/colDivider.vue'
import GeneralSetting from '../components/generalSetting.vue'
import OpenHourForm from '../components/openHourForm.vue'
import HolidayHourForm from '../components/holidayHourForm.vue'
import ShiftFrom from '../components/shiftFrom.vue'

const clientService = new ClientProvider()

export default {
  name: 'ClientAddPage',
  components: {
    // ColDivider,
    PasswordSetting,
    OpenHourForm,
    HolidayHourForm,
    ShiftFrom,
    GeneralSetting
  },
  data () {
    return {
      loading: false,
      form: {
        name: '',
        address: {
          address: '',
          subDistrict: '',
          district: '',
          province: '',
          postcode: '',
          note: ''
        },
        tel: '',
        email: ''
      },
      processing: false

    }
  },
  computed: {
  },
  mounted () {
    // this.getClientInfo()
  },
  methods: {

    async getClientInfo () {
      try {
        this.loading = true
        const { data } = await clientService.getClientByIdByUser()

        this.form = {
          name: data.name || '-',
          address: {
            address: data?.address?.address || '',
            subDistrict: data?.address?.subDistrict || '',
            district: data?.address?.district || '',
            province: data?.address?.province || '',
            postcode: data?.address?.postcode || '',
            note: data?.address?.note || ''
          },
          tel: data.tel || null,
          email: data.email || '-'
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" >
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;

  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
