<template>
  <div>
    <v-card class="my-card pa-8">
      <div class="d-flex ">
        <div>
          <h3>Website Setting</h3>
        </div>
      </div>

      <div v-if="loading">
        <v-skeleton-loader type=" list-item, list-item, list-item, image,actions" />
      </div>

      <section
        v-else
        class="mt-5">
        <DomainSetting
          :info="form"
          :processing="processing"
          @updateOnlineOrderingAndReservation="updateOnlineOrderingAndReservation"
          @updateDomain="updateDomain($event)" />
        <ColorPicker
          :info="form"
          :loading="loading"
          :processing="processing"
          @updateColor="updateColor" />
        <ImageSetting
          :info="form"
          :loading="loading"
          :processing="processing"
          @update-image="updateImage($event)" />
      </section>
    </v-card>
  </div>
</template>

<script>
import WebsiteSettingProvider from '@/resources/WebsiteSettingProvider'
import DomainSetting from '../components/donmain-setting.vue'
import ColorPicker from '../components/color-picker.vue'
import ImageSetting from '../components/image-setting.vue'

const webSettingService = new WebsiteSettingProvider()

export default {
  components: {
    DomainSetting,
    ColorPicker,
    ImageSetting
  },
  data () {
    return {
      activeWebsite: false,
      loading: true,
      form: {
        isActive: true

      },
      processing: false

    }
  },
  mounted () {
    this.getWebSetting()
  },
  methods: {
    updateImage (form) {
      this.updateWebSetting({
        ...this.form,
        ...form
      })
    },
    updateColor (form) {
      this.updateWebSetting({
        ...form
      })
    },
    updateOnlineOrderingAndReservation (form) {
      this.updateWebSetting({
        ...form
      })
    },
    updateDomain (form) {
      this.updateWebSetting({
        isOnlineOrdering: form.isOnlineOrdering,
        isReservation: form.isReservation,
        domain: form.domain
      })
    },
    async updateWebSetting (form) {
      try {
        this.processing = true
        await webSettingService.updateWebsiteSetting({
          ...form
        })
        this.$notify.success('Update Success')
        this.getWebSetting()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getWebSetting () {
      try {
        this.loading = true
        const { data } = await webSettingService.getWebsiteSetting()

        this.form = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss">

</style>
