<template>
  <div>
    <v-card class="my-card px-8 py-5">
      <div class="d-flex justify-space-between">
        <h3 class="d-flex ">
          Referral Code
        </h3>

        <div class="d-flex">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details
              dense
              placeholder="Search"
              @keydown.enter="getClientsList" />
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <v-data-table
          :headers="referralCodeHeader"
          :items="referralCodeData"
          items-per-page="5">
          <template #[`item.referrer`]="{ item }">
            $ {{ item.referrer | separator }}
          </template>

          <template #[`item.referee`]="{ item }">
            $ {{ item.referee | separator }}
          </template>

          <template #[`item.status`]="{ item }">
            <div :class="statusColor(item.status)">
              {{ item.status }}
            </div>
          </template>
        </v-data-table>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  data () {
    return {
      referralCodeHeader: [
        {
          text: 'Restaurant Name',
          value: 'name'
        }, {
          text: 'Referral Code',
          value: 'code'
        }, {
          text: 'Status',
          value: 'status'
        }, {
          text: 'Award - Referrer',
          value: 'referrer'
        }, {
          text: 'Award - Referee',
          value: 'referee'
        }
      ],
      referralCodeData: [{
        name: 'winnie steak',
        code: 'WINNIE',
        status: 'active',
        referrer: 80,
        referee: 20
      },
      {
        name: 'Thai Food 678',
        code: 'THAIFO',
        status: 'active',
        referrer: 50,
        referee: 15
      }]
    }
  },
  methods: {
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }

      if (status === 'suspended') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
