<template>
  <div>
    <v-card class="my-card px-8 py-5 table-card">
      <div class="d-flex justify-space-between">
        <h3 class="d-flex ">
          Referral Report
        </h3>

        <div class="d-flex">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details
              dense
              placeholder="Search"
              @keydown.enter="getClientsList" />
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <v-data-table
          :headers="referralCodeHeader"
          :items="referralCodeData"
          items-per-page="5">
          <template #[`item.referrerPoint`]="{ item }">
            {{ item.referrerPoint | separator }}
          </template>

          <template #[`item.refereePoint`]="{ item }">
            {{ item.refereePoint | separator }}
          </template>

          <template #[`item.successDate`]="{ item }">
            {{ item.successDate | toDate }}
          </template>

          <template #[`item.registerDate`]="{ item }">
            {{ item.registerDate | toDate }}
          </template>

          <template #[`item.status`]="{ item }">
            <div :class="statusColor(item.status)">
              {{ item.status }}
            </div>
          </template>
        </v-data-table>
      </div>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }
  },
  data () {
    return {
      referralCodeHeader: [
        {
          text: 'Restaurant Name',
          value: 'name'
        }, {
          text: 'Referral Code',
          value: 'code'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Referral Rest. Name',
          value: 'restName'
        },
        {
          text: 'Referral Register Date',
          value: 'registerDate'
        },
        {
          text: 'Referral Success Date',
          value: 'successDate'
        },
        {
          text: 'Referrer Point',
          value: 'referrerPoint'
        }, {
          text: 'Referee Point',
          value: 'refereePoint'
        }
      ],
      referralCodeData: [{
        name: 'winnie steak',
        code: 'WINNIE',
        status: 'success',
        restName: 'Sup******od',
        registerDate: '2022-01-02',
        successDate: '2022-01-05',
        referrerPoint: 5000,
        refereePoint: 150
      },
      {
        name: 'Thai Food 678',
        code: 'THAIFO',
        status: 'waiting',
        restName: 'Ex*****hi',
        registerDate: '2022-01-01',
        successDate: null,
        referrerPoint: 0,
        refereePoint: 0
      }]
    }
  },
  methods: {
    statusColor (status) {
      console.log(status)
      if (status === 'success') {
        return 'activeColor'
      }

      if (status === 'waiting') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
