<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none"

          color="primary"
          v-on="on">
          Close Of Day
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Close Of Day
        </div>
        <div class="px-5 py-3 text-content">
          <div>
            <v-row class="ma-0">
              <v-col class="title">
                Total Transaction
              </v-col>
              <v-col>
                {{ closeBatchSummary.totalTransaction }}
              </v-col>
            </v-row>
            <v-row class="ma-0">
              <v-col class="title">
                Total Collected
              </v-col>
              <v-col>
                {{ $seperator.localeString(closeBatchSummary.totalCollected) }}
              </v-col>
            </v-row>
            <v-row class="ma-0">
              <v-col class="title">
                Net Sales
              </v-col>
              <v-col>
                {{ $seperator.localeString(closeBatchSummary.netSales) }}
              </v-col>
            </v-row>
          </div>
          <div class="mt-5 mb-3 px-3">
            <div class="title">
              Summary By Payment Method
            </div>

            <v-row
              v-for="(item, index) in closeBatchSummary.summaryByPaymentMethod"
              :key="`${item.label}-${index}`"
              class="ma-0">
              <v-col class="my-title">
                {{ item.label }}
              </v-col>
              <v-col>
                {{ $seperator.localeString(item.amount) }}
              </v-col>
            </v-row>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            Cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :loading="processing"
            @click="closeBatch">
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TransactionProvider from '@/resources/TransactionProvider'

const transactionService = new TransactionProvider()
export default {

  props: {
    closeBatchSummary: {
      type: Object,
      default: null
    },
    date: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialogData: false,
      processing: false,
      loading: true
    }
  },
  computed: {
    dialog: {
      get () {
        return this.dialogData
      },
      set (val) {
        this.$emit('get-summary')
        this.dialogData = val
      }
    }
  },
  mounted () {

  },
  methods: {
    async closeBatch () {
      try {
        this.processing = true
        await transactionService.closeBatchPayment({
          startDate: `${this.date.newStartDate}`,
          endDate: `${this.date.newEndDate}`
        })

        this.$notify.success('Close Batch Success!!')
        this.$emit('refresh')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}

.my-title{
  font-weight: 500;
   color: black;
}

.title{
  color: black;
}
</style>
