<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          :disabled="itemInfo.paymentMethod === 'CASH'"
          v-bind="attrs"
          outlined
          color="primary"
          class="text-none mx-1"
          v-on="on">
          Issue Refund
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 d-flex ">
          <v-col
            cols="2"
            class="pa-0">
            <v-btn
              icon
              dark
              @click="dialog = false">
              <v-icon small>
                mdi-close
              </v-icon>
            </v-btn>
          </v-col>
          <v-col
            cols="8"
            class="text-center pa-0">
            Issue Refund
          </v-col>
        </div>
        <div class="px-10 py-5 text-content">
          <div class="d-flex">
            <v-col
              cols="6"
              class="pa-0">
              <v-btn
                block
                color="primary"
                outlined
                class="text-none">
                Refund Items
              </v-btn>
            </v-col>
            <v-col
              cols="6"
              class="pa-0">
              <RefundAmountModal
                :item-info="itemInfo"
                @refunded="refunded" />
              <!-- <v-btn
                block
                color="grey"
                outlined
                class="text-none">
                Refund Amount
              </v-btn> -->
            </v-col>
          </div>

          <div class="mt-5">
            <h3>Select Items to Refund</h3>

            <div class="mt-3">
              item amount includes taxes and discounts, if applicable.
            </div>

            <div class="mt-5">
              <v-data-table
                v-model="selectedItem"
                item-key="menuId"
                show-select
                :items="itemInfo.summaryItems"
                :headers="tableHeader"
                hide-default-footer
                :items-per-page="-1">
                <template #[`item.item`]="{ item }">
                  <div class="py-3">
                    <div>
                      {{ item.name }}
                    </div>
                    <div
                      class="grey--text"
                      style="font-size:0.8rem">
                      Regular  ( $ {{ item.price.toFixed(2,0) | separator }} )
                    </div>
                  </div>
                </template>

                <template #[`item.amount`]="{ item }">
                  $ {{ item.amount.toFixed(2,0) | separator }}
                </template>
              </v-data-table>
            </div>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="py-5">
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="primary"
            :loading="processing"
            :disabled="selectedItem.length === 0"
            @click="refund">
            Refund Items
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TransactionProvider from '@/resources/TransactionProvider'
import RefundAmountModal from './RefundAmountModal.vue'

const transactionService = new TransactionProvider()
export default {
  components: {
    RefundAmountModal
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },

  props: {
    itemInfo: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      password: '',
      confirmPassword: '',
      validForm: false,
      selectedItem: [],
      tableHeader: [
        {
          text: 'Items',
          align: 'start',
          sortable: false,
          value: 'item'
        },
        {
          text: 'Amount',
          align: 'start',
          sortable: false,
          value: 'amount'
        }
      ],
      validateForm: {
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ]
      }
    }
  },
  mounted () {

  },
  methods: {
    refunded () {
      this.$notify.success('Refund Success')
      this.$emit('refunded')
      this.dialog = false
    },
    calAmount () {
      let amount = 0
      for (const item of this.selectedItem) {
        amount += item.amount
      }
      return amount
    },
    async refund () {
      try {
        this.processing = true

        const amount = this.calAmount()

        await transactionService.RefundTransaction({
          transactionId: this.itemInfo.id,
          summaryItems: this.selectedItem,
          amount
        })

        this.$notify.success('Refund Success')
        this.$emit('refunded')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
