<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="800">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          block
          color="grey"
          outlined
          class="text-none"
          v-on="on">
          Refund Amount
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3 d-flex ">
          <v-col
            cols="2"
            class="pa-0">
            <v-btn
              icon
              dark
              @click="dialog = false">
              <v-icon small>
                mdi-arrow-left
              </v-icon>
            </v-btn>
          </v-col>
          <v-col
            cols="8"
            class="text-center pa-0">
            Refund Amount
          </v-col>
        </div>
        <div class="px-10 py-5 text-content">
          <div class="mt-5">
            <h3>Select Refund Reson</h3>

            <div class="mt-3">
              By issuing this refun, I authorize Square to debit the refund amount from
              my outstanding Square balance, or, if those funds are unavailable, the bank account
              linked to my Square account.
            </div>
          </div>

          {{ itemInfo.cardLastFour }}

          <div class="mt-5">
            <div>
              <v-row class="ma-0">
                <v-col
                  cols="4"
                  class="title-table">
                  Refund to
                </v-col>
                <v-col
                  cols="8"
                  class="text-table">
                  {{ itemInfo.paymentMethod !== 'CASH' ? `${itemInfo.cardType} ${itemInfo.cardLastFour}` : `Cash` }}
                </v-col>
              </v-row>
              <v-row class="ma-0">
                <v-col
                  cols="4"
                  class="title-table">
                  Amount
                </v-col>
                <v-col
                  cols="8"
                  class="text-table">
                  $  {{ itemInfo.totalPaid.toFixed(2,0) | separator }}
                </v-col>
              </v-row>
            </div>
          </div>

          <div class="mt-5">
            <v-select
              v-model="selectedReson"
              :items="resonList"
              outlined
              label="Reson for refund *"></v-select>

            <v-form
              v-if="selectedReson === 'Other'"
              v-model="validForm">
              <v-text-field
                v-model="otherReson"
                :rules="validateForm.required"
                label="Please answer the reson"
                outlined />
            </v-form>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions class="py-5">
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="primary"
            :disabled="reson === ''"
            @click="refund">
            Refund
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TransactionProvider from '@/resources/TransactionProvider'

const transactionService = new TransactionProvider()
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },

  props: {
    itemInfo: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      password: '',
      confirmPassword: '',
      validForm: false,

      tableHeader: [
        {
          text: 'Items',
          align: 'start',
          sortable: false,
          value: 'item'
        },
        {
          text: 'Amount',
          align: 'start',
          sortable: false,
          value: 'amount'
        }
      ],
      validateForm: {
        required: [
          (val) => !!val || 'Required'

        ]
      },
      resonList: [
        'Returned goods', 'Accident charge', 'Canceled order', 'Fraudulent Charge', 'Other'
      ],
      selectedReson: '',
      otherReson: ''

    }
  },
  computed: {
    reson () {
      if (this.selectedReson === 'Other') {
        return this.otherReson
      }

      return this.selectedReson
    }
  },
  mounted () {

  },
  methods: {
    calAmount () {
      let amount = 0
      for (const item of this.selectedItem) {
        amount += item.amount
      }
      return amount
    },
    async refund () {
      try {
        this.processing = true

        await transactionService.RefundTransaction({
          transactionId: this.itemInfo.id,
          amount: this.itemInfo.totalPaid
        })

        this.$notify.success('Refund Success')
        this.$emit('refunded')
        this.dialog = false
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.title-table{
  background-color: #d6d4d4;
border: #bdbdbd 1px solid;
color: black;
font-weight: 500;
}

.text-table{
  background-color: #eeeeee;
  border: #d8d8d8 1px solid;
color: black;

}

.text-content{
  color: #686767;
}
</style>
