<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          class="text-none"
          text
          color="primary"
          v-on="on">
          {{ tips ? 'Adjust A Tip' :'Add A Tip' }}
        </v-btn>
      </template>

      <v-card>
        <div class="head pa-3">
          Tips
        </div>
        <div class="px-5 py-3 text-content">
          <v-form v-model="validForm">
            <v-text-field
              v-model.number="form.tips"
              prefix="$"
              class="mt-1"
              :label="tips ? 'Adjust A Tip' :'Add A Tip'"
              @change="displayTips" />
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-none"
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
          <v-btn
            class="text-none"
            color="primary"
            text
            :disabled="!validForm">
            {{ tips ? 'Adjust A Tip' :'Add A Tip' }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

export default {

  props: {
    tips: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      dialog: false,
      processing: false,
      password: '',
      confirmPassword: '',
      validForm: false,
      form: {
        tips: 0
      },
      validateForm: {
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ]
      }
    }
  },
  mounted () {
    this.form.tips = _.cloneDeep(this.tips)
    this.displayTips()
  },

  methods: {
    displayTips () {
      this.form.tips = this.form.tips.toFixed(2, 0)
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
