<template>
  <div>
    <v-container class="fill-height">
      <v-row
        align="center"
        justify="center">
        <v-btn
          text
          class="text-none"
          @click.stop="onClickItem(itemInfo)">
          <div class="d-flex align-center">
            <img
              v-if="itemInfo.orderType === 'THIRD_PARTY'"
              :src="deliverySourceLogo(itemInfo?.deliverySource)"
              width="25"
              height="25"
              alt="tthai delivery source logo"
              class="mr-2">
            <img
              v-else
              :src="orderTypeLogo(itemInfo.orderType)"
              width="25"
              height="25"
              alt="tthai order type logo"
              class="mr-2">
            <div class="mr-2">
              #{{ itemInfo.orderId }}
            </div>
            <div class=" description-text">
              {{ itemInfo.paidBy || itemInfo.customer.firstName }} -
            </div>
            <span> Collected By {{ collectedBy }} </span>
          </div>
        </v-btn>
      </v-row>
    </v-container>
    <!-- <v-navigation-drawer
      v-model="drawer"
      class="pa-5"
      width="500"
      right
      absolute
      temporary>
      <v-row class="ma-0">
        <v-btn
          :disabled="itemInfo.paymentMethod === 'CASH'"
          outlined
          color="primary"
          class="text-none mx-1">
          Send Receipt
        </v-btn>

        <div>
          <RefundModal
            :item-info="itemInfo"
            @refunded="refunded" />
        </div>
      </v-row>

      <section class="receipt-view mt-5">
        <section>
          <div>
            <h2>  $ {{ itemInfo.totalPaid.toFixed(2,0) | separator }} Payment</h2>
          </div>

          <div class="mt-3 font-weight-bold grey--text">
            {{ itemInfo.openDate | toDateTime }}
          </div>

          <div class="mt-5 font-weight-light">
            <div>
              Order# {{ itemInfo.orderId }}
            </div>

            <div>
              Payment Method : {{ itemInfo.cardType || itemInfo.paymentMethod }}
            </div>
          </div>

          <div class="grey--text mt-2">
            Paid by : <span class="primary--text">Ben Tenant</span>
          </div>
        </section>

        <v-divider class="my-5"></v-divider>

        <section>
          <div class="d-flex justify-space-between">
            <div class="font-weight-bold">
              Grooming
            </div>

            <div>
              $ {{ itemInfo.totalPaid.toFixed(2,0) | separator }}
            </div>
          </div>

          <div class="mt-1 font-weight-medium grey--text">
            Regular
          </div>
        </section>

        <v-divider class="my-5"></v-divider>

        <section>
          <div class="d-flex justify-space-between font-weight-bold">
            <div>TOTAL</div>

            <div>
              $ {{ itemInfo.totalPaid.toFixed(2,0) | separator }}
            </div>
          </div>

          <div class="mt-5 d-flex justify-space-between font-weight-medium grey2--text">
            <div>{{ itemInfo.cardType ? `${itemInfo.cardType} ${itemInfo.cardLastFour}` : itemInfo.paymentMethod }}</div>

            <div>
              $ {{ itemInfo.totalPaid.toFixed(2,0) | separator }}
            </div>
          </div>

          <div class="mt-1 font-weight-medium grey--text">
            {{ itemInfo.openDate | toDateTime }}
          </div>

          <div class="mt-3 primary--text">
            Receipt# {{ itemInfo.orderId }}
          </div>
        </section>
      </section>

      <div class="d-flex justify-end mt-3">
        <v-btn
          class="text-none"
          outlined
          color="primary"
          @click="drawer = false">
          Done
        </v-btn>
      </div>
    </v-navigation-drawer> -->
  </div>
</template>

<script>
import DineInLogo from '@/assets/icons/order-type/dine-in.png'
import ToGoLogo from '@/assets/icons/order-type/to-go.png'
import OnlineLogo from '@/assets/icons/order-type/online.png'
import TThaiAppLogo from '@/assets/icons/order-type/tthai-app.png'
import DoorDashLogo from '@/assets/doordash-logo.png'
import GrubHubLogo from '@/assets/grubhub-logo.png'
import UberEatLogo from '@/assets/uber-eat-logo.png'
import GloriaFoodLogo from '@/assets/gloriafood-logo.png'

export default {
  props: {
    itemInfo: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      items: [
        { title: 'Home', icon: 'mdi-view-dashboard' },
        { title: 'About', icon: 'mdi-forum' }
      ]
    }
  },
  computed: {
    collectedBy () {
      const { orderType, createdBy } = this.itemInfo
      if (orderType === 'ONLINE') {
        return 'Online'
      } if (orderType === 'TTHAI_APP') {
        return 'EatsZaab'
      }
      return createdBy.username
    }
  },
  methods: {
    onClickItem (info) {
      this.$emit('click:item', info)
    },
    refunded () {
      this.$emit('refunded')
      this.drawer = false
    },
    orderTypeLogo (orderType) {
      switch (orderType) {
      case 'DINE_IN':
        return DineInLogo
      case 'TO_GO':
        return ToGoLogo
      case 'ONLINE':
        return OnlineLogo
      case 'TTHAI_APP':
        return TThaiAppLogo
      default:
        return ''
      }
    },
    deliverySourceLogo (deliverySource) {
      switch (deliverySource) {
      case 'doordash':
        return DoorDashLogo
      case 'grubhub':
        return GrubHubLogo
      case 'ubereats':
        return UberEatLogo
      case 'gloriafood':
        return GloriaFoodLogo
      default:
        return ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.description-text{
  font-weight: 600;
}

.receipt-view {
  border: 1px solid #B2CC53;
  padding: 20px;
}
</style>
