<template>
  <div>
    <div class="ma-0 d-sm-flex justify-space-between">
      <div>
        <div>
          <div class="info-text">
            {{ transactionSummary.transactions | separator }}
          </div>
          <div class="label-text">
            TRANSACTIONS
          </div>
        </div>
      </div>

      <div>
        <div>
          <div class="info-text">
            $  {{ transactionSummary.totalCollected.toFixed(2,0) | separator }}
          </div>
          <div class="label-text">
            TOTAL COLLECTED
          </div>
        </div>
      </div>

      <!-- <div>
        <div>
          <div class="info-text">
            $ {{ transactionSummary.netSales.toFixed(2,0) | separator }}
          </div>
          <div class="label-text">
            NET SALES
          </div>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script>

export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    transactionSummary: {
      type: Object,
      default: null
    }

  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss" scoped>
.info-text{
  font-size: 2rem;
  font-weight: 600;
}

.label-text{
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}
</style>
