<template>
  <div>
    <v-data-table
      :v-bind="$attrs"
      :items="dataItems"
      :headers="tableHeader"
      hide-default-header
      :loading="loading"
      :page.sync="pageValue"
      :items-per-page.sync="perPageValue"
      :server-items-length="totalData">
      <template #top>
        <div class="d-flex justify-space-between head-table pa-2">
          <div>
            {{ date | toDate }}
          </div>

          <div>
            $ {{ tansactionSummary.totalCollected.toFixed(2,0) | separator }}
          </div>
        </div>
      </template>

      <template #[`item.detail`]="{ item }">
        <div class=" d-flex">
          <TransactionSideBar
            :drawer="true"
            :item-info="item"
            @refunded="refunded"
            @click:item="$emit('detail', $event)" />
        </div>
      </template>

      <template #[`item.txn`]="{ item }">
        #{{ item.txn }}
      </template>

      <template #[`item.openDate`]="{ item }">
        {{ item.openDate | to12Hours }}
      </template>

      <template #[`item.cardType`]="{ item }">
        <div
          v-if="item.paymentMethod !== 'CREDIT' && item.paymentMethod !== 'DEBIT'"
          class="text-center">
          {{ item.paymentMethod | paymentMethodFilter }}
        </div>
        <div
          v-else
          class="d-flex justify-center align-center">
          <div class="mr-1">
            {{ item.paymentMethod }}
          </div>
          <img
            v-if="cardLogo(item.cardType)"
            :src="cardLogo(item.cardType)"
            height="25px"
            class="mr-1">
          <span
            v-else
            class="mr-1">{{ item.cardType }}</span>
          <span> {{ item.cardLastFour }} </span>
        </div>
      </template>

      <template #[`item.tipAction`]="{ item }">
        <div v-if="item.type === 'credit' || item.type === 'debit'">
          <div class="d-flex">
            <TipsModal :tips="item.tips" />
          </div>
        </div>
      </template>

      <template #[`item.transactionStatus`]="{ item }">
        <v-chip
          :color="orderStatusColor(item.transactionStatus)"
          :ripple="false"
          dark>
          {{ item.transactionStatus }}
        </v-chip>
      </template>

      <template #[`item.paymentStatus`]="{ item }">
        <v-chip
          :color="paymentStatusColor(item.paymentStatus)"
          dark>
          {{ item.paymentStatus }}
        </v-chip>
      </template>

      <template #[`item.tips`]="{ item }">
        <div>
          Tips : $ {{ item.tips.toFixed(2,0) | separator }}
        </div>
      </template>

      <template #[`item.totalPaid`]="{ item }">
        <div>
          $ {{ item.totalPaid.toFixed(2,0) | separator }}
        </div>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import utc from 'dayjs/plugin/utc'
import timezone from 'dayjs/plugin/timezone'
import store from '@/store'
import TransactionSideBar from './TransactionSideBar.vue'
import TipsModal from './TipsModal.vue'

dayjs.extend(utc)
dayjs.extend(timezone)

const timeZone = store.getters['User/timeZone']

export default {
  components: {
    TipsModal,
    TransactionSideBar
  },
  filters: {
    toDate (val) {
      if (!val) return '-'
      return dayjs(val).format('dddd, MMMM D, YYYY')
    },
    toOrderStatusText (status) {
      switch (status) {
      case 'ready':
        return 'Ready'
      case 'inProcess':
        return 'In Process'
      case 'completed':
        return 'Completed'
      default:
        return '-'
      }
    },
    toPaymentStatusText (status) {
      switch (status) {
      case 'PAID':
        return 'PAID'
      case 'REFUNDED':
        return 'REFUNDED'
      case 'VOID':
        return 'VOID'
      default:
        return '-'
      }
    },
    to12Hours (time) {
      if (!time) return '-'

      return dayjs(time).tz(timeZone).format('hh:mmA')
    },
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    date: {
      type: [String, Date],
      default: new Date()
    },
    dataItems: { type: Array, default: () => [] },
    loading: { type: Boolean, default: true },
    tansactionSummary: {
      type: Object,
      default: null
    },
    page: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      required: true
    },
    totalData: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      tableHeader: [
        {
          text: 'txn',
          align: 'start',
          sortable: false,
          value: 'txn'
        },
        {
          text: '',
          align: 'start',
          sortable: false,
          value: 'cardType'
        },
        {
          text: '',
          align: 'center',
          sortable: false,
          value: 'openDate'
        },
        { text: '',
          align: 'start',
          sortable: false,
          value: 'detail'
        },

        { text: '',
          align: 'start',
          sortable: false,
          value: 'transactionStatus'
        },
        { text: '',
          align: 'start',
          sortable: false,
          value: 'paymentStatus'
        },
        { text: '',
          align: 'start',
          sortable: false,
          value: 'tips'
        },

        { text: '',
          align: 'start',
          sortable: false,
          value: 'tipAction'
        },
        { text: '',
          align: 'end',
          sortable: false,
          value: 'totalPaid'
        }
      ]
    }
  },
  computed: {
    pageValue: {
      get () {
        return this.page
      },
      set (val) {
        this.$emit('update:page', val)
      }
    },
    perPageValue: {
      get () {
        return this.perPage
      },
      set (val) {
        if (val === -1) {
          this.$emit('update:per-page', this.totalData)
        } else {
          this.$emit('update:per-page', val)
        }
      }
    }
  },
  methods: {
    refunded () {
      this.$emit('refunded')
    },
    cardLogo (card) {
      switch (card) {
      case 'VISA':
        // eslint-disable-next-line global-require
        return require('@/assets/visa-logo.png')
      case 'MASTERCARD':
        // eslint-disable-next-line global-require
        return require('@/assets/mastercard-logo.png')
      case 'DISCOVER':
        // eslint-disable-next-line global-require
        return require('@/assets/discover-logo.png')
      case 'CREDIT':
        // eslint-disable-next-line global-require
        return require('@/assets/american-logo.png')
      case 'APPLYPAY':
        // eslint-disable-next-line global-require
        return require('@/assets/apple-pay-logo.png')
      default:
        return null
      }
    },
    paymentStatusColor (status) {
      switch (status) {
      case 'PAID':
        return 'green'
      case 'REFUNDED':
        return 'amber'
      case 'VOID':
        return 'red'
      default:
        return 'red'
      }
    },
    orderStatusColor (status) {
      switch (status) {
      case 'OPEN':
        return 'blue'
      case 'CLOSED':
        return 'green'

      default:
        return 'red'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.head-table{
  background-color: #B2CC53;
  color: rgb(63, 63, 63);
  font-weight: 600;
}

</style>
