<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edit Table Zone' : 'Create Table Zone' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions" />

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Zone Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              placeholder="Input Zone Name"
              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              :loading="processing"
              color="primary"
              class="mr-3"
              type="submit">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/table-zone')">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          small
          text
          v-bind="attrs"
          @click="alert.visible = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import TableZoneProvider from '@/resources/TableZoneProvider'

const tableZoneService = new TableZoneProvider()
export default {
  name: 'TableAddPage',
  data () {
    return {
      loading: false,
      form: {
        name: ''
      },
      processing: false,
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      }
    }
  },
  computed: {
    zoneId () {
      return this.$route?.params?.zoneId || null
    },
    isUpdate () {
      return !!this.zoneId
    }
  },
  mounted () {
    if (this.isUpdate) {
      this.getTableZoneInfo()
    }
  },
  methods: {
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },
    submit () {
      if (this.isUpdate) {
        return this.updateTableZone()
      }

      return this.createTableZone()
    },

    async updateTableZone () {
      try {
        this.processing = true
        await tableZoneService.updateTableZone(this.zoneId, {
          name: this.form.name
        })

        this.$router.push('/table-zone')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async createTableZone () {
      try {
        this.processing = true
        await tableZoneService.createTableZone({
          name: this.form.name
        })

        this.$router.push('/table-zone')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getTableZoneInfo () {
      try {
        this.loading = true
        const { data } = await tableZoneService.getTableZoneById(this.zoneId)

        this.form.name = data.name || '-'
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
