<template>
  <v-form
    ref="form"
    v-model="valid"
    class="mt-10"
    @submit.prevent="submit()">
    <v-row class="align-center mt-10">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Package
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        <v-select
          v-if="!editMode"
          :value="packageId"
          :rules="[notEmptyRule]"
          :items="packageList"
          item-text="name"
          item-value="id"
          class="text-capitalize"
          placeholder="Choose Package"
          outlined
          dense
          hide-details
          @input="updateInput('packageId', $event)" />
      </v-col>
    </v-row>
    <v-row
      v-if="!isFree"
      class="align-center mt-10">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Plan
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        <v-select
          :value="paymentPlan"
          :rules="[notEmptyRule]"
          :items="planList"
          placeholder="Choose Plan"
          class="text-capitalize"
          outlined
          dense
          hide-details
          @input="updateInput('paymentPlan', $event)" />
      </v-col>
    </v-row>
    <v-row class="align-center mt-10">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
        Quantity
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="7">
        <div class="mr-3">
          <v-text-field
            :value="quantity"
            :rules="[notEmptyRule]"
            type="number"
            placeholder="Input quantity"
            hide-details
            dense
            outlined
            @input="updateInput('quantity', $event)" />
        </div>
      </v-col>
    </v-row>
    <v-row class="align-center mt-10">
      <v-col
        cols="12"
        sm="2"
        class="labe-text px-0 py-0">
      </v-col>
      <v-col
        cols="12"
        class="px-0 py-0 d-flex align-center"
        sm="6">
        <v-btn
          :disabled="!valid"
          :loading="submitting"
          elevation="0"
          color="primary"
          class="mr-3"
          type="submit">
          save
        </v-btn>
        <v-btn
          :disabled="submitting"
          elevation="0"
          color="primary"
          outlined
          class="ml-3"
          to="/subscription">
          cancel
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
export default {
  name: 'SubscriptionForm',
  props: {
    packageId: {
      type: String,
      default: ''
    },
    paymentPlan: {
      type: String,
      default: ''
    },
    quantity: {
      type: [String, Number],
      default: null
    },
    packageList: {
      type: Array,
      default: () => ([])
    },
    editMode: {
      type: Boolean,
      default: false
    },
    submitting: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      valid: false,
      planList: [
        'MONTHLY',
        'YEARLY'
      ]
    }
  },
  computed: {
    notEmptyRule () {
      return (v) => !!v || 'Required'
    },
    isFree () {
      const packageInfo = this.packageList.find((p) => p.id === this.packageId)
      if (packageInfo) {
        return packageInfo.isFree
      }
      return false
    }
  },
  methods: {
    updateInput (name, value) {
      this.$emit('update:input', { name, value })
    },
    async submit () {
      const valid = await this.$refs.form.validate()
      if (!valid) return
      this.$emit('submit')
    }
  }
}
</script>
