<template>
  <div>
    <v-card class="my-card px-8 py-3">
      <h3>
        Monthly Bill
      </h3>

      <v-data-table
        :headers="monthlyBillHeader"
        :items="monthlyBillData"
        items-per-page="5">
        <template #[`item.invoiceDate`]="{item}">
          {{ item.invoiceDate | toDate }}
        </template>

        <template #[`item.dueDate`]="{item}">
          {{ item.dueDate | toDate }}
        </template>

        <template #[`item.period`]="{item}">
          {{ item.period.startDate | toDate }} -  {{ item.period.endDate | toDate }}
        </template>

        <template #[`item.receipt`]="{item}">
          <div class="d-flex">
            <v-btn
              v-if="item.receipt"
              text
              small
              color="primary"
              @click="printReceipt(item.id)">
              Download
            </v-btn>

            <div
              v-else
              class="grey--text">
              Waiting for billing
            </div>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('DD/MM/YYYY')
    }
  },
  data () {
    return {
      monthlyBillHeader: [{
        text: 'Billing ID',
        value: 'id'
      },
      {
        text: 'Period',
        value: 'period'
      },
      {
        text: 'Invoice Date',
        value: 'invoiceDate'
      },
      {
        text: 'Due Date',
        value: 'dueDate'
      },
      {
        text: 'Receipt',
        value: 'receipt'
      }],
      monthlyBillData: [
        {
          id: 'B0010313142',
          invoiceDate: '2022-01-11',
          dueDate: '2022-01-11',
          period: {
            startDate: '2022-06-01',
            endDate: '2022-06-30'
          },
          receipt: null
        },
        {
          id: 'B0010313143',
          invoiceDate: '2022-01-11',
          dueDate: '2022-01-11',
          period: {
            startDate: '2022-06-01',
            endDate: '2022-06-30'
          },
          receipt: 'www.google.com'
        }, {
          id: 'B0010313144',
          invoiceDate: '2022-01-11',
          dueDate: '2022-01-11',
          period: {
            startDate: '2022-06-01',
            endDate: '2022-06-30'
          },
          receipt: 'www.google.com'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
