<template>
  <component
    :is="layout.component"
    :class="`layout-${layout.name}`" />
</template>

<script>
export default {
  name: 'App',
  computed: {
    layout () {
      const layout = this.$route?.meta?.layout?.toLowerCase() || 'default'
      return {
        name: layout,
        component: () => import(`@/layouts/${layout}.vue`)
      }
    }
  },
  mounted () {
    if (process.env.NODE_ENV !== 'development' && window.location.protocol !== 'https:') {
      window.location.replace(`https:${window.location.href.substring(window.location.protocol.length)}`)
    }
  }
}
</script>

<style lang="scss">

.modal-head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.modal-text-content{
  color: #686767;
}
.my-btn:hover{
cursor: pointer;
}

.my-card {
  border-radius: 8px !important;
}
.table-card {
  margin-top: 15px;
  overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

</style>
