<template>
  <div>
    <div>
      <v-data-table
        :headers="tableHeader"
        hide-default-footer
        :items="items">
        <template #[`item.startTime`]="{item}">
          {{ $todate.mmddyyyytt( item.startTime ) }}
        </template>

        totalCashSales
        <template #[`item.endTime`]="{item}">
          {{ $todate.mmddyyyytt( item.endTime ) }}
        </template>

        <template #[`item.totalCashSales`]="{item}">
          $ {{ $seperator.separate( item.totalCashSales.toFixed(2)) }}
        </template>

        <template #[`item.cashIn`]="{item}">
          $ {{ $seperator.separate( item.cashIn.toFixed(2)) }}
        </template>

        <template #[`item.expectedAmount`]="{item}">
          $ {{ $seperator.separate( item.expectedAmount.toFixed(2)) }}
        </template>

        <template #[`item.actualAmount`]="{item}">
          $ {{ $seperator.separate( item.actualAmount.toFixed(2)) }}
        </template>

        <template #[`item.difference`]="{item}">
          $ {{ $seperator.separate( item.difference.toFixed(2)) }}
        </template>

        <template #[`item.cashDrawerStatus`]="{item}">
          <v-btn
            text
            :to="`/cash-drawer/${item.id}/activity`">
            {{ item.cashDrawerStatus }}
          </v-btn>
        </template>
      </v-data-table>
    </div>
    <div class="d-flex justify-end mt-2">
      <v-pagination
        v-model="pageComputed"
        :length="allPages">
      </v-pagination>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    page: {
      type: Number,
      default: 1
    },
    allPages: {
      type: Number,
      default: 1
    }
  },
  data () {
    return {
      tableHeader: [
        {
          text: 'Start Time',
          value: 'startTime'
        },
        {
          text: 'End Time',
          value: 'endTime'
        },
        {
          text: 'Total Cash Sales',
          value: 'totalCashSales'
        },
        {
          text: 'Cash In',
          value: 'cashIn'
        },
        {
          text: 'Expected Amount',
          value: 'expectedAmount'
        },
        {
          text: 'Actual Amount',
          value: 'actualAmount'
        },
        {
          text: 'Difference',
          value: 'difference'
        },
        {
          text: 'Status',
          value: 'cashDrawerStatus'
        }
      ]
    }
  },
  computed: {
    pageComputed: {
      get () {
        return this.page
      },
      set (val) {
        this.$emit('update:page', val)
      }
    }
  }
}
</script>

<style>

</style>
