<template>
  <div>
    <v-row>
      <v-col

        cols="12"
        sm="3"
        class="d-flex align-center px-0 ">
        <div>
          <v-btn
            icon
            color="primary"
            @click="previousMonth">
            <v-icon>
              mdi-chevron-left
            </v-icon>
          </v-btn>
        </div>
        <div class="d-flex justify-center mx-5">
          <div>
            {{ $todate.mmyyyy(form.startDate) }} -
            {{ $todate.mmyyyy(form.endDate) }}
          </div>
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-width="500"
            offset-y>
            <template #activator="{ on, attrs }">
              <v-btn
                small
                color="black"
                dark
                icon
                v-bind="attrs"
                v-on="on">
                <v-icon
                  small
                  right>
                  mdi-chevron-down
                </v-icon>
              </v-btn>
            </template>

            <v-card class="pa-5">
              <v-list>
                <div class="d-flex align-center">
                  <v-text-field
                    v-model="form.startDate"
                    dense
                    hide-details
                    type="month"
                    outlined
                    color
                    @change="onChangeStartDate()" />
                  <div class="mx-5 title">
                    To
                  </div>
                  <v-text-field
                    v-model="form.endDate"
                    dense
                    hide-details
                    type="month"
                    outlined
                    color
                    @change="onChangeEndDate()" />
                </div>
              </v-list>
              <v-divider class="mt-3"></v-divider>

              <v-card-actions class="ma-0">
                <v-spacer></v-spacer>

                <v-btn
                  class="text-none"
                  text
                  @click="menu = false">
                  Cancel
                </v-btn>
                <v-btn
                  class="text-none"
                  color="primary"
                  text
                  @click="onSearch()">
                  Search
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-menu>
        </div>
        <div>
          <v-btn
            icon
            color="primary"
            @click="nextMonth">
            <v-icon>
              mdi-chevron-right
            </v-icon>
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  props: {
    startDate: {
      type: [Date, String],
      required: true
    },
    endDate: {
      type: [Date, String],
      required: true
    }
  },
  data () {
    return {
      menu: false,
      form: {
        startDate: dayjs().format('YYYY-MM'),
        endDate: dayjs().format('YYYY-MM')
      }
    }
  },
  computed: {
    startDateComputed: {
      get () {
        return this.startDate
      },
      set (val) {
        this.$emit('update:start-date', val)
        console.log(this.startDate)
      }
    },
    endDateComputed: {
      get () {
        return this.endDate
      },
      set (val) {
        this.$emit('update:end-date', val)
        console.log(this.endDate)
      }
    }
  },
  mounted () {
    this.form.startDate = dayjs(this.startDate).format('YYYY-MM')
    this.form.endDate = dayjs(this.endDate).format('YYYY-MM')
  },
  methods: {
    onChangeStartDate () {
      this.startDateComputed = dayjs(this.form.startDate).startOf('months').toISOString()
    },
    onChangeEndDate () {
      this.endDateComputed = dayjs(this.form.endDate).endOf('months').set('second', 59)
        .set('millisecond', 59)
        .toISOString()
    },
    nextMonth () {
      this.startDateComputed = dayjs(this.startDate).add(1, 'months').toISOString()
      this.endDateComputed = dayjs(this.endDate).endOf('months').set('second', 59)
        .set('millisecond', 59)
        .add(1, 'months')
        .toISOString()
      this.form.startDate = dayjs(this.startDate).format('YYYY-MM')
      this.form.endDate = dayjs(this.endDate).format('YYYY-MM')
    },
    previousMonth () {
      this.startDateComputed = dayjs(this.startDate).subtract(1, 'months').toISOString()
      this.endDateComputed = dayjs(this.endDate).endOf('months').set('second', 59)
        .set('millisecond', 59)
        .subtract(1, 'months')
        .toISOString()
      this.form.startDate = dayjs(this.startDate).format('YYYY-MM')
      this.form.endDate = dayjs(this.endDate).format('YYYY-MM')
    },
    onSearch () {
      this.menu = false
      this.$emit('filter-cash-drawer')
    }
  }
}
</script>

<style>

</style>
