<template>
  <div>
    <v-card class="my-card pa-8">
      <div
        v-if="isHaveMid"
        class="mt-5">
        <h3>Gateway Credentials</h3>

        <div v-if="loading">
          <v-skeleton-loader type="card-heading, card-heading, card-heading, button" />
        </div>

        <v-form
          v-else
          v-model="validForm"
          class="mt-5 px-10">
          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2">
              MID :
            </v-col>
            <v-col
              cols="12"
              sm="6">
              <v-text-field
                v-model="form.mid"
                :rules="formValidate.required"
                dense
                outlined
                hide-details />
            </v-col>
          </v-row>
          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="2">
              Username :
            </v-col>
            <v-col
              cols="12"
              sm="6">
              <v-text-field
                v-model="form.username"
                :rules="formValidate.username"
                dense
                outlined
                hide-details />
            </v-col>
          </v-row>
          <v-row class="ma-0 align-center">
            <v-col

              cols="12"
              sm="2">
              Password :
            </v-col>
            <v-col
              cols="12"
              sm="6">
              <v-text-field
                v-model="form.password"
                :rules="formValidate.password"
                :type="isPassword ? 'password' : 'text' "
                :append-icon="isPassword ? 'mdi-eye' : 'mdi-eye-off'"
                name="password"
                maxlength="24"
                outlined
                dense
                @click:append="toggleIsPassword()" />
            </v-col>
          </v-row>
          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="3"
              class="d-flex justify-space-between align-center">
              <div>
                Convenience Fee :
              </div>
              <div>
                <v-switch
                  v-model="form.isConvenienceFee"
                  class="ma-0"
                  hide-details></v-switch>
              </div>
            </v-col>
          </v-row>
          <v-row
            v-if="form.isConvenienceFee"
            class="ma-0 align-center">
            <v-col
              cols="12"
              sm="3"
              class="">
              <v-text-field
                v-model.number="form.convenienceFee"
                type="number"
                hide-spin-buttons
                outlined
                dense
                hide-details
                prefix="$" />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center">
            <v-col
              cols="12"
              sm="3"
              class="d-flex justify-space-between align-center">
              <div>
                Service Charge :
              </div>
              <div>
                <v-switch
                  v-model="form.isServiceCharge"
                  class="ma-0"
                  hide-details></v-switch>
              </div>
            </v-col>
          </v-row>
          <v-row
            v-if="form.isServiceCharge"
            class="ma-0 align-center">
            <v-col
              cols="12"
              sm="3"
              class="">
              <v-text-field
                v-model.number="form.serviceCharge"
                type="number"
                hide-spin-buttons
                outlined
                dense
                hide-details
                prefix="%" />
            </v-col>
          </v-row>

          <v-row class="ma-0 align-center mt-5">
            <v-col
              cols="12"
              sm="2">
            </v-col>
            <v-col
              cols="12"
              sm="6">
              <v-btn
                class="text-none mr-2"
                color="primary"
                elevation="0"
                :loading="processing"
                :disabled="!validForm"
                @click="updatePaymentGateway">
                Save
              </v-btn>
              <v-btn
                outlined
                color="primary"
                class="text-none ml-2">
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </div>

      <div v-else-if="isSendApplied">
        <div>
          <h3>Merchant Account Status</h3>
        </div>
        <div v-if="loadingMerchantStatus">
          <v-skeleton-loader type="card-heading, card-heading, card-heading, button" />
        </div>
        <div
          v-else
          class="mt-5">
          <v-row>
            <v-col>Boarding Process Status:</v-col>
            <v-col><div>{{ coPilotStatus.boardingProcessStatusCd | boardingProcessStatusFilter }}</div></v-col>
          </v-row>
          <v-row>
            <v-col>Signature URL:</v-col>
            <v-col>
              <v-btn
                color="primary"
                :disabled="!coPilotStatus.signatureUrl"
                @click.prevent="openApplicationUrl">
                Link to CoPilot Application
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </div>

      <div v-else>
        <div>
          <h3>Payment Gateway Setting</h3>
        </div>
        <div class="mt-5 d-flex ">
          <ApplyMerchatModal @refresh="refreshAfterApply" />
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import PaymentGatewayProvider from '@/resources/PaymentGateway'
import ApplyMerchatModal from '../component/ApplyMerchatModal.vue'

const paymentGatewayService = new PaymentGatewayProvider()
export default {
  components: {
    ApplyMerchatModal
  },
  data () {
    return {
      convenienceFeeActive: false,
      serviceChargeActive: false,
      isPassword: true,
      loading: true,
      loadingMerchantStatus: true,
      processing: false,
      validForm: false,
      form: {
        mid: '',
        username: '',
        password: '',
        convenienceFee: 0.00,
        isConvenienceFee: false,
        serviceCharge: 0.00,
        isServiceCharge: false,
        midCoPilot: null,
        paymentStatus: false,
        isCoPilotApproved: false
      },
      formValidate: {
        username: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        required: [
          (val) => !!val || 'Required'
        ]
      },
      coPilotStatus: {
        signatureStatus: 'NOT_SENT',
        signatureUrl: null,
        boardingProcessStatusCd: 'OFS',
        gatewayBoardingStatus: 'NOT_BOARDED'
      }
    }
  },
  computed: {
    isHaveMid () {
      return this.form.mid
    },
    isSendApplied () {
      return this.form.midCoPilot
    },
    paymentStatus () {
      return this.form.paymentStatus
    }
  },
  mounted () {
    this.convenienceFeeDisplay()
    this.serviceChargeDisplay()
    this.getPaymentGateway()
  },
  methods: {
    async getMerchantStatus () {
      try {
        this.loadingMerchantStatus = true
        const { data } = await paymentGatewayService.getMerchantStatus()
        const { merchantStatus, signatureStatus } = data.merchant
        this.coPilotStatus = {
          signatureStatus: signatureStatus?.signatureStatusCd,
          signatureUrl: signatureStatus?.signatureUrl,
          gatewayBoardingStatus: merchantStatus?.gatewayBoardingStatusCd,
          boardingProcessStatusCd: merchantStatus?.boardingProcessStatusCd
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loadingMerchantStatus = false
      }
    },
    async updatePaymentGateway () {
      try {
        this.processing = true
        await paymentGatewayService.updatePaymentGateway({
          username: this.form.username,
          password: this.form.password,
          mid: this.form.mid,
          isConvenienceFee: this.form.isConvenienceFee,
          convenienceFee: this.form.convenienceFee,
          isServiceCharge: this.form.isServiceCharge,
          serviceCharge: this.form.serviceCharge
        })

        this.$notify.success('Update Success')
        this.getPaymentGateway()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    decodeBase64toString (text) {
      const decode = Buffer.from(text, 'base64').toString('utf-8')
      return decode
    },

    async getPaymentGateway () {
      try {
        this.loading = true
        const {
          data
        } = await paymentGatewayService.getPaymentGateway()
        let stringPassword = null
        if (data.password) {
          stringPassword = this.decodeBase64toString(data.password)
        }
        this.form = {
          ...data, password: stringPassword
        }
        if (this.form.midCoPilot && !this.form.mid) {
          this.getMerchantStatus()
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    toggleIsPassword () {
      this.isPassword = !this.isPassword
    },
    convenienceFeeDisplay () {
      this.form.convenienceFee = this.form.convenienceFee.toFixed(2, 0)
    },
    serviceChargeDisplay () {
      this.form.serviceCharge = this.form.serviceCharge.toFixed(2, 0)
    },
    refreshAfterApply () {
      this.convenienceFeeDisplay()
      this.serviceChargeDisplay()
      this.getPaymentGateway()
    },
    openApplicationUrl () {
      window.open(this.coPilotStatus.signatureUrl, '_blank')
    }
  }
}
</script>

<style lang="scss">

</style>
