<template>
  <div>
    <v-card class="my-card pa-8">
      <div v-if="loading">
        <v-skeleton-loader type="heading,list-item,list-item,actions" />
      </div>
      <div v-else>
        <div class="d-flex">
          <div>
            <h3>Catering Setting</h3>
          </div>

          <div class="mx-5">
            <v-switch
              v-model="form.isActive"
              class="ma-0"
              @change="handleSwitchOff"></v-switch>
          </div>
        </div>

        <div
          v-if="form.isActive"
          class="mt-3">
          <v-form
            v-model="validForm"
            class="px-10">
            <v-row class="ma-0 align-center">
              <v-col
                style="font-weight:600"
                cols="12"
                sm="3">
                Deposit <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model.number="form.deposit"
                  :rules="formValidate.required"
                  dense
                  hide-spin-buttons
                  outlined
                  hide-details
                  type="number"
                  suffix="%"
                  @change="depositDisplay" />
              </v-col>
            </v-row>
            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3"
                style="font-weight:600">
                Minimum Delivery Time <span class="red--text">*</span>
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-text-field
                  v-model.number="form.minimumDeliveryTime"
                  :rules="formValidate.required"
                  type="number"
                  hide-spin-buttons
                  dense
                  outlined
                  hide-details
                  suffix="days" />
              </v-col>
            </v-row>

            <v-row class="ma-0 align-center">
              <v-col
                cols="12"
                sm="3">
              </v-col>
              <v-col
                cols="12"
                sm="6">
                <v-btn
                  class="text-none mr-2"
                  color="primary"
                  elevation="0"
                  :disabled="!validForm"
                  :loading="processing"
                  @click="updateCatering">
                  Save
                </v-btn>
                <v-btn
                  outlined
                  color="primary"
                  class="text-none ml-2"
                  @click="$router.go(-1)">
                  Cancel
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import CateringProvider from '@/resources/CateringProvider'

const cateringService = new CateringProvider()
export default {
  components: {

  },
  data () {
    return {
      form: {
        deposit: 0.00,
        minimumDeliveryTime: 0,
        isActive: false
      },
      loading: true,
      processing: false,
      validForm: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  mounted () {
    this.getCatering()
  },
  methods: {
    handleSwitchOff () {
      if (!this.form.isActive) {
        this.updateCatering()
      }
    },
    async updateCatering () {
      try {
        this.processing = true
        await cateringService.updateCatering({
          deposit: +this.form.deposit,
          isActive: this.form.isActive,
          minimumDeliveryTime: +this.form.minimumDeliveryTime
        })

        this.$notify.success('Update Success')
        this.getCatering()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getCatering () {
      try {
        this.loading = true
        const { data } = await cateringService.getCatering()
        this.form = data

        this.depositDisplay()
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    depositDisplay () {
      if (!this.form.deposit) {
        this.form.deposit = 0.00
      }
      this.form.deposit = this.form.deposit.toFixed(2, 0)
    }
  }
}
</script>

<style lang="scss">

</style>
