<template>
  <v-app>
    <NavigationDrawer
      :open.sync="openDrawerComputed"
      :is-mobile="isMobile" />
    <AppBar
      :open.sync="openDrawerComputed"
      :is-mobile="isMobile" />

    <v-main id="main-content">
      <router-view class="content" />
      <RegisterRestaurant
        :show-register="!isShowRegisteredProfile"
        @submited="submited" />
    </v-main>
  </v-app>
</template>

<script>
import AppBar from '@/components/AppBar.vue'
import NavigationDrawer from '@/components/NavigationDrawer.vue'
import RegisterRestaurant from '@/components/RestaurantRegister.vue'
import store from '@/store'
import RestaurantProvider from '@/resources/RestaurantProvider'

const restaurantService = new RestaurantProvider()

export default {
  name: 'DefaultLayout',
  components: {
    AppBar,
    NavigationDrawer,
    RegisterRestaurant
  },
  data () {
    return {
      openDrawer: false
    }
  },
  computed: {
    isShowRegisteredProfile () {
      const restaurantData = store.getters['User/restaurantData']

      return !!restaurantData.id
    },
    isMobile () {
      return this.$vuetify.breakpoint.mobile
    },
    openDrawerComputed: {
      get () {
        if (!this.isMobile) {
          return true
        }
        return this.openDrawer
      },
      set (val) {
        if (!this.isMobile) {
          this.openDrawer = true
        }
        this.openDrawer = val
      }
    }
  },

  mounted () {
    if (this.isShowRegisteredProfile) {
      this.getAvailableInfo()
    }
  },
  methods: {
    submited () {
      this.isShowRegisteredProfile = false
    },
    async getAvailableInfo () {
      const { data } = await restaurantService.getInfoAvailable()
      if (data) {
        this.$store.dispatch('Restaurant/setAvailable', data)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: 15px;
}
</style>
