<template>
  <div class="pa-2">
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item, list-item, list-item, list-item, list-item" />
    </div>

    <div v-else>
      <v-card
        elevation="0"
        class="pa-3">
        <v-row class="ma-0">
          <v-col class=" py-0">
            Orders
          </v-col>
          <v-col class="d-flex justify-end py-0">
            {{ orders }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Amount
          </v-col>
          <v-col class="d-flex justify-end py-0">
            {{ $seperator.localeString(amount) }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="py-0">
            Sales Tax
          </v-col>
          <v-col class="d-flex justify-end py-0">
            {{ $seperator.localeString(tax) }}
          </v-col>
        </v-row>
        <v-row class="ma-0 mt-2">
          <v-col class="font-weight-bold py-0">
            Total
          </v-col>
          <v-col class="d-flex justify-end font-weight-bold py-0">
            {{ $seperator.localeString(total) }}
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OrderAmountTaxReport',
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    orders: {
      type: Number,
      default: 0
    },
    amount: {
      type: Number,
      default: 0
    },
    tax: {
      type: Number,
      default: 0
    },
    total: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
