<template>
  <div class="d-flex">
    <canvas id="myChart"></canvas>
  </div>
</template>

<script>
import Chart from 'chart.js/auto'

export default {
  props: {
    dataInfo: {
      type: Object,
      required: true
    },
    labels: {
      type: Array,
      required: true
    },
    datasets: {
      type: Array,
      required: true
    },
    isChartUpdate: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      chartLables: [],
      myChart: null,
      loading: true
    }
  },
  computed: {

  },
  watch: {
    // labels () {
    //   return this.updateChart()
    // },
    // datasets () {
    //   console.log('update 156')
    //   return this.updateChart()
    // },
    isChartUpdate () {
      if (this.isChartUpdate) {
        return this.updateChart()
      }

      return null
    }

  },
  mounted () {
    this.createChart()
  },
  methods: {
    async updateChart () {
      const chart = this.myChart
      chart.data.labels = this.labels

      chart.data.datasets.data = this.datasets.data

      chart.update()

      return this.$emit('chartUpdated')
    },

    async createChart () {
      const data = this.dataInfo
      const config = {
        type: 'bar',
        data,
        options: {}
      }

      this.myChart = new Chart(
        document.getElementById('myChart'),
        config
      )
    }
  }
}
</script>

<style lang="
      scss"
      scoped>

</style>
