<template>
  <div class="pa-2">
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item" />
    </div>

    <div v-else>
      <v-card
        elevation="0"
        class="pa-3">
        <v-row class="ma-0">
          <v-col class=" py-0">
            Gross Sales
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $  {{ summaryInfo.gross.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Discount
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.discount.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="py-0">
            Refund
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.refund.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="font-weight-bold py-0">
            Net Sales
          </v-col>
          <v-col class="d-flex justify-end font-weight-bold py-0">
            $ {{ summaryInfo.net.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0 mt-2">
          <v-col class=" py-0">
            Tips
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.tips.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Service Charges
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.serviceCharges.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Convenience Fee
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.convenienceFee.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Sales Tax
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $ {{ summaryInfo.saleTax.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0">
            Alcohol Tax
          </v-col>
          <v-col class="d-flex   justify-end py-0">
            $ {{ summaryInfo.alcoholTax.toFixed(2) | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class=" py-0 font-weight-bold">
            Total
          </v-col>
          <v-col class="d-flex font-weight-bold justify-end py-0">
            $ {{ summaryInfo.total.toFixed(2) | separator }}
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    summaryInfo: {
      type: Object,
      default: null
    },
    reportType: {
      type: String,
      default: 'TODAY'
    },
    loading: {
      type: Boolean,
      default: true
    }

  },
  data () {
    return {
      expanded: [],
      page: 1,
      searchText: '',
      menuList: [],
      categoryList: [],
      filterCategory: ''

    }
  },
  computed: {
    // mainHeaders () {
    //   if (this.reportType === 'dateRange') {
    //     return this.dateRangeHeader()
    //   }
    //   return this.dailyHeader()
    // }
  },
  methods: {
    dateRangeHeader () {
      return [
        {
          text: 'Date',
          value: 'createdAt',
          align: 'start'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Net',
          value: 'total'
        },
        {
          text: '%',
          value: 'percent'
        }

      ]
    },
    dailyHeader () {
      return [
        {
          text: 'Menu',
          value: 'name',
          align: 'start'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Price',
          value: 'price'
        },
        {
          text: 'Total',
          value: 'total'
        },
        {
          text: '%',
          value: 'percent'
        },
        {
          text: '',
          value: 'action'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
