<template>
  <div class="pa-2">
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item" />
    </div>
    <div v-else>
      <v-card
        elevation="0"
        class="pa-3"
        height="100%">
        <v-divider></v-divider>
        <v-row class="ma-0 title-head ">
          <v-col class="d-flex justify-center">
            Third Party Name
          </v-col>
          <!-- <v-col class="d-flex justify-end">
            Orders
          </v-col> -->
          <v-col class="d-flex justify-end">
            Total
          </v-col>
          <!-- <v-col class="d-flex justify-end">
            Tax
          </v-col>
          <v-col class="d-flex justify-end">
            Tips
          </v-col> -->
        </v-row>
        <v-divider class="my-1"></v-divider>
        <v-row
          v-for="list in orderSummary"
          :key="list.name"
          style="font-size:0.9rem"
          class="ma-0 ">
          <v-col class=" text-capitalize py-0">
            {{ list.name }}
          </v-col>
          <!-- <v-col class="d-flex justify-end py-0">
            {{ list.orders }}
          </v-col> -->
          <v-col class="d-flex justify-end py-0">
            $  {{ list.total.toFixed(2,0) | separator }}
          </v-col>
          <!-- <v-col class="d-flex justify-end py-0">
            $  {{ list.tax.toFixed(2,0) | separator }}
          </v-col> -->
          <!-- <v-col class="d-flex justify-end py-0">
            $  {{ list.tips.toFixed(2,0) | separator }}
          </v-col> -->
        </v-row>
        <v-row

          style="font-size:0.9rem"
          class="ma-0 font-weight-bold">
          <v-col class=" text-capitalize py-0">
            Total
          </v-col>
          <!-- <v-col class="d-flex justify-end py-0">
            {{ totalOrders }}
          </v-col> -->
          <v-col class="d-flex justify-end py-0">
            $  {{ totalSummary.toFixed(2,0) | separator }}
          </v-col>
          <!-- <v-col class="d-flex justify-end py-0">
            $  {{ totalTax.toFixed(2,0) | separator }}
          </v-col>
          <v-col class="d-flex justify-end py-0">
            $  {{ totalTips.toFixed(2,0) | separator }}
          </v-col> -->
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    orderSummary: {
      type: Array,
      default: null
    },

    loading: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {

    }
  },
  computed: {
    totalSales () {
      let totalSales = 0
      for (const list of this.orderSummary) {
        totalSales += list.sales
      }
      return totalSales
    },
    totalTips () {
      let total = 0
      for (const list of this.orderSummary) {
        total += list.tips
      }
      return total
    },
    totalTax () {
      let total = 0
      for (const list of this.orderSummary) {
        total += list.tax
      }
      return total
    },
    totalOrders () {
      let total = 0
      for (const list of this.orderSummary) {
        total += list.orders
      }
      return total
    },
    totalSummary () {
      let total = 0
      for (const list of this.orderSummary) {
        total += list.total
      }
      return total
    }
  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
.title-head{
  color: gray;
  font-size: 12px;
  font-weight: 300;
}
</style>
