<template>
  <div>
    <v-card class="my-card pa-8">
      <section>
        <CashDrawerFilter
          :start-date.sync="filter.startDate"
          :end-date.sync="filter.endDate"
          @filter-cash-drawer="getCashDrawers()" />
      </section>

      <section class="mt-10">
        <div v-if="loading">
          <v-skeleton-loader type="heading, list-item, list-item, actions" />
        </div>
        <CashDrawerTable
          v-else
          :page="page"
          :all-pages="allPages"
          :items="cashDrawerItems" />
      </section>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import CashDrawerProvider from '@/resources/CashDrawerProvider'
import CashDrawerFilter from '../components/cashDrawerFilter.vue'
import CashDrawerTable from '../components/cashDrawerTable.vue'

const CashDrawerService = new CashDrawerProvider()

export default {
  components: {
    CashDrawerFilter,
    CashDrawerTable
  },
  data () {
    return {
      loading: false,
      filter: {
        startDate: dayjs().startOf('months').subtract(1, 'months').toISOString(),
        endDate: dayjs().endOf('months').set('second', 59).set('millisecond', 59)
          .toISOString()
      },
      cashDrawerItems: [],
      allPages: 1,
      page: 1
    }
  },
  async mounted () {
    await this.getCashDrawers()
  },
  methods: {
    async getCashDrawers () {
      try {
        this.loading = true
        const { data } = await CashDrawerService.getCashDrawers(this.filter.startDate, this.filter.endDate)
        this.cashDrawerItems = data.results
        this.page = data.page
        this.allPages = data.pages
        console.log(this.cashDrawerItems)
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>

</style>
