<template>
  <div>
    <v-card class="my-card pa-8">
      <v-row class="ma-0 ">
        <v-col
          class="title py-0 d-flex"
          cols="12"
          sm="2">
          <div>
            <v-btn
              to="/cash-drawer"
              icon
              text
              color="primary">
              <v-icon>
                mdi-chevron-left
              </v-icon>
            </v-btn>
          </div>

          Cash Activity
        </v-col>
        <v-col
          class=" py-0 d-sm-flex align-center"
          cols="12"
          sm="4">
          <div class="title primary--text">
            Start Time :
          </div>
          <div class="mx-3 title">
            {{ $todate.mmddyyyytt(information.startDate) }}
          </div>
        </v-col>
        <v-col
          class=" py-0 d-sm-flex align-center"
          cols="12"
          sm="4">
          <div class="title primary--text">
            End Time :
          </div>
          <div class="mx-3 title">
            {{ $todate.mmddyyyytt(information.endDate) }}
          </div>
        </v-col>
        <v-col
          class=" py-0 d-flex justify-end"
          cols="12"
          sm="2">
          <v-chip color="primary">
            {{ information.cashDrawerStatus }}
          </v-chip>
        </v-col>
      </v-row>

      <section class="mt-5">
        <v-data-table
          hide-default-footer
          :items-per-page="-1"
          :items="activity"
          :headers="tableHeader">
          <template #[`item.date`]="{item}">
            {{ $todate.mmddyyyytt( item.date) }}
          </template>

          <template #[`item.action`]="{item}">
            {{ item.action | cashAction }}
          </template>

          <template #[`item.amount`]="{item}">
            $  {{ $seperator.separate( item.amount.toFixed(2)) }}
          </template>

          <template #footer>
            <v-row class="ma-0 bg-primary">
              <v-col
                cols="12"
                sm="4">
                <div>
                  Expected Amount : $ {{ $seperator.separate( information.expectedAmount.toFixed(2) ) }}
                </div>
              </v-col>
              <v-col
                cols="12"
                sm="4"
                class="d-sm-flex justify-center">
                <div>
                  Actual Amount :  $ {{ $seperator.separate( information.actualAmount.toFixed(2) ) }}
                </div>
              </v-col>
              <v-col
                cols="12"
                sm="4">
                <div
                  class="d-sm-flex justify-end">
                  Difference Amount :  $ {{ $seperator.separate( information.differenceAmount.toFixed(2) ) }}
                </div>
              </v-col>
            </v-row>
          </template>
        </v-data-table>
      </section>
    </v-card>
  </div>
</template>

<script>
import CashDrawerProvider from '@/resources/CashDrawerProvider'
import dayjs from 'dayjs'

const CashDrawerService = new CashDrawerProvider()
export default {
  data () {
    return {
      loading: false,
      tableHeader: [
        {
          text: 'Date',
          value: 'date'
        },
        {
          text: 'Action',
          value: 'action'
        }, {
          text: 'Amount',
          value: 'amount'
        }, {
          text: 'User',
          value: 'user'
        },
        {
          text: 'Comment',
          value: 'comment'
        }
      ],
      information: {
        startDate: new Date(),
        endDate: new Date(),
        expectedAmount: 0,
        actualAmount: 0,
        differenceAmount: 0,
        cashDrawerStatus: 'OPEN'
      },
      activity: []
    }
  },
  computed: {
    cashDrawerId () {
      return this.$route.params?.cashDrawerId
    }
  },
  async mounted () {
    this.getActivity()
  },
  methods: {
    async getActivity () {
      try {
        this.loading = true
        const { data } = await CashDrawerService.getCashActivity(this.cashDrawerId)
        this.information = {
          startDate: dayjs(data.startTime).toDate(),
          endDate: data.endTime ? dayjs(data.endTime).toDate() : null,
          expectedAmount: data.expectedAmount,
          actualAmount: data.actualAmount,
          differenceAmount: data.difference,
          cashDrawerStatus: data.cashDrawerStatus
        }
        this.activity = data.activity
        console.log(data)
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style>

</style>
