<template>
  <div>
    <div v-if="loading">
      loading ....
    </div>

    <v-card
      v-else
      class="pa-5 rounded-lg">
      <h3>Enable/Disable Mobile Ordering</h3>
      <div>
        When enabled, users will be able to see this location on the mobile app and online ordering.
        To allow users to place an order from this location, you must at least have one fulfillment integration enabled.
      </div>

      <div>
        <v-switch
          v-model="form.isMoblieOrdering"
          @change="updateIsMobileOrdering"></v-switch>
      </div>
    </v-card>
  </div>
</template>

<script>
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'
import _ from 'lodash'

const tthaiAppSettingService = new TthaiAppSettingProvider()

export default {
  props: {
    isMobileOrdering: {
      type: Boolean,
      default: false
    },
    loading: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      form: {
        isMoblieOrdering: false
      }
    }
  },
  mounted () {
    this.form.isMoblieOrdering = _.cloneDeep(this.isMobileOrdering)
  },
  methods: {
    async updateIsMobileOrdering () {
      try {
        this.processing = true
        await tthaiAppSettingService.updateIsMobileOrdering({
          isMobileOrdering: this.form.isMoblieOrdering
        })
        this.$notify.success('Update Success')
        this.$emit('updated')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
