<template>
  <div>
    <h3>
      Enable/Disable Special Instructions
    </h3>

    <div>
      When enabled, customers will be able to add special instructions to an item and/or orders at this location.
      (This setting will not affect other locations.)
    </div>

    <div class="mt-5">
      <label>
        Item Special Instructions
      </label>

      <v-switch
        v-model="form.isItemSpecialInstructions"
        @change="updateIsItemSpecialInstructions"></v-switch>
    </div>
  </div>
</template>

<script>
import TthaiAppSettingProvider from '@/resources/TthaiAppSettingProvider'

const tthaiAppSettingService = new TthaiAppSettingProvider()
export default {
  props: {
    isItemSpecialInstructions: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      form: {
        isItemSpecialInstructions: false
      }
    }
  },
  mounted () {
    this.form.isItemSpecialInstructions = this.$clone.clone(this.isItemSpecialInstructions)
  },
  methods: {
    async updateIsItemSpecialInstructions () {
      try {
        this.processing = true
        await tthaiAppSettingService.updateItemSpecialInstructions({
          isItemSpecialInstructions: this.form.isItemSpecialInstructions
        })

        this.$notify.success('Update Success')
        this.$emit('updated')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
