<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edit Menu' : 'Create Menu' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions" />

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit()">
        <v-row class=" mb-3">
          <div
            v-if="form.coverImage"
            class="d-flex mr-2">
            <div>
              <img
                class="menu-image"
                :src="form.coverImage"
                width="126px"
                height="126px"
                alt="menu image">
            </div>
            <div class="d-flex align-end">
              <BtnIcon
                color="red"
                icon-name="mdi-delete"
                icon-hover="mdi-delete-empty"
                small
                @click="removeImage()" />
            </div>
          </div>

          <div
            v-else
            class="">
            <v-file-input
              id="file-input"
              v-model="file"
              class="d-none"
              truncate-length="15"
              @change="upload" />
            <label
              v-if="!uploadingImage"
              for="file-input">
              <div class="d-flex my-file-input align-center pa-3 text-center">
                <div>
                  <div>
                    <v-icon
                      class="my-icon"
                      color="primary">mdi-plus-circle-outline</v-icon>
                  </div>
                  <div>
                    Add Menu Photo
                  </div>
                </div>
              </div>
            </label>

            <div
              v-if="uploadingImage"
              class="d-flex my-file-input-loading align-center pa-3 text-center">
              <div>
                <div>
                  Adding Menu Photo ...
                </div>
              </div>
            </div>
          </div>
        </v-row>
        <!-- <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Serial Number.
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.code"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              placeholder="Input Menu Name"
              dense
              outlined />
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-10  ">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Type  <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.category"
              :rules="formValidate.required"
              :items="menuCategoryList"
              menu-props="bottom, overflowY"
              class="text-capitalize"
              placeholder="Choose Menu Type"
              outlined
              multiple
              dense
              small-chips
              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Name <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons

              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Native Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.nativeName"
              hide-details
              hide-spin-buttons

              dense
              outlined />
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Description
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-textarea
              v-model.trim="form.description"
              hide-details
              hide-spin-buttons
              dense
              outlined></v-textarea>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Price  <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div class="">
              <v-text-field
                v-model.number="form.price"
                prefix="$"
                :rules="formValidate.required"
                placeholder="Price"
                hide-details
                dense
                type="number"
                outlined
                @change="pirceDisplay">
              </v-text-field>
            </div>
          </v-col>
        </v-row>

        <v-row
          v-if="isUpdate"
          class="align-center mt-8 ">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              type="submit"
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/menu')">
              cancel
            </v-btn>
          </v-col>
        </v-row>

        <v-divider class="my-10"></v-divider>

        <v-row class="mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0 d-flex align-center">
            Modifier
          </v-col>
          <v-col
            cols="12"
            sm="10"
            class="px-0 py-0 d-flex align-center">
            <div>
              <div
                v-for="(modifier ,i) in form.modifiers"
                :key="i"
                class="d-flex mb-2">
                <v-select
                  v-model="form.modifiers[i]"
                  :disabled="isUpdate"
                  class="mr-1"
                  :items="menuModifierOptions"
                  item-text="text"
                  item-value="value"
                  label="Option Name"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details></v-select>

                <BtnIcon
                  icon-name="mdi-delete"
                  icon-hover="mdi-delete-empty"
                  @click="removeModifier(i)" />
              </div>
              <div>
                <v-btn
                  text
                  color="primary"
                  class="text-none px-0 py-0"
                  @click="addModifierField()">
                  <v-icon small>
                    mdi-plus
                  </v-icon>
                  add Modifier
                </v-btn>
              </div>

              <div v-if="addMenuModifierList.length > 0">
                <span class="primary--text ">Add New List</span>

                <div
                  v-for="(list ,i) in addMenuModifierList"
                  :key="i"
                  class="d-flex mb-2 mt-2">
                  <v-select
                    v-model="addMenuModifierList[i]"
                    class="mr-1"
                    :items="menuModifierOptions"
                    label="Option Name"
                    :rules="formValidate.required"
                    outlined
                    dense
                    hide-details></v-select>

                  <BtnIcon
                    icon-name="mdi-delete"
                    icon-hover="mdi-delete-empty"
                    @click="removeAddMenuModiferList(i)" />
                </div>
              </div>
            </div>
          </v-col>
        </v-row>

        <v-row
          v-if="isUpdate"
          class="align-center mt-8 ">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3"
              @click="updateMenuModifier">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/menu')">
              cancel
            </v-btn>
          </v-col>
        </v-row>
        <v-divider class="my-10 "></v-divider>
        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="form.state"
                class="activeColor">Active</span>
              <span
                v-if="!form.state"
                class="suspendedColor">Disable</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="form.state"
                  dense
                  inset
                  color="#6FCF97"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row
          v-if="!isUpdate"
          class="align-center mt-8 pb-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              type="submit"
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/menu')">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          v-bind="attrs"
          small
          text
          @click="alert.visible = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>

import MenuProvider from '@/resources/MenuProvider'
import UploadProvider from '@/resources/UploadProvider'
import ModifierProvider from '@/resources/ModifierProvider'
import MenuModifierProvider from '@/resources/MenuModifierProvider'

const menuService = new MenuProvider()
const uploadService = new UploadProvider()
const modifierService = new ModifierProvider()
const menuModifierService = new MenuModifierProvider()
export default {
  name: 'MenuAddPage',
  data () {
    return {
      file: null,
      loading: false,
      uploadingImage: false,
      form: {
        name: '',
        nativeName: '',
        category: [],
        coverImage: null,
        imageUrls: [],
        modifiers: [],
        price: 0.0,
        position: 99999
      },
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      menuModifierOptions: [],
      menuCategoryList: [],
      processing: false,
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      },
      removeMenuModifierList: [],
      addMenuModifierList: [],
      menuModifierList: []
    }
  },
  computed: {
    menuId () {
      return this.$route?.params?.menuId || null
    },
    isUpdate () {
      return !!this.menuId
    }

  },
  mounted () {
    this.getMenuCategoryList()
    this.getMenuModifierList()
    if (this.isUpdate) {
      this.getMenuInfo()
    }

    this.form.price = this.form.price.toFixed(2, 0)
  },
  methods: {
    pirceDisplay () {
      this.form.price = this.form.price.toFixed(2, 0)
    },
    async menuModifierCreater (menuId, modifierId) {
      try {
        await menuModifierService.createMenuModifier({
          menuId,
          modifierId
        })
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      }
    },
    async menuModifiersDeleter (id) {
      try {
        await menuModifierService.deleteMenuModifier(id)
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      }
    },
    async updateMenuModifier () {
      try {
        this.processing = true

        // create new
        if (this.addMenuModifierList.length > 0) {
          const addPayload = this.addMenuModifierList.map((e) => ({
            modifierId: e
          }))
          await menuModifierService.addBulkMenuModifiers(this.menuId, { items: addPayload })
        }

        // remove
        if (this.removeMenuModifierList.length > 0) {
          const removePayload = this.removeMenuModifierList.map((e) => e.id)
          await menuModifierService.deleteBulkMenuModifier(this.menuId, { items: removePayload })
        }

        await this.getMenuCategoryList()
        await this.getMenuModifierList()
        await this.getMenuInfo()

        this.addMenuModifierList = []

        this.$notify.success('Update Success!!')
      } catch (err) {
        this.$notify.error('Update Error')
      } finally {
        this.processing = false
      }
    },
    async getMenuModifierList () {
      try {
        this.loading = true
        const { data } = await modifierService.getModifier({ page: 1, limit: 9999 })

        const list = data.results
        this.menuModifierList = list

        this.menuModifierOptions = this.menuModifierList.map((item) => ({
          text: item.label,
          value: item.id
        }))
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    },
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },
    removeImage () {
      this.form.coverImage = null
    },
    async upload () {
      try {
        this.uploadingImage = true
        const { data } = await uploadService.uploadFile(this.file)

        this.form.coverImage = data.public_url
        this.file = null
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.uploadingImage = false
      }
    },
    removeAddMenuModiferList (index) {
      this.addMenuModifierList.splice(index, 1)
    },
    removeModifier (index) {
      this.removeMenuModifierList.push(
        this.form.modifiers[index]
      )
      this.form.modifiers.splice(index, 1)
    },
    addToAddModifierList () {
      this.addMenuModifierList.push('')
    },
    addModifierField () {
      if (this.isUpdate) {
        this.addToAddModifierList()
      } else {
        this.form.modifiers.push('')
      }
    },
    submit () {
      if (this.isUpdate) {
        return this.updateMenu()
      }
      return this.createMenu()
    },
    async getMenuCategoryList () {
      try {
        this.loading = true
        const { data: { results } } = await menuService.getMenuCategory({
          limit: 999
        })

        this.menuCategoryList = results.map((item) => ({
          text: item.name,
          value: item.id
        }))
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    },
    async updateMenu () {
      try {
        this.processing = true
        await menuService.updateMenu(
          `${this.menuId}`,
          { ...this.form, price: +this.form.price }
        )

        this.getMenuInfo()
        this.getMenuCategoryList()
        this.getMenuModifierList()

        this.$notify.success('Update Success!!')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async createMenu () {
      try {
        this.processing = true
        await menuService.createMenu({ ...this.form, price: +this.form.price })

        this.$router.push('/menu')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async getMenuInfo () {
      try {
        this.loading = true
        const {
          data
        } = await menuService.getMenuById(this.menuId)
        const category = []
        for (const each of data.category) {
          category.push(
            each.id
          )
        }

        const resMenuModifierList = await menuService.getMenuModifierList(this.menuId)
        const MenuModifierList = resMenuModifierList.data
        this.menuModifierList = MenuModifierList
        const modifiers = MenuModifierList.map((e) => ({ id: e.id, text: e.label, value: e.modifierId }))
        this.form = {
          ...data,
          price: data.price.toFixed(2, 0),
          category,
          modifiers
        }
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu-image{
  width: 126px;
height: 126px;

border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
}

.my-file-input{
  background: #FFFFFF;
border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input-loading{
  background: #FFFFFF;
border: 1px solid #d1d1d1;
color:#d1d1d1 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input:hover{
  cursor: pointer;
  background-color: #B2CC53;
  color: white !important;
  transition-duration: 500ms;

  .my-icon{
    color: white !important;
    transition-duration: 500ms;
  }

}

</style>
