<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edit Menu Category' : 'Create Menu Category' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article, actions" />

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Name <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Description
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.description"

              hide-details
              hide-spin-buttons
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Show <span class="red--text">*</span>
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-switch
              v-model="form.isShow"
              hide-details
              class="ma-0"></v-switch>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-checkbox
              v-model="form.isContainAlcohol"
              class="ma-0"
              hide-details
              label="Contains Alcohol"></v-checkbox>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div>
              <v-checkbox
                v-model="form.isDisplayOnWebAndApp"
                class="ma-0"
                hide-details
                label="Show on Website/EatsZaab"></v-checkbox>

              <div
                v-if="form.isDisplayOnWebAndApp"
                class="pa-5">
                <div class="d-flex ">
                  <v-btn
                    color="primary"
                    text
                    class="text-none pa-0"
                    @click="selectedAllHours">
                    Select all
                  </v-btn>
                </div>
                <div
                  v-for="(openHour , k) in form.hours"
                  :key="k">
                  <div>
                    {{ openHour.label }}
                  </div>
                  <div class="pa-5">
                    <v-switch
                      v-model="openHour.isSelected"
                      class="ma-0"
                      hide-details
                      :label="`${$formatTime(openHour.opensAt)} - ${$formatTime(openHour.closesAt)}`"></v-switch>
                  </div>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3"
              type="submit">
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/menu-category">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          small
          text
          v-bind="attrs"
          @click="alert.visible = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import MenuProvider from '@/resources/MenuProvider'

const menuService = new MenuProvider()
export default {
  name: 'MenuAddPage',
  data () {
    return {
      loading: false,
      restaurantOpenHours: [],
      form: {
        name: '',
        isDisplayOnWebAndApp: false,
        hours: [],
        isContainAlcohol: false,
        isShow: false,
        position: 9999,
        description: ''
      },
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      tableTypeEnum: [
      ],
      processing: false,
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      }
    }
  },
  computed: {
    menuTypeId () {
      return this.$route?.params?.menuTypeId || null
    },
    isUpdate () {
      return !!this.menuTypeId
    }
  },
  mounted () {
    this.getMenuCategoryHour()
    if (this.isUpdate) {
      this.getMenuAttributeInfo()
    }
  },
  methods: {
    selectedAllHours () {
      for (const hour of this.form.hours) {
        hour.isSelected = true
      }
    },
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },
    submit () {
      if (this.isUpdate) {
        return this.updateMenuCategory()
      }

      return this.createMenuAttribute()
    },
    async getMenuCategoryHour () {
      try {
        this.loading = true
        const { data } = await menuService.getMenuCategoryHour()

        this.form.hours = data
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async updateMenuCategory () {
      try {
        this.processing = true
        await menuService.updateMenuCategory(
          this.menuTypeId,
          this.form
        )
        this.$notify.success('Update Success')
        this.$router.push('/menu-category')
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async createMenuAttribute () {
      try {
        this.processing = true
        await menuService.createMenuCategory({
          ...this.form
        })

        this.$router.push('/menu-category')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async getMenuAttributeInfo () {
      try {
        this.loading = true
        const { data } = await menuService.getMenuCategoryById(this.menuTypeId)

        this.form = data
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
