<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              placeholder="Search"
              dense
              hide-details
              @keydown.enter="getMenuAttributeList" />
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              class="text-none font-weight-light rounded-lg"
              height="40px"
              dark
              color="#1E2546"
              @click="getMenuAttributeList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end">
          <div class="d-md-none d-block">
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mr-2 mb-3"
              to="/menu-category/edit-position">
              <v-icon
                small
                left>
                mdi-square-edit-outline
              </v-icon>
              Edit Position
            </v-btn>
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mr-2 mb-3"
              to="/menu-category/add">
              <v-icon
                small
                left>
                mdi-plus-circle-outline
              </v-icon>
              Create Category
            </v-btn>
            <v-btn
              outlined
              color="primary"
              class="text-none  rounded-lg font-weight-light mb-3"
              @click="exportData">
              <v-icon
                small
                left>
                mdi-export-variant
              </v-icon>
              Export
            </v-btn>
          </div>

          <div class="d-none d-md-flex ">
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mr-2"
              to="/menu-category/edit-position">
              <v-icon
                small
                left>
                mdi-square-edit-outline
              </v-icon>
              Edit Position
            </v-btn>
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mr-2"
              to="/menu-category/add">
              <v-icon
                small
                left>
                mdi-plus-circle-outline
              </v-icon>
              Create Category
            </v-btn>
            <v-btn
              outlined
              color="primary"
              class="text-none  rounded-lg font-weight-light ml-2"
              @click="exportData">
              <v-icon
                small
                left>
                mdi-export-variant
              </v-icon>
              Export
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="table-card my-card">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="menuAttributeList"
        :items-per-page="10"
        class="elevation-0 menu"
        :page="page">
        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              @click="$router.push(`/menu-category/edit/${item.id}`)">
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>
            <MenuAttributeDeleteModal
              :attribute-info="item"
              @deleted="getMenuAttributeList" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { ExportToCsv } from 'export-to-csv'
import dayjs from 'dayjs'
import MenuProvider from '@/resources/MenuProvider'
import MenuAttributeDeleteModal from '../components/MenuAttibuteDeleteModal.vue'

const menuService = new MenuProvider()
export default {
  name: 'MenuAttributeSetting',
  components: {
    MenuAttributeDeleteModal
  },
  data () {
    return {
      searchText: '',
      page: 1,
      headers: [
        {
          text: 'Position',
          value: 'position',
          align: 'center'
        },
        {
          text: 'Menu Category',
          value: 'name'
        },
        {
          text: '',
          value: 'action'
        }
      ],
      menuAttributeList: [
      ],
      loading: true
    }
  },
  mounted () {
    this.getMenuAttributeList()
  },
  methods: {
    deletedAttribute () {
      this.getMenuAttributeList()
    },
    async exportData () {
      const data = this.menuAttributeList
      const exportData = []
      for (const each of data) {
        exportData.push({
          menuType: each.name,
          createdAt: dayjs(each.createdAt).format('DD-MM-YY'),
          createdBy: each.createdBy.username,
          description: each.description,
          isShow: each.isShow,
          isContainAlcohol: each.isContainAlcohol,
          isDisplayOnWebAndApp: each.isDisplayOnWebAndApp
        })
      }

      const options = {
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true,
        showTitle: true,
        title: 'Menu Attribute List',
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        filename: 'menu_attribute_list'
      }

      const csvExporter = new ExportToCsv(options)

      csvExporter.generateCsv(exportData)
    },

    async getMenuAttributeList () {
      try {
        const { data } = await menuService.getMenuCategory({
          limit: 999,
          search: this.searchText
        })
        this.menuAttributeList = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  height: 750px;
  overflow: auto;
}

.my-card {
  border-radius: 8px;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}
</style>
