<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="head-title d-flex mb-4 justify-space-between">
        <span>Update Position Menu Category</span>
        <div>
          <v-btn
            class="mr-1"
            :loading="loading"
            elevation="0"
            color="primary"
            @click="savePosition()">
            save
          </v-btn>
          <v-btn
            elevation="0"
            color="#FFFFFF"
            @click="cancelPosition()">
            cancel
          </v-btn>
        </div>
      </div>
      <PositionBox
        :items="items"
        image
        @fetch="getMenu()" />
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          v-bind="attrs"
          small
          text
          @click="setAlert()">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import PositionBox from '@/components/PositionBox.vue'
import MenuProvider from '@/resources/MenuProvider'

const menuService = new MenuProvider()

export default {
  name: 'MenuAttributePosition',
  components: { PositionBox },
  data () {
    return {
      loading: false,
      items: [],
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      },
      pagination: {
        page: 1,
        pages: 1,
        limit: 25,
        total: 0,
        finish: false
      }
    }
  },
  created () {
    this.getMenu()
  },
  methods: {
    async getMenu () {
      if (this.loading || this.pagination.finish) {
        return
      }
      try {
        this.loading = true
        const { data } = await menuService.getMenu({
          page: this.pagination.page++,
          limit: this.pagination.limit
        })
        this.pagination.pages = data.pages
        this.pagination.limit = data.limit
        this.pagination.total = data.total
        this.items.push(...data.results.map((item) => ({
          id: item.id,
          name: item.name,
          image: item.coverImage || ''
        })))
        if ((this.pagination.page - 1) === this.pagination.pages) {
          this.pagination.finish = true
        }
      } catch (err) {
        console.error(err)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async savePosition () {
      try {
        const payload = this.items.map((item, index) => ({
          id: item.id,
          position: index + 1
        }))
        await menuService.updateMenuPosition({ items: payload })

        this.$notify.success('Update Success!!')
        this.$router.push({ name: 'MenuList' })
      } catch (err) {
        console.error(err)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => null
        })
      }
    },
    cancelPosition () {
      this.$router.push({ name: 'MenuList' })
    },
    setAlert (visible = false, msg = '', color = 'primary') {
      this.alert.visible = visible
      this.alert.msg = msg
      this.alert.color = color
    }
  }
}
</script>

<style lang="scss" scoped>
.my-card {
  border-radius: 8px;
  height: calc(100vh - (64px + 30px));
  padding-bottom: 20px;
  overflow: auto;
}
.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
:deep(.draggable) {
  max-height: calc(100% - 54px);
}
</style>
