<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between">
        <v-col
          cols="12"
          sm="6"
          class="d-flex">
          <div class="d-sm-flex d-none">
            <div class="d-flex align-center my-search-input mr-2 ">
              <v-text-field
                v-model="searchText"
                placeholder="Search"
                dense
                hide-details
                @keydown.enter="getMenuList" />
            </div>

            <div class="d-flex align-center mx-2">
              <v-btn
                elevation="0"
                class="text-none font-weight-light rounded-lg"
                height="40px"
                dark
                color="#1E2546"
                @click="getMenuList">
                Search
              </v-btn>
            </div>

            <div class="d-flex align-center ml-2">
              <v-select
                v-model="filterCategory"
                color="#1E2546"
                class="rounded-lg"
                hide-details
                label="Menu Type"
                clearable
                outlined
                :items="categoryList"
                dense></v-select>
            </div>
          </div>

          <!-- mobile header -->
          <div class="d-sm-none  ">
            <div class="d-flex">
              <div class="d-flex align-center   ">
                <v-text-field
                  v-model="searchText"
                  placeholder="Search"
                  dense
                  hide-details
                  @keydown.enter="getMenuList" />
              </div>

              <div class="d-flex align-center mx-2">
                <v-btn
                  elevation="0"
                  class="text-none font-weight-light rounded-lg"
                  height="40px"
                  dark
                  color="#1E2546"
                  @click="getMenuList">
                  Search
                </v-btn>
              </div>
            </div>

            <div class="d-flex align-center mt-5 ">
              <v-select
                v-model="filterCategory"
                color="#1E2546"
                class="rounded-lg"
                hide-details
                label="Menu Type"
                clearable
                outlined
                :items="categoryList"
                dense></v-select>
            </div>
          </div>
          <!-- end mobile header -->
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end">
          <v-btn
            outlined
            height="35px"
            color="#1E2546"
            class="text-none font-weight-light rounded-lg mr-2"
            to="/menu/edit-position">
            <v-icon
              small
              left>
              mdi-square-edit-outline
            </v-icon>
            Edit Position
          </v-btn>
          <v-btn
            outlined
            height="35px"
            color="#1E2546"
            class="text-none font-weight-light rounded-lg mr-2"
            to="/menu/add">
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create Menu
          </v-btn>
          <v-btn
            outlined
            color="primary"
            class="text-none  rounded-lg font-weight-light ml-2"
            @click="exportData">
            <v-icon
              small
              left>
              mdi-export-variant
            </v-icon>
            Export
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="table-card my-card">
      <v-data-table
        :loading="loading"
        :headers="menuHeaders"
        :items="menuList"
        :items-per-page="5"
        :expanded.sync="expanded"
        item-key="name"
        class="elevation-0 table"
        :page="page">
        <!-- <template #expanded-item="{ headers, item }">
          <td
            :colspan="headers.length"
            class="px-5"
            style="background-color: white;">
            <v-data-table
              :items-per-page="-1"
              hide-default-footer
              :headers="optionsHeader"
              :items="item.options">
              <template #[`item.optionPrice`]="optionPrice">
                $ {{ optionPrice.item.price | separator }}
              </template>
            </v-data-table>
          </td>
        </template> -->

        <template #[`item.type`]="{ item }">
          <div
            v-for="(category) in item.category"
            :key="category.id"
            class="my-1">
            {{ category.name }}
          </div>
        </template>
        <!-- FIXME : change image -->
        <template #[`item.image`]="{item}">
          <img
            class="my-3 rounded-lg"
            :src="item.coverImage || `http://blog.sogoodweb.com/upload/510/ZDqhSBYemO.jpg`"
            alt="menu image"
            height="75">
        </template>
        <template #[`item.position`]="{item}">
          {{ item.position }}
        </template>

        <template #[`item.price`]="{item}">
          $ {{ item.price.toFixed(2,0) | separator }}
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              @click="$router.push(`/menu/add/${item.id}`)">
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>

            <menu-delete-modal
              :menu-info="item"
              @deleted="deleted" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import {
  ExportToCsv
} from 'export-to-csv'
import dayjs from 'dayjs'
import MenuProvider from '@/resources/MenuProvider'
import MenuDeleteModal from '../components/MenuDeleteModal.vue'

const menuService = new MenuProvider()
export default {
  name: 'MenuList',
  components: {
    MenuDeleteModal
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  data () {
    return {
      page: 1,
      searchText: '',
      loading: true,
      expanded: [],
      optionsHeader: [{
        text: 'Option',
        value: 'name',
        align: 'start'
      },
      {
        text: 'Price',
        value: 'optionPrice',
        align: 'start'
      }],
      menuHeaders: [
        {
          text: 'Position',
          value: 'position',
          align: 'center'

        },
        {
          text: 'Image',
          value: 'image',
          align: 'center'
        },
        {
          text: 'Menu Name',
          value: 'name'
        },
        {
          text: 'Menu Type',
          value: 'type'
        },
        {
          text: 'Price',
          value: 'price'
        },
        {
          text: '',
          value: 'action'
        }
      ],
      menuList: [],
      categoryList: [],
      filterCategory: ''
    }
  },
  watch: {
    filterCategory () {
      this.getMenuList()
    }
  },
  mounted () {
    this.getMenuList()
    this.getMenuCategory()
  },
  methods: {
    deleted () {
      this.getMenuList()
      this.getMenuCategory()
    },

    async exportData () {
      const data = this.menuList
      const exportData = []
      for (const each of data) {
        let MenuType = ''
        let Options = ''
        for (const type of each.category) {
          MenuType += ` ${type.name} /`
        }

        for (const option of each.options) {
          Options += ` ${option.name} - ${option.price} /`
        }
        exportData.push({
          MenuId: each.id,
          Name: each.name,
          createdAt: dayjs(each.createdAt).format('DD-MM-YY'),
          MenuType,
          price: each.price,
          Options

        })
      }

      const options = {
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true,
        showTitle: true,
        title: 'Menu List',
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        filename: 'Menu_list'

      }

      const csvExporter = new ExportToCsv(options)

      csvExporter.generateCsv(exportData)
    },
    async getMenuCategory () {
      try {
        this.loading = true
        const {
          data
        } = await menuService.getMenuCategory({
          limit: 999

        })
        for (const each of data.results) {
          this.categoryList.push({
            text: each.name,
            value: each.id
          })
        }
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    async getMenuList () {
      this.loading = true
      try {
        const {
          data
        } = await menuService.getMenu({
          limit: 999,
          search: this.searchText,
          category: this.filterCategory
        })
        this.menuList = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;

  height: 750px;
  overflow: auto;

}

.my-search-input {
  max-width: 300px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

.my-card {
  border-radius: 8px;
}
</style>
