<template>
  <div>
    <v-card class="my-card pa-8">
      <div class="d-flex justify-space-between">
        <div class="d-flex align-center">
          <v-btn
            icon
            @click="previousDay">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>

          <h3
            class="mx-2 my-btn"
            @click="showDatePicker = !showDatePicker">
            {{ $todate.ddddmm(date) }}
          </h3>

          <div
            v-if="showDatePicker"
            class="datepicker">
            <v-date-picker
              v-model="date"
              @change="showDatePicker = false">
            </v-date-picker>
            <v-btn
              icon
              color="red"
              @click="showDatePicker = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>

          <v-btn
            icon
            @click="nextDay">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </div>

        <div>
          <TimeSettingModal />
        </div>
      </div>

      <section class="mt-2">
        <SearchBox />
      </section>

      <section class="mt-1">
        <TimeTable />
      </section>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import SearchBox from '../components/searchBox.vue'
import TimeTable from '../components/timeTable.vue'
import TimeSettingModal from '../components/timeSettingModal.vue'

export default {
  components: {
    SearchBox,
    TimeTable,
    TimeSettingModal
  },
  data () {
    return {
      showDatePicker: false,
      date: dayjs(new Date()).format('YYYY-MM-DD'),
      loading: true,
      processing: false,
      validForm: false,
      form: {
        mid: '',
        username: '',
        password: '',
        convenienceFee: 0.00,
        isConvenienceFee: false
      },
      formValidate: {
        username: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Min 6 characters'
        ],
        required: [
          (val) => !!val || 'Required'
        ]
      }
    }
  },
  computed: {

  },
  mounted () {

  },
  methods: {
    nextDay () {
      const nextDay = dayjs(this.date).add(1, 'day')
      this.date = nextDay
    },
    previousDay () {
      const previousDay = dayjs(this.date).add(-1, 'day')
      this.date = previousDay
    }

  }
}
</script>

<style lang="scss">
.datepicker{
  position: absolute;
  top: 5%;
  z-index: 10;
}

.js-is-hidden {
  display: none !important;
}

</style>
